include ../helpers/_mixins

doctype html

<!--[if lt IE 8]>
<html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie10 lt-ie9" lang="">
<![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10" lang="">
<![endif]-->
<!--[if gt IE 9]><!-->
html.no-js(lang='')<!--<![endif]-->
  include ../../_head
  body
    //- include ../blocks/_svg-icons
    #wrapper
      // Page Content
      #page-content-wrapper
        // inner Header
        include ../blocks/_header
        // end inner Header

        // main-content
        main.main-content
          .container
            block content
        // end main-content

      // inner Footer
      include ../blocks/_footer
      // end inner Footer

      // #page-content-wrapper
    // #wrapper

    block modals
    