.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.eh-cl-icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.eh-cl-icon-cart {
  width: 0.849609375em;
}
