---
subject: Order confirmation
---

<container>
  <row class="header">
    <columns small="12">
      <row class="container-inner">
        <columns small="12">
          <p class="top-panel">Text for order confirmation
          <br>We got your order! #12334455</p>
        </columns>
      </row>
    </columns>
  </row>
</container>

<container>
  <wrapper class="container-inner">
    <spacer size="25"></spacer>
    <row class="logo-wrapper">
      <columns small="12">
        <img src="assets/img/logo.png" width="123" height="108">
      </columns>
    </row>
    <row>
      <columns small="12">
        <p>Hi John Doe! Thanks for your order, we hope you had fun shopping with us!</p>
        <spacer size="16"></spacer>
        <p><strong>Your Order</strong></p>

        <table class="order-table order-table_borderede">
          <tr>
            <th>Order Number</th>
            <td>12334455</td>
          </tr>
          <tr>
            <th>Item</th>
            <td>Lorem ipsum
              <br>
              <small>
                dolor sit amet consectetur adipisicing elit,
                <br>
                sed do eiusmod tempor</small>
            </td>
          </tr>
          <tr>
            <th>Total</th>
            <td><strong>$49.00</strong></td>
          </tr>
        </table>

        <spacer size="20"></spacer>

        <table class="order-table">
          <tr>
            <th>Payed with</th>
            <td>PayPal</td>
          </tr>
          <tr>
            <th>Shipping Address</th>
            <td>Washington Ave. 37<br>
              0978457, NY 
            </td>
          </tr>
        </table>
        <spacer size="16"></spacer>
        <a href=""><strong>Have a Question? &gt;</strong></a>
        <p><small>Zoey, Envy Her Care team</small></p>
      </columns>
    </row>
  </wrapper>
  <row class="collapse">
    <columns small="12">
      <a href="">
        <img src="assets/img/order_banner.jpg" alt="" width="600" height="249">
      </a>
    </columns>
  </row>
  <container class="container-inner">
    <row class="collapsed footer">
      <columns>
        <center>
          <menu>
            <item><img src="assets/img/fb.png" width="27" height="27" alt=""></item>
            <item><img src="assets/img/ins.png" width="27" height="27" alt=""></item>
            <item><img src="assets/img/tw.png" width="26" height="26" alt=""></item>
            <item><img src="assets/img/prs.png" width="27" height="27" alt=""></item>
          </menu>
        </center>
      </columns>
    </row>
  </container>
</container>
