.container-wrap.container-wrap__footer
  footer.main-footer
    .container
      .row
        .col-sm-8.col-md-6.footer__navs-wr
          .row
            .col-xs-6
              .footer-menu__title Information
              ul.footer-menu__nav
                li.footer-menu__nav-item
                  a(href="about-us.html") About us
                li.footer-menu__nav-item
                  a(href="") Sale
                li.footer-menu__nav-item
                  a(href="") Sitemap
                li.footer-menu__nav-item
                  a(href="faq.html") FAQ
                li.footer-menu__nav-item
                  a(href="contact.html") Contact us
                li.footer-menu__nav-item
                  a(href="size-guide.html") Size guide
                li.footer-menu__nav-item
                  a(href="") How to take care of your jewelry

            .col-xs-6
              .footer-menu__title My account
              ul.footer-menu__nav
                li.footer-menu__nav-item
                  a(href="") My orders
                li.footer-menu__nav-item
                  a(href="") My personal info
                //- li.footer-menu__nav-item
                //-   a(href="") My merchandise returns
                //- li.footer-menu__nav-item
                //-   a(href="") My credit slips
                //- li.footer-menu__nav-item
                //-   a(href="") My addresses

        .col-sm-4.col-md-4.col-md-offset-2
          .footer__logo-wr
            a(href="")
              img(src="img/svg/logo.svg", alt="footer logo", width="203", height="50").footer__logo.img-responsive
              .sr-only
                img(src="img/logo.png", alt="footer logo")
                h2 Envy Her.
          .footer__contacts
            .footer__contact-row My Company , 4578 Marmora Road, Glasgow D04 89GR
            .footer__contact-row
              span.footer__contact-label Call us now:
              |  
              span.footer__contact-value
                a(href="tel:12345679842") 1(234) 567-9842
            .footer__contact-row
              span.footer__contact-label Email:
              |  
              span.footer__contact-value
                a(href="mailto:info@demolink.org") info@demolink.org
          ul.footer__social-menu
            li.footer__social-menu-item
              a(href="")
                i.eh-icon-facebook
            li.footer__social-menu-item
              a(href="")
                i.eh-icon-instagram
            li.footer__social-menu-item
              a(href="")
                i.eh-icon-twitter
            li.footer__social-menu-item
              a(href="")
                i.eh-icon-pinterest

          .footer__copyright © 2017 My Name in Bling



