.container-wrap.container-wrap__header
  header.main-header
    .container
      .mobile-header-nav
        .header__logo-wr
          a(href="index.html")
            img(src="img/logo-new.jpg", alt="header logo", width="190", height="148").header__logo.img-responsive
            .sr-only
              //- img(src="img/logo.png", alt="header logo")
              h1 Envy Her.
        .toggle-menu.toggle-menu_left.visible-xs-block.js-mobile-menu__site-nav-btn
          span.menu-line.menu-line_top
          span.menu-line.menu-line_center
          span.menu-line.menu-line_bottom
        .toggle-menu.toggle-menu_right.visible-xs-block.js-mobile-menu__user-btn
          i.eh-icon-user

      .mobile-menu__user
        .clearfix
          .site-global-actions-header
            .clearfix
              .site-global-action-menu
                .header__help-nav.hidden-xs
                  .header__help-nav-item
                    a(href="contact.html").header__help-nav-link Contact us
                  .header__help-nav-item
                    a(href="faq.html").header__help-nav-link Need help

                .header__profile-nav
                  a(href="sign-in.html").header__profile-nav-link
                    i.eh-icon-lock
                    .sr-only Sign in / Sign up
                  a(href="my-account.html").header__profile-nav-link
                    i.eh-icon-user
                    .sr-only my account

                .header__dropdonwns-menu
                  .dropdown.dropdown_pr-1
                    a(data-target='#', href='', data-toggle='dropdown', role='button', aria-expanded='false').dropdown-btn
                      | RU
                      i.dr-caret.eh-icon-arrow-down
                    ul.dropdown-menu
                      li
                        a(href="") RU
                      li
                        a(href="") EN
                      li
                        a(href="") DH
                  .dropdown.dropdown_pr-2
                    a(data-target='#', href='', data-toggle='dropdown', role='button', aria-expanded='false').dropdown-btn
                      | $
                      i.dr-caret.eh-icon-arrow-down
                    ul.dropdown-menu
                      li
                        a(href="") $
                      li
                        a(href="") €
                .header__cart-menu
                  .header__cart-btn.dropdown
                    a(data-target='#', href='', data-toggle='dropdown', role='button', aria-expanded='false').dropdown-btn
                      span.header__cart-btn-label
                        img(src="img/svg/cart.svg", alt="cart icon", width='14.5', height="17").icon
                        span CART
                      span.header__cart-btn-counter 1 product
                    .dropdown-menu.dropdown-menu-right.dropdown-menu-cart.keep-open-on-click
                      .dropdown-menu-cart__body
                        .dropdown-menu-cart__product-list
                          .cart__product-list__custom-scrollbar.mCustomScrollbar(data-mcs-theme="minimal-dark")

                            .dropdown-menu-cart__product-item
                              .menu-cart__product-thumbnail
                                img(src="http://dummyimage.com/100x100/4d494d/fff.gif&text=placeholder+image" alt="placeholder+image").img-responsive
                              .menu-cart__product-info
                                .menu-cart__product-title
                                  span.menu-cart__product-counter 1x
                                  |  
                                  span Silver Necl...
                                .menu-cart__product-price $30.54
                              span.menu-cart__product-remove
                                i.eh-icon-close
                            .dropdown-menu-cart__product-item
                              .menu-cart__product-thumbnail
                                img(src="http://dummyimage.com/100x100/4d494d/fff.gif&text=placeholder+image" alt="placeholder+image").img-responsive
                              .menu-cart__product-info
                                .menu-cart__product-title
                                  span.menu-cart__product-counter 1x
                                  |  
                                  span Silver Necl...
                                .menu-cart__product-price $30.54
                              span.menu-cart__product-remove
                                i.eh-icon-close
                            .dropdown-menu-cart__product-item
                              .menu-cart__product-thumbnail
                                img(src="http://dummyimage.com/100x100/4d494d/fff.gif&text=placeholder+image" alt="placeholder+image").img-responsive
                              .menu-cart__product-info
                                .menu-cart__product-title
                                  span.menu-cart__product-counter 1x
                                  |  
                                  span Silver Necl...
                                .menu-cart__product-price $30.54
                              span.menu-cart__product-remove
                                i.eh-icon-close


                      .dropdown-menu-cart__footer
                        .dropdown-menu-cart__total-row
                          .dropdown-menu-cart__total-label Shipping
                          .dropdown-menu-cart__total-value Free shipping!
                        .dropdown-menu-cart__total-row
                          .dropdown-menu-cart__total-label Total
                          .dropdown-menu-cart__total-value.dr-cart-value__strong $30.54

                        a(href="").btn.btn-info.btn-lg.btn-block
                          | Check out 
                          i.eh-icon-arrow-right-bl
                    

            .clearfix
              .header__search-form__wr
                form.header__search-form
                  input(type="text" placeholder="Search").header__search-form-input
                  button(type="submit").header__search-form-button
                    i.eh-icon-search

      .mobile-menu__site-nav
        .clearfix
          .site-nav-wr
            nav.site-nav
              ul.site-nav__list
                li.site-nav__list-item
                  a.site-nav__list-link.js-site-nav__list-link(href="") Necklaces
                li.site-nav__list-item
                  a.site-nav__list-link.js-site-nav__list-link(href="") Bracelets
                li.site-nav__list-item
                  a.site-nav__list-link.js-site-nav__list-link(href="") Rings
                  include _mega-menu

                li.site-nav__list-item
                  a.site-nav__list-link.js-site-nav__list-link(href="") Collections
                li.site-nav__list-item
                  a.site-nav__list-link.js-site-nav__list-link(href="") Gifts
                li.site-nav__list-item
                  a.site-nav__list-link.js-site-nav__list-link(href="") Best sellers
                  include _mega-menu-2

                li.site-nav__list-item
                  a.site-nav__list-link.js-site-nav__list-link(href="") Create your own
                li.site-nav__list-item
                  a.site-nav__list-link.js-site-nav__list-link.site-nav__list-link_sale(href="") Sale

              ul.site-nav__list.site-nav__list_categories-sidebar.visible-xs-block
                li.site-nav__list-item
                  a.site-nav__list-link.js-site-nav__list-link(href="") WHAT'S HOT
                  .mega-menu__wr
                    .mega-menu
                      ul.mega-menu__list
                        li.mega-menu__list-item
                          a(href="") Christmas Gifts Collection
                        li.mega-menu__list-item
                          a(href="") Monogram Collection
                        li.mega-menu__list-item
                          a(href="") Yours Truly Collection
                        li.mega-menu__list-item
                          a(href="") Best Sellers
                        li.mega-menu__list-item
                          a(href="") New Arrivals
                        li.mega-menu__list-item
                          a(href="") Ring Collection
                        li.mega-menu__list-item
                          a(href="") Bar Necklaces
                        li.mega-menu__list-item
                          a(href="") Infinity Collection

                li.site-nav__list-item
                  a.site-nav__list-link.js-site-nav__list-link(href="") CREATE YOUR OWN
                  .mega-menu__wr
                    .mega-menu
                      ul.mega-menu__list
                        li.mega-menu__list-item
                          a(href="") My Charm Necklace
                        li.mega-menu__list-item
                          a(href="") My Floating Lockets
                        li.mega-menu__list-item
                          a(href="") My Photo Necklace
                        li.mega-menu__list-item
                          a(href="") My Coin Lockets

                li.site-nav__list-item
                  a.site-nav__list-link.js-site-nav__list-link(href="") SHOP FOR
                  .mega-menu__wr
                    .mega-menu
                      ul.mega-menu__list
                        li.mega-menu__list-item
                          a(href="") Mothers
                        li.mega-menu__list-item
                          a(href="") New Mom
                        li.mega-menu__list-item
                          a(href="") Grandmother
                        li.mega-menu__list-item
                          a(href="") Men
                        li.mega-menu__list-item
                          a(href="") Kids
                        li.mega-menu__list-item
                          a(href="") Baby
                        li.mega-menu__list-item
                          a(href="") Couples
                        li.mega-menu__list-item
                          a(href="") Family Tree Collection
