.mega-menu__wr
  .mega-menu
    .mega-menu__one-col
      //- .mega-menu__list-title Collections
      ul.mega-menu__list
        li.mega-menu__list-item
          a(href="") Yours Truly Collection
        li.mega-menu__list-item
          a(href="") Monogram Collection
        li.mega-menu__list-item
          a(href="") Statement Collection
        li.mega-menu__list-item
          a(href="") Floating Lockets-Packages

    .mega-menu__one-col
      //- .mega-menu__list-title Unique
      ul.mega-menu__list
        li.mega-menu__list-item
          a(href="") Love Collection
        li.mega-menu__list-item
          a(href="") Family Tree Collection
        li.mega-menu__list-item
          a(href="") Disc and Circles Collection
        li.mega-menu__list-item
          a(href="") Infinity Collection

    .mega-menu__two-col
      .mega-menu__thumbnail
        a(href="")
          img(src="imgBackEnd/mega-menu-img-3.jpg", alt="").img-responsive
