.popular-products__list
  - for (var x = 0; x < 3; x++)
    .popular-product__list-item
      .popular-product__list-item-thumbnail
        a(href="")
          img(src="imgBackEnd/popular-product-1.jpg", alt="").img-responsive
      .popular-product__list-item-info
        .popular-product__list-item-title Personalized Baby Feet Necklace
        .popular-product__list-item-price
          span.popular-product__list-item-price_new $49.95
          span.popular-product__list-item-price_old $66.60

    .popular-product__list-item
      .popular-product__list-item-thumbnail
        a(href="")
          img(src="imgBackEnd/popular-product-2.jpg", alt="").img-responsive
      .popular-product__list-item-info
        .popular-product__list-item-title Bar Necklace in Silver
        .popular-product__list-item-price
          span.popular-product__list-item-price_new $49.95
          span.popular-product__list-item-price_old $66.60