.products__list
  - for (var x = 0; x < 3; x++)
    .products__list-item
      .product-sale SALE!
      .products__list-item-thumbnail
        a(href="product-details.html")
          img(src="imgBackEnd/product-1.jpg", alt="").img-responsive
      .products__list-item-info
        .products__list-item-title Birthstone Necklace
        .products__list-item-description Engraved Mom Birthstone Necklace
        .products__list-item-price
          span.products__list-item-price_new $49.95
          span.products__list-item-price_old $66.60
        .products__list-item-btn-wr
          button(type="button").btn.btn-gray.btn-bl.products__add-to-cart-btn add to cart

    .products__list-item
      .product-new NEW
      .products__list-item-thumbnail
        a(href="product-details.html")
          img(src="imgBackEnd/product-3.jpg", alt="").img-responsive
      .products__list-item-info
        .products__list-item-title Birthstone Necklace
        .products__list-item-description Engraved Mom Birthstone Necklace
        .products__list-item-price
          span.products__list-item-price_new $49.95
          span.products__list-item-price_old $66.60
        .products__list-item-btn-wr
          button(type="button").btn.btn-gray.btn-bl.products__add-to-cart-btn add to cart

  if (category)
    - for (var x = 0; x < 3; x++)
      .products__list-item
        .product-new NEW
        .product-sale SALE!
        .products__list-item-thumbnail
          a(href="product-details.html")
            img(src="imgBackEnd/product-2.jpg", alt="").img-responsive
        .products__list-item-info
          .products__list-item-title Birthstone Necklace
          .products__list-item-description Engraved Mom Birthstone Necklace
          .products__list-item-price
            span.products__list-item-price_new $49.95
            span.products__list-item-price_old $66.60
          .products__list-item-btn-wr
            button(type="button").btn.btn-gray.btn-bl.products__add-to-cart-btn add to cart
