.products__manu
  .products__manu-sm
    .products__manu-title WHAT'S HOT
    ul.products__manu-list
      li.products__manu-list-item
        a(href="category.html") Christmas Gifts Collection
      li.products__manu-list-item
        a(href="category.html") Monogram Collection
      li.products__manu-list-item
        a(href="category.html") Yours Truly Collection
      li.products__manu-list-item
        a(href="category.html") Best Sellers
      li.products__manu-list-item
        a(href="category.html") New Arrivals
      li.products__manu-list-item
        a(href="category.html") Ring Collection
      li.products__manu-list-item
        a(href="category.html") Bar Necklaces
      li.products__manu-list-item
        a(href="category.html") Infinity Collection

  .products__manu-sm
    .products__manu-title CREATE YOUR OWN
    ul.products__manu-list
      li.products__manu-list-item
        a(href="category.html") MY Charm Necklace
      li.products__manu-list-item
        a(href="category.html") MY Floating Lockets
      li.products__manu-list-item
        a(href="category.html") MY Photo Necklace
      li.products__manu-list-item
        a(href="category.html") MY Coin Lockets
  
  .products__manu-sm
    .products__manu-title SHOP FOR
    ul.products__manu-list
      li.products__manu-list-item
        a(href="category.html") Mothers
      li.products__manu-list-item
        a(href="category.html") New Mom
      li.products__manu-list-item
        a(href="category.html") Grandmother
      li.products__manu-list-item
        a(href="category.html") Men
      li.products__manu-list-item
        a(href="category.html") Kids
      li.products__manu-list-item
        a(href="category.html") Baby
      li.products__manu-list-item
        a(href="category.html") Couples
      li.products__manu-list-item
        a(href="category.html") Family Tree Collection