.site-info-blocks-wr.clearfix
  .site-info-block-col
    .site-info-block.follow-us-col-inner.mCustomScrollbar(data-mcs-theme="minimal-dark")
      .follow-us-wr
        .follow-us-title
          a(href='https://www.facebook.com/EnvyHerjewelry/', target='_blank') follow us on facebook

        .follow-us.follow-us_theme
          .fb-page.fb_iframe_widget(data-href='https://www.facebook.com/EnvyHerjewelry/', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true', fb-xfbml-state='rendered', fb-iframe-plugin-query='adapt_container_width=true&app_id=325927864123853&container_width=308&hide_cover=false&href=https%3A%2F%2Fwww.facebook.com%2FEnvyHerjewelry%2F&locale=en_GB&sdk=joey&show_facepile=true&small_header=false')
            span(style='vertical-align: bottom; width: 308px; height: 214px;')
              iframe(name='f525e67572a3e4', width='1000px', height='1000px', frameborder='0', allowtransparency='true', allowfullscreen='true', scrolling='no', title='fb:page Facebook Social Plugin', src='https://www.facebook.com/v2.8/plugins/page.php?adapt_container_width=true&app_id=325927864123853&channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fao6eUeuGXQq.js%3Fversion%3D42%23cb%3Df39fdff78826fc%26domain%3Ddev.envyher.com%26origin%3Dhttp%253A%252F%252Fdev.envyher.com%252Ff122008104bc224%26relation%3Dparent.parent&container_width=308&hide_cover=false&href=https%3A%2F%2Fwww.facebook.com%2FEnvyHerjewelry%2F&locale=en_GB&sdk=joey&show_facepile=true&small_header=false', style='border: none; visibility: visible; width: 308px; height: 214px; pointer-events: auto;')

  .site-info-block-col
    .site-info-block
      .owl-carousel.owl-theme.js-owl-full-width
        a(href="")
          img(src="imgBackEnd/slider-min-img.jpg", alt="")
        a(href="")
          img(src="imgBackEnd/slider-min-img-2.jpg", alt="")
  .site-info-block-col.site-info-block-col_tb-full-width
    .site-info-block.mCustomScrollbar(data-mcs-theme="minimal-dark")
      .site-main-shipping-info-list
        .site-main-shipping-info
          .main-shipping-info__icon-wr
            i.eh-icon-free-shipping
          .main-shipping-info__text-wr
            .main-shipping-info-title free shipping
            .main-shipping-info-text We offer FREE Shipping on ALL orders placed with Standard Shipping. 
        .site-main-shipping-info
          .main-shipping-info__icon-wr
            i.eh-icon-gift-cards
          .main-shipping-info__text-wr
            .main-shipping-info-title gift cards
            .main-shipping-info-text Nunc et molestie metus. Duis cond vel lectus non tincidunt.
        .site-main-shipping-info
          .main-shipping-info__icon-wr
            i.eh-icon-return
          .main-shipping-info__text-wr
            .main-shipping-info-title 45 days return
            .main-shipping-info-text Praesent ac risus orci. Pellentesque quis quam augue.