svg(style='position: absolute; width: 0; height: 0; overflow: hidden;', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
  defs
    symbol#eh-cl-icon-cart(viewbox='0 0 27 32')
      title cart
      path.path1(fill='var(--color1, #00a28a)', d='M0 9.6h27.2v16c0 3.535-2.865 6.4-6.4 6.4h-14.4c-3.535 0-6.4-2.865-6.4-6.4v-16z')
      path.path2(fill='none', stroke='#000', stroke-width='3.2', stroke-miterlimit='4', stroke-linecap='butt', stroke-linejoin='miter', d='M8 15.2v-8c0-3.093 2.507-5.6 5.6-5.6s5.6 2.507 5.6 5.6v8')
