@font-face {
  font-family: 'envyHer';
  src:  url('fonts/envyHer.eot?j0i25i');
  src:  url('fonts/envyHer.eot?j0i25i#iefix') format('embedded-opentype'),
    url('fonts/envyHer.ttf?j0i25i') format('truetype'),
    url('fonts/envyHer.woff?j0i25i') format('woff'),
    url('fonts/envyHer.svg?j0i25i#envyHer') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="eh-icon-"], [class*=" eh-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'envyHer' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eh-icon-facebook-2:before {
  content: "\e92d";
}
.eh-icon-c-minus:before {
  content: "\e92b";
}
.eh-icon-c-pluse:before {
  content: "\e92c";
}
.eh-icon-return:before {
  content: "\e92a";
}
.eh-icon-airplane:before {
  content: "\e928";
}
.eh-icon-question:before {
  content: "\e929";
}
.eh-icon-security:before {
  content: "\e927";
}
.eh-icon-error:before {
  content: "\e926";
}
.eh-icon-check:before {
  content: "\e925";
}
.eh-icon-trash:before {
  content: "\e923";
}
.eh-icon-minus:before {
  content: "\e924";
}
.eh-icon-plus:before {
  content: "\e922";
}
.eh-icon-menu:before {
  content: "\e921";
}
.eh-icon-sort:before {
  content: "\e91f";
}
.eh-icon-reload:before {
  content: "\e920";
}
.eh-icon-address:before {
  content: "\e91a";
}
.eh-icon-credit-slips:before {
  content: "\e91b";
}
.eh-icon-order-history:before {
  content: "\e91c";
}
.eh-icon-personal-info:before {
  content: "\e91d";
}
.eh-icon-returns:before {
  content: "\e91e";
}
.eh-icon-about-payment:before {
  content: "\e913";
}
.eh-icon-about-products:before {
  content: "\e914";
}
.eh-icon-coupon-code:before {
  content: "\e915";
}
.eh-icon-exchange-return:before {
  content: "\e916";
}
.eh-icon-fail-delivery:before {
  content: "\e917";
}
.eh-icon-order-status:before {
  content: "\e918";
}
.eh-icon-shipping-delivery:before {
  content: "\e919";
}
.eh-icon-arrow-down-bl:before {
  content: "\e90f";
}
.eh-icon-arrow-up-bl:before {
  content: "\e910";
}
.eh-icon-arrow-left-bl:before {
  content: "\e911";
}
.eh-icon-arrow-right-bl:before {
  content: "\e912";
}
.eh-icon-arrow-left:before {
  content: "\e90c";
}
.eh-icon-arrow-right:before {
  content: "\e90d";
}
.eh-icon-arrow-up:before {
  content: "\e90e";
}
.eh-icon-arrow-down:before {
  content: "\e90b";
}
.eh-icon-lock:before {
  content: "\e904";
}
.eh-icon-search:before {
  content: "\e903";
}
.eh-icon-call-us:before {
  content: "\e900";
}
.eh-icon-free-shipping:before {
  content: "\e901";
}
.eh-icon-gift-cards:before {
  content: "\e902";
}
.eh-icon-close:before {
  content: "\e905";
}
.eh-icon-user:before {
  content: "\e906";
}
.eh-icon-facebook:before {
  content: "\e907";
}
.eh-icon-instagram:before {
  content: "\e908";
}
.eh-icon-pinterest:before {
  content: "\e909";
}
.eh-icon-twitter:before {
  content: "\e90a";
}

