@import "variables";

@font-face {
  font-family: 'envyHer';
  src:  url('#{$icomoon-font-path}/envyHer.eot?j0i25i');
  src:  url('#{$icomoon-font-path}/envyHer.eot?j0i25i#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/envyHer.ttf?j0i25i') format('truetype'),
    url('#{$icomoon-font-path}/envyHer.woff?j0i25i') format('woff'),
    url('#{$icomoon-font-path}/envyHer.svg?j0i25i#envyHer') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="eh-icon-"], [class*=" eh-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'envyHer' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eh-icon-facebook-2 {
  &:before {
    content: $eh-icon-facebook-2;
  }
}
.eh-icon-c-minus {
  &:before {
    content: $eh-icon-c-minus;
  }
}
.eh-icon-c-pluse {
  &:before {
    content: $eh-icon-c-pluse;
  }
}
.eh-icon-return {
  &:before {
    content: $eh-icon-return;
  }
}
.eh-icon-airplane {
  &:before {
    content: $eh-icon-airplane;
  }
}
.eh-icon-question {
  &:before {
    content: $eh-icon-question;
  }
}
.eh-icon-security {
  &:before {
    content: $eh-icon-security;
  }
}
.eh-icon-error {
  &:before {
    content: $eh-icon-error;
  }
}
.eh-icon-check {
  &:before {
    content: $eh-icon-check;
  }
}
.eh-icon-trash {
  &:before {
    content: $eh-icon-trash;
  }
}
.eh-icon-minus {
  &:before {
    content: $eh-icon-minus;
  }
}
.eh-icon-plus {
  &:before {
    content: $eh-icon-plus;
  }
}
.eh-icon-menu {
  &:before {
    content: $eh-icon-menu;
  }
}
.eh-icon-sort {
  &:before {
    content: $eh-icon-sort;
  }
}
.eh-icon-reload {
  &:before {
    content: $eh-icon-reload;
  }
}
.eh-icon-address {
  &:before {
    content: $eh-icon-address;
  }
}
.eh-icon-credit-slips {
  &:before {
    content: $eh-icon-credit-slips;
  }
}
.eh-icon-order-history {
  &:before {
    content: $eh-icon-order-history;
  }
}
.eh-icon-personal-info {
  &:before {
    content: $eh-icon-personal-info;
  }
}
.eh-icon-returns {
  &:before {
    content: $eh-icon-returns;
  }
}
.eh-icon-about-payment {
  &:before {
    content: $eh-icon-about-payment;
  }
}
.eh-icon-about-products {
  &:before {
    content: $eh-icon-about-products;
  }
}
.eh-icon-coupon-code {
  &:before {
    content: $eh-icon-coupon-code;
  }
}
.eh-icon-exchange-return {
  &:before {
    content: $eh-icon-exchange-return;
  }
}
.eh-icon-fail-delivery {
  &:before {
    content: $eh-icon-fail-delivery;
  }
}
.eh-icon-order-status {
  &:before {
    content: $eh-icon-order-status;
  }
}
.eh-icon-shipping-delivery {
  &:before {
    content: $eh-icon-shipping-delivery;
  }
}
.eh-icon-arrow-down-bl {
  &:before {
    content: $eh-icon-arrow-down-bl;
  }
}
.eh-icon-arrow-up-bl {
  &:before {
    content: $eh-icon-arrow-up-bl;
  }
}
.eh-icon-arrow-left-bl {
  &:before {
    content: $eh-icon-arrow-left-bl;
  }
}
.eh-icon-arrow-right-bl {
  &:before {
    content: $eh-icon-arrow-right-bl;
  }
}
.eh-icon-arrow-left {
  &:before {
    content: $eh-icon-arrow-left;
  }
}
.eh-icon-arrow-right {
  &:before {
    content: $eh-icon-arrow-right;
  }
}
.eh-icon-arrow-up {
  &:before {
    content: $eh-icon-arrow-up;
  }
}
.eh-icon-arrow-down {
  &:before {
    content: $eh-icon-arrow-down;
  }
}
.eh-icon-lock {
  &:before {
    content: $eh-icon-lock;
  }
}
.eh-icon-search {
  &:before {
    content: $eh-icon-search;
  }
}
.eh-icon-call-us {
  &:before {
    content: $eh-icon-call-us;
  }
}
.eh-icon-free-shipping {
  &:before {
    content: $eh-icon-free-shipping;
  }
}
.eh-icon-gift-cards {
  &:before {
    content: $eh-icon-gift-cards;
  }
}
.eh-icon-close {
  &:before {
    content: $eh-icon-close;
  }
}
.eh-icon-user {
  &:before {
    content: $eh-icon-user;
  }
}
.eh-icon-facebook {
  &:before {
    content: $eh-icon-facebook;
  }
}
.eh-icon-instagram {
  &:before {
    content: $eh-icon-instagram;
  }
}
.eh-icon-pinterest {
  &:before {
    content: $eh-icon-pinterest;
  }
}
.eh-icon-twitter {
  &:before {
    content: $eh-icon-twitter;
  }
}

