$icomoon-font-path: "fonts" !default;

$eh-icon-facebook-2: "\e92d";
$eh-icon-c-minus: "\e92b";
$eh-icon-c-pluse: "\e92c";
$eh-icon-return: "\e92a";
$eh-icon-airplane: "\e928";
$eh-icon-question: "\e929";
$eh-icon-security: "\e927";
$eh-icon-error: "\e926";
$eh-icon-check: "\e925";
$eh-icon-trash: "\e923";
$eh-icon-minus: "\e924";
$eh-icon-plus: "\e922";
$eh-icon-menu: "\e921";
$eh-icon-sort: "\e91f";
$eh-icon-reload: "\e920";
$eh-icon-address: "\e91a";
$eh-icon-credit-slips: "\e91b";
$eh-icon-order-history: "\e91c";
$eh-icon-personal-info: "\e91d";
$eh-icon-returns: "\e91e";
$eh-icon-about-payment: "\e913";
$eh-icon-about-products: "\e914";
$eh-icon-coupon-code: "\e915";
$eh-icon-exchange-return: "\e916";
$eh-icon-fail-delivery: "\e917";
$eh-icon-order-status: "\e918";
$eh-icon-shipping-delivery: "\e919";
$eh-icon-arrow-down-bl: "\e90f";
$eh-icon-arrow-up-bl: "\e910";
$eh-icon-arrow-left-bl: "\e911";
$eh-icon-arrow-right-bl: "\e912";
$eh-icon-arrow-left: "\e90c";
$eh-icon-arrow-right: "\e90d";
$eh-icon-arrow-up: "\e90e";
$eh-icon-arrow-down: "\e90b";
$eh-icon-lock: "\e904";
$eh-icon-search: "\e903";
$eh-icon-call-us: "\e900";
$eh-icon-free-shipping: "\e901";
$eh-icon-gift-cards: "\e902";
$eh-icon-close: "\e905";
$eh-icon-user: "\e906";
$eh-icon-facebook: "\e907";
$eh-icon-instagram: "\e908";
$eh-icon-pinterest: "\e909";
$eh-icon-twitter: "\e90a";

