// ==========================================================================
//    Author's custom styles
// ==========================================================================
html {
    font-size: 62.5%;
}

body {
    min-width: 320px;
}

.clearfix:before,
.clearfix:after
{
    display: table;

    content: ' ';
}
.clearfix:after
{
    clear: both;
}
// 
// For IE 6/7 only
// Include this rule to trigger hasLayout and contain floats.
// 
.clearfix
{
    overflow: initial;
    *zoom: 1;
}

%sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.main-content__header {
  @extend .clearfix;
}

.main-content__header_border {
  margin-bottom: 20px;
  border-bottom: 1px solid $gray-light;
  @include breakpoint($screen-sm) {
    margin-bottom: 40px;
  }
}

.main-content__title {
  color: #153648;
  font-family: 'Lora', sans-serif;
  font-size: 26px;
  font-weight: 400;
  margin: 0 0 10px;
  overflow: hidden;
  line-height: 1.3;
  @include breakpoint($screen-sm) {
    font-size: 32px;
    float: left;
  }
}

.main-content__title_up {
  @include breakpoint($screen-sm) {
    margin-top: -10px;
  }
}

.hr_after-breadcrumb {
  + .section-with-sidebar {
    .main-content__title_up {
      margin-top: -15px;
      margin-bottom: 20px;
    }
  }
}

.shopping-cart__contains {
  overflow: hidden;
  margin-bottom: 10px;
  text-shadow: 0.7px 0.7px 0 white;
  color: #0c0c0c;
  font-size: 15px;
  font-weight: 900;
  @include breakpoint($screen-sm) {
   text-align: right;
   padding: 14px 0 0 20px;
  }
}

.icon-l {
  margin-right: 1ex;
}

.icon-r {
  margin-left: 1ex;
}

.primary-2-link {
  color: $brand-primary-2;
  text-decoration: underline;
}

.text-primary-2 {
  color: $brand-primary-2;
}
