@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');


$icomoon-font-path: "../fonts/envyHer/fonts" !default;
@import '../../fonts/envyHer/style';
