.btn-bl {
  font-weight: 900;
}

.btn {
  @extend %transition;
}

.btn-default {
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #fff;
    background-color: $brand-primary;
        border-color: $brand-primary;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      color: $btn-default-color;
    }
  }
}

.btn-primary-2 {
  @include button-variant($btn-primary-color, $brand-primary-2, $brand-primary-2);
}

.btn-gray {
  @include button-variant(#000, #c9cbcd, #c9cbcd);
}