.custom-select {
  display: inline-block;
  max-width: 100%;
  $select-border-width: ($border-width * 2);
  height: $input-height-base;
  padding: $padding-base-vertical 30px $padding-base-vertical $padding-base-horizontal;
  line-height: $custom-select-line-height;
  color: $custom-select-color;
  vertical-align: middle;
  background: $custom-select-bg $custom-select-indicator no-repeat right $custom-select-padding-x center;
  background-size: $custom-select-bg-size;
  border: $custom-select-border-width solid $custom-select-border-color;
  @include border-radius($custom-select-border-radius);
  // Use vendor prefixes as `appearance` isn't part of the CSS spec.
  -moz-appearance: none;
  -webkit-appearance: none;

  &:focus {
    border-color: $custom-select-focus-border-color;
    outline: none;
    @include box-shadow($custom-select-focus-box-shadow);

    &::-ms-value {
      // For visual consistency with other platforms/browsers,
      // supress the default white text on blue background highlight given to
      // the selected option text when the (still closed) <select> receives focus
      // in IE and (under certain conditions) Edge.
      // See https://github.com/twbs/bootstrap/issues/19398.
      color: $input-color;
      background-color: $input-bg;
    }
  }

  &:disabled {
    color: $custom-select-disabled-color;
    cursor: $cursor-disabled;
    background-color: $custom-select-disabled-bg;
  }

  // Hides the default caret in IE11
  &::-ms-expand {
    opacity: 0;
  }
}

.custom-select-sm {
  padding-top: 2px;
  padding-bottom: 4px;
  font-size: $custom-select-sm-font-size;
  &:not([multiple]) {
    height: 26px;
    min-height: 26px;
  }
}


// // File
// //
// // Custom file input.

.custom-file {
  position: relative;
  display: inline-block;
  max-width: 100%;
  height: $custom-file-height;
  margin-bottom: 0;
  cursor: pointer;
}

.custom-file-input {
  min-width: $custom-file-width;
  max-width: 100%;
  width: 100%;
  height: $custom-file-height;
  margin: 0;
  opacity: 0;
  position: relative;
  z-index: 7;

  &:focus ~ .custom-file-control {
    @include box-shadow($custom-file-focus-box-shadow);
    border-color: $brand-primary;
  }
}

.custom-file-control {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  height: $custom-file-height;
  padding: $custom-file-padding-y 120px $custom-file-padding-y $custom-file-padding-x;
  line-height: $custom-file-line-height;
  color: $custom-file-color;
  pointer-events: none;
  user-select: none;
  background-color: $custom-file-bg;
  border: $custom-file-border-width solid $custom-file-border-color;
  @include border-radius($custom-file-border-radius);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


.custom-file-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    display: block;
    user-select: none;
    pointer-events: none;
    height: $custom-file-height;
    padding: $custom-file-padding-y $custom-file-padding-x;
    line-height: $custom-file-line-height;
    color: $custom-file-button-color;
    background-color: $custom-file-button-bg;
    border: $custom-file-border-width solid $brand-primary;
    @include border-radius(0 $custom-file-border-radius $custom-file-border-radius 0);
}


// custom-checbox

.checkbox-group,
.radio-group {
    padding-top: 5px;
    padding-left: 20px;
}

.custom-checkbox,
.custom-radio {
  padding: 5px 0 !important;
  input[type="checkbox"],
  input[type="radio"] {
    width: 16px;
    height: 16px;
    margin: 0 3px 0 0;

    vertical-align: top;
    + label {
      cursor: pointer;
      min-height: 16px;
      &:before {
        position: absolute;
        top: 2px;
        left: 0;

        width: 16px;
        height: 16px;

        content: '';

        border: 1px solid #cbcdd1;
      }
      &:after {
        position: absolute;
        top: 6px;
        left: 3px;

        width: 10px;
        height: 6px;

        content: '';

        border-width: 0 0 2px 2px;
        border-style: solid;
        border-color: transparent transparent $brand-primary $brand-primary;

        @include transition(all .2s);
        @include transform(rotate(-50deg));
        @include opacity(0);
      }
    }
    &:not(checked) {
      position: absolute;

      opacity: 0;
      + label {
        position: relative;

        padding: 0 0 0 22px;
      }
    }
    &:checked {
      + label {
        // &:before {

        // }
        &:after {
          @include opacity(1);
        }
      }
    }
    &:focus + label:before {
      @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($input-border-focus, 0.6));
    }
    &:disabled {
       + label {
        @include opacity(.6);
       }
    }
  }
}

.custom-radio {
  input[type="radio"] {
    &:not(checked) {
      + label {
        &:before {
          position: absolute;
          top: 2px;
          left: 0;

          width: 16px;
          height: 16px;

          content: '';

          border: 1px solid #cbcdd1;
          background-color: #fff;

          @include border-radius(50%);
        }
        &:after {
          position: absolute;
          top: 5px;
          left: 3px;

          width: 10px;
          height: 10px;

          content: '';

          border: none;
          background: $brand-primary;

          @include border-radius(50%);
          @include transition(all .2s);
          @include transform(none);
          @include opacity(0);
        }
      }
    }
  }
}

.form-group_light-label {
  label {
    color: #7a7b7e;
    font-size: 12px;
    padding-top: 1px !important;
    a {
      color: #352d2b;
    }
  }
}
