.dropdown_pr-1 {
  .dropdown-btn {
    background-color: $brand-primary;
    color: #fff;
  }
  .dropdown-menu {
    background-color: $brand-primary;
    border: none;
    a {
      color: #fff;
      &:hover {
        background-color: darken($brand-primary, 5%);
        color: #fff;
      }
    }
  }
}

.dropdown_pr-2 {
  .dropdown-btn {
    background-color: $brand-primary-2;
    color: #fff;
  }
  .dropdown-menu {
    border: none;
    background-color: $brand-primary-2;
    a {
      color: #fff;
      &:hover {
        background-color: darken($brand-primary-2, 5%);
        color: #fff;
      }
    }
  }
}

.dropdown-btn {
  min-width: 50px;
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  padding: 2px 5px;
  text-align: center;
  @include border-radius(2px);
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.dr-caret {
  margin-left: 5px;
  line-height: 1;
}

.dropdown-menu {
  @include box-shadow(1px 1.7px 9px rgba(0, 0, 0, 0.25));
}