label {
  color: #0c0c0c;
  &.required {
    position: relative;
    padding-left: 1ex;
    &:before {
      position: absolute;
      left: 0;
      content: '*';
      color: $brand-danger;
    }
  }
  a {
    text-decoration: underline;
    color: #8e8e91;
    &:hover {
      text-decoration: none;
    }
  }
}

.custom-file-wr {
  width: 100%;
}

.form-control {
  @include box-shadow(none);
  .has-success & {
    background-color: $state-success-bg;
    color: $state-success-text;
  }
  .has-warning & {
    background-color: $state-warning-bg;
    color: $state-warning-text;
  }
  .has-error & {
    background-color: $state-danger-bg;
    color: $state-danger-text;
  }
}

.form-group_max-w {
  max-width: 380px;
}

.form-hint {
  text-shadow: 0.7px 0.7px 0 white;
  font-size: 13px;
  font-weight: 400;
}

.form-hint_danger {
  color: $brand-danger;
}

.form-hint_strong {
  font-weight: 900;
}

input[type=number] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.form-control-feedback {
  &[class^="eh-icon-"],
  &[class*=" eh-icon-"] {
    line-height: $input-height-base;
  }
}

.form-group_help-block-right {
  position: relative;
}

.help-block_right {
  @include breakpoint($screen-sm) {
    position: absolute;
    left: 100%;
    @include align(vertical);
    margin: 0 0 0 20px;
    width: 300px;
  }
}

.label-icon {
  margin-right: 10px;
}
