.mega-menu__wr {
  // width: 100%;
  background-color: #fff;
  margin-left: floor(($grid-gutter-width / -2));
  margin-right: floor(($grid-gutter-width / -2));
  padding-right: floor(($grid-gutter-width / 2));
  padding-left: floor(($grid-gutter-width / 2));
  @include breakpoint($screen-sm) {
    z-index: 999;
    top: 100%;
    left: 0;
    right: 0;
    position: absolute;
    @include box-shadow(0 5px 9px rgba(0, 0, 0, 0.14));
    margin: 0;
    padding: 0;
  }
  @include breakpoint($screen-lg) {
  }
}

.mega-menu {
  @extend .clearfix;
  padding: 10px 0;
  @include breakpoint($screen-sm) {
    padding: 30px;
  }
}

.mega-menu__list-title {
  color: #0c0c0c;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
  font-weight: 900;
  text-transform: uppercase;
  @include breakpoint($screen-sm) {
    font-size: 16px;
    line-height: 20px;
  }
}

.mega-menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mega-menu__one-col {
  margin-bottom: 10px;
  @include breakpoint(400px) {
    @include column(1/2, $cycle: 2, $gutter: 4);
    margin-bottom: 15px;
  }
  @include breakpoint($screen-sm) {
    @include column(1/4, $cycle: 4, $gutter: 2.8);
    margin-bottom: 15px;
  }
}

.site-nav__list_categories-sidebar {
  .mega-menu__list-item {
    @include breakpoint(400px) {
      @include column(1/2, $cycle: 2, $gutter: 4);
    }
  }
}

.mega-menu__two-col {
  margin-bottom: 10px;
  @include breakpoint(400px) {
    @include column(1/2, $cycle: 2, $gutter: 4);
    margin-bottom: 15px;
  }
  @include breakpoint($screen-sm) {
    @include column(2/4, $cycle: 3, $gutter: 2.8);
    margin-bottom: 15px;
  }
}

.mega-menu__list-item {
  a {
    display: inline-block;
    padding: 2px 0;
    color: #606d74;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    @include breakpoint($screen-md) {
      font-size: 16px;
      line-height: 20px;
      padding: 5px 0;
    }
  }
}

.mega-menu__wr {
  @extend %transition;
  @media (max-width: $screen-md) {
    overflow: hidden;
    max-height: 0;
    .mega-menu_active & {
      max-height: 1000px;
    }
  }
  @include breakpoint($screen-sm) {
    visibility:hidden;
    opacity:0;
  }
}

@include breakpoint($screen-sm) {
  .site-nav__list-item {
    &:hover {
      .mega-menu__wr {
        visibility:visible;
        opacity:1;
      }
    }
  }
}
