.modal-dialog-pay {
  // height: 700px;
  height: calc(100% - 20px);
  max-height: 800px;
  @include breakpoint($screen-sm) {
    height: calc(100% - 60px);
  }
  .modal-content, .modal-body {
    width: 100%;
    height: 100%;
  }
  .embed-responsive {
    width: 100%;
    height: calc(100% - 20px);
  }
}
