//nav

$nav-color:             $brand-primary;
$nav-color-hover:       $brand-primary;
$nav-font-size:         30px;
$nav-rounded:           0;
$nav-margin:            0;
$nav-padding:           10px;
$nav-background:        transparent;
$nav-background-hover:  transparent;
$nav-disabled-opacity:  0.5 !default;

//dots

$dot-width:       10px !default;
$dot-height:      10px !default;
$dot-rounded:     30px !default;
$dot-margin:      5px 5px;
$dot-background:    #000;
$dot-background-active: $brand-info;

@import "../bower_components/owl.carousel/src/scss/theme";

.owl-carousel .owl-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.hp-banner__slider {
  margin-bottom: 20px;
}

.carusel-big-img-wr {
  overflow: hidden;
  position: relative;
  border: 1px solid $gray-light;
  position: relative;
  z-index: 2;
}

.carusel-big-images-wr {
  .owl-item {
    padding: 1px;
  }
}

.carusel-thumbs-wr {
  padding-left: 45px;
  padding-right: 45px;
  position: relative;
  .owl-nav {
    .owl-prev,
    .owl-next {
      line-height: 1;
      position: absolute;
      top: 50%;
      margin-top: -25px;
      [class*="icon"] {
        font-size: 30px;
        line-height: 1;
      }
    }
    .owl-prev {
      left: 0;
    }
    .owl-next {
      right: 0;
    }
  }
  .owl-item {
    padding: 10px 1px;
  }
}

.owl-item {
  position: relative;
  z-index: 2;
}

.carusel-thumb-wr {
  padding: 1px;
  border: 1px solid $gray-light;
  position: relative;
  z-index: 2;
  @extend %transition;
  .current &,
  &:hover {
    cursor: pointer;
    border-color: $brand-primary;
    @include box-shadow(0 5px 9px rgba(0, 0, 0, 0.14));
  }
}
