.panel-light {
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 24px;
  .panel-title {
    font-size: 15px;
    line-height: inherit;
  }
  &,
  .panel-body {
    @include box-shadow(none);
    border: none;
    color: #606d74;
  }
  .panel-heading,
  .panel-body {
    padding: 0 0 0 30px;
  }
  .panel-heading {
    a {
      text-decoration: none;
      color: #0c0c0c;
      font-weight: 700;
      display: inline-block;
      position: relative;
      &:before {
        position: absolute;
        left: -30px;
        top: 6px;
        @extend [class^="eh-icon-"];
        @extend .eh-icon-c-minus;
        font-size: 14px;
      }
      &.collapsed {
        &:before {
          @extend .eh-icon-c-pluse;
          color: inherit;
          color: #c7c7c7;
        }
      }
    }
  }
}