.products__manu-sm {
  margin-bottom: 30px;
}

.products__manu-title {
  font-size: 16px;
  color: #0c0c0c;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 10px;
  @include breakpoint($screen-sm) {
    margin-bottom: 15px;
  }
}

.products__manu-list {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
  @include breakpoint($screen-sm) {
    font-size: 16px;
  }
}

.products__manu-list-item {
  color: #606d74;
  line-height: 1.5em;
  margin-bottom: 7px;
  position: relative;
  padding-left: 15px;
  &:after {
    content: '\2022';
    font-size: inherit;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 3.5px;
  }
  a {
    color: inherit;
  }
}

.products__list {
  @extend .clearfix;
}

.products__list-item {
  background-color: white;
  border: 1px solid #efefef;
  @include column(1/2, $cycle: 2);
  margin-bottom: 15px;
  position: relative;
  @extend %transition;
  @include breakpoint(500px) {
    @include column(1/3, $cycle: 3);
  }
  @include breakpoint($screen-md) {
    margin-bottom: 40px;
    &:hover {
      border-color: $brand-primary;
      @include box-shadow(0 5px 9px rgba(0, 0, 0, 0.14));
    }
  }
}

.products__list-item-info {
  padding: 10px;
  @include breakpoint($screen-md) {
    padding: 25px;
  }
}

.products__list-item-thumbnail {
  max-height: 230px;
  overflow: hidden;
  min-height: 120px;
  img {
    margin: 0 auto;
  }
}

.products__list-item-title {
  color: #444655;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 900;
  margin-bottom: 5px;
  @include breakpoint($screen-sm) {
    font-size: 20px;
  }
}

.products__list-item-description {
  color: #171823;
  color: rgba( #171823, .7);
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 14px;
  min-height: 38px;
}

.products__list-item-price {
  margin-bottom: 5px;
}

.products__list-item-price_new {
  color: #444655;
  font-size: 18px;
  font-weight: 900;
  display: block;
  @include breakpoint($screen-sm) {
    font-size: 22px;
    display: inline-block;
    min-width: 110px;
    padding-right: 5px;
  }
}

.products__list-item-price_old {
  color: #444655;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  @include breakpoint($screen-sm) {

  }
}

.products__add-to-cart-btn {
  text-transform: uppercase;
  @include breakpoint($screen-md) {
    font-size: 16px;
    padding: 9px 15px;
    min-width: 150px;
  }
}

.product-sale {
  background-color: $brand-primary-2;
  color: #fff;
  font-size: 13px;
  font-weight: 900;
  line-height: 22px;
  padding: 9px;
  width: 110px;
  height: 40px;
  position: absolute;
  right: -30px;
  top: 5px;
  z-index: 2;
  text-align: center;
  @include transform(rotate(45deg));
}

.product-new {
  background-color: #efeeee;;
  color: #444655;
  font-size: 13px;
  font-weight: 900;
  line-height: 22px;
  padding: 9px;
  width: 110px;
  height: 40px;
  position: absolute;
  left: -30px;
  top: 5px;
  z-index: 2;
  text-align: center;
  @include transform(rotate(-45deg));
}