.site-info-blocks-wr {
  margin-bottom: 30px;
  clear: both;
  // @include breakpoint($screen-md) {
  //   margin-bottom: 70px;
  // }
}

.site-info-block-col {
  @include breakpoint(500px) {
    @include column(1/2, $cycle: 2);
    &.site-info-block-col_tb-full-width {
      @include column(1, $cycle: 1);
    }
  }
  @include breakpoint($screen-md) {
    &,
    &.site-info-block-col_tb-full-width {
      @include column(1/3, $cycle: 3);
    }
  }
}

.site-info-block {
  background-color: #fbfcfd;
  border: 1px solid #efefef;
  @include breakpoint($screen-sm) {
    // height: 310px;
    min-height: 308px;
  }
  margin-bottom: 20px;
}

.follow-us-wr {
  padding: 35px 22px 0;
}

.follow-us-title {
  &,
  a {
    color: #3c5a98;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-decoration: none;
  }
}

.follow-us_theme {
  background-color: #fff;
  border: 1px solid #aaa;
  border-top-color: #315c99;
  @include box-shadow(0 0 10px rgba(0, 0, 0, 0.11));
  overflow: auto;
  > div {
    > span {
      display: block;
      overflow: hidden;
      margin: 0 auto;
    }
  }
}

.site-main-shipping-info-list {
  padding: 35px 20px;
}

.site-main-shipping-info {
  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.main-shipping-info__icon-wr {
  width: 60px;
  text-align: center;
  font-size: 38px;
  float: left;
  margin-right: 20px;
}

.main-shipping-info__text-wr {
  overflow: hidden;
}

.main-shipping-info-title {
  color: $brand-primary-2;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}

.main-shipping-info-text {
  color: #171823;
  font-size: 12px;
  font-weight: 400;
}