.social-likes_custom {
  &.social-likes {
    margin-left: -2px;
    margin-right: -2px;
  }
  .social-likes__widget {
    background-color: transparent;
    margin-left: 2px;
    margin-right: 2px;
  }
  .social-likes__icon {
    @include align(both);
    line-height: 1;
  }
  .social-likes__button {
    padding: 0 3px;
    width: 22px;
    height: 22px;
    position: relative;
    @include border-radius(3px);
    float: right;
    &:after {
      content: '';
      position: absolute;
      left: -7px;
      top: 50%;
      margin-top: -4px;
      border-width: 4px;
      border-style: solid;
      border-color: transparent #ddd transparent transparent;
    }
  }
  .social-likes__button_facebook {
    background-color: #39579a;
    &:after {
      border-color: transparent #39579a transparent transparent;
    }
  }
  .social-likes__icon_facebook {
    @extend [class^="eh-icon-"];
    @extend .eh-icon-facebook-2;
  }
  .social-likes__button_twitter {
    background-color: #01acee;
    &:after {
      border-color: transparent #01acee transparent transparent;
    }
  }
  .social-likes__icon_twitter {
    margin-top: .1em;
  }
  .social-likes__button_pinterest {
    background-color: #cd1d1f;
    &:after {
      border-color: transparent #cd1d1f transparent transparent;
    }
  }
  .social-likes__button_plusone {
    background-color: #d34836;
    &:after {
      border-color: transparent #d34836 transparent transparent;
    }
  }
  .social-likes__counter {
    height: 22px;
    min-width: 35px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    color: #7d7d7d;
    font-size: 11px;
    font-weight: 300;
    line-height: 12px;
    text-align: center;
    padding: 5px;
    margin-right: 5px;
  }
}