.steps-list {
  background-color: #c7c7c7;
  border: 1px solid #c7c7c7;
  font-size: 12px;
  font-weight: 900;
  margin-bottom: 30px;
  @include breakpoint($screen-sm) {
    display: table;
    table-layout: fixed;
    width: 100%;
    font-size: 17px;
  }
}

.section-block__steps-list-item-inner {
  position: relative;
  background-color: #ededed;
  padding: 5px 30px 5px 10px;
  @include breakpoint($screen-sm) {
    height: 54px;
    padding: 15px 30px 15px 40px;
  }
  [class*='icon'] {
    position: absolute;
    right: 5px;
    font-size: 15px;
    line-height: 1;
    @include align(vertical);
    display: none;
  }
}

.steps-list-item {
  text-shadow: 0.7px 0.7px 0 white;
  white-space: nowrap;
  &:not(:last-child) {
    border-bottom: 1px solid #c7c7c7;
    @include breakpoint($screen-sm) {
      border-bottom: none;
    }
  }
  @include breakpoint($screen-sm) {
    display: table-cell;
    padding: 0 14px;
  }
  .step__counter,
  .step__label {
    line-height: 22px;
    white-space: nowrap;
    vertical-align: top;
    display: inline-block;
  }
  @include breakpoint($screen-sm) {
    &:first-child {
      padding-left: 0;
    }
    // &:last-child {
    //   padding-right: 0;
    // }
    &:not(:first-child) {
      padding: 0 14px;
      .section-block__steps-list-item-inner {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 100%;
          margin-right: -27px;
          border-style: solid;
          border-color: #ededed #ededed #ededed transparent;
          border-width: 27px;
          z-index: 0;
        }
      }
    }
    &:not(:last-child) {
      .section-block__steps-list-item-inner {
        &:after {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 100%;
          border-style: solid;
          border-color: transparent transparent transparent #ededed;
          border-width: 27px;
          z-index: 0;
        }
      }
    }
    &:last-child {
      padding-right: 0;
    }
    &:first-child {
      padding-right: 14px;
    }
  }
  &.active {
    .section-block__steps-list-item-inner {
      @include text-shadow(none);
      color: #fff;
      .step__counter {
        font-weight: 300;
        font-size: 16px;
        @include breakpoint($screen-sm) {
          font-size: 21px;
        }
      }
      background: $brand-primary;
      @include breakpoint($screen-sm) {
        &:after {
          border-color: transparent transparent transparent $brand-primary;
        }
        &:before {
          border-color: $brand-primary $brand-primary $brand-primary transparent;
        }
      }
    }
  }
  &.completed {
    .section-block__steps-list-item-inner {
      @include text-shadow(none);
      color: #fff;
      background-color: #6b6b6b;
      [class*='icon'] {
        display: block;
      }
      @include breakpoint($screen-sm) {
        &:after {
          border-color: transparent transparent transparent #6b6b6b;
        }
        &:before {
          border-color: #6b6b6b #6b6b6b #6b6b6b transparent;
        }
      }
    }
  }
}

