.responsive-table {
  thead {
    &:before {
      line-height: 22px;
      font-size: 16px;
      cursor: pointer;
      display: block;
      background-color: $brand-primary;
      padding: 5px 10px;
      color: #fff;
      content: attr(data-dropdown-title);
      @include breakpoint($screen-sm) {
        display: none;
      }
    }
  }
}

.hidden-td {
  background-color: transparent !important;
  .table-bordered & {
    border-left-color: #fff !important;
    border-bottom-color: #fff !important;
  }
  @media only screen and (max-width: $screen-xs-max) {
    display: none;
  }
}

@media only screen and (max-width: $screen-xs-max) {
  .responsive-table {
    thead,
    tr,
    th {
      display: block;
    }
    thead {
      position: relative;
      margin-bottom: 15px;
      &:first-child > tr:first-child > th:first-child {
        border-top: 1px solid $gray-light;
      }
      tr {
        display: none;
        th {
          padding: 5px 10px;
          &.sorting_desc {
            background-color: #e1e1e1 !important;
          }
          &:after {
            bottom: 5px !important;
          }
          &.sorting_disabled {
            display: none;
          }
        }
      }
      &.active {
        tr {
          display: block;
        }
      }
    }
    tbody,
    tr,
    td {
      display: block;
      text-align: left;
    }
    tbody {
      > tr {
        margin-bottom: 20px;
        > td {
          padding: 6px 10px;
          &.td-xs-label {
            &:before {
              padding-right: 10px;
              content: attr(data-th) ' :';
              display: inline-block;
              color: #111111;
              font-weight: 700;
            }
          }
        }
      }
    }
    &.table-bordered {
      border: none;
    }
  }
}

table {
  th {
    &.sorting {
      position: relative;
      padding-right: 20px;
      &:before {
        @extend .eh-icon-sort;
        @extend [class^="eh-icon-"];
        position: absolute;
        right: 10px;
        @include align(vertical);
        font-size: 14px;
      }
    }
  }
}

.table {
  > tbody,
  > thead {
    > tr > {
      td,
      th {
        &.td-v-m-sm {
          vertical-align: top;
          @include breakpoint($screen-sm) {
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.table-size {
  th,
  * {
    text-align: center;
  }
  @media only screen and (min-width: $screen-sm) {
    width: auto;
    min-width: 345px;
  }
  .tr-gray {
    th {
      background-color: #e9e9e9;
    }
  }
}

