[class*="payment-icon"] {display:inline-block; vertical-align: middle ; overflow:hidden;}

// $sprite1x
$disable-magic-payment-icon-selectors: true;
$payment-icon-sprite-dimensions: true;
$payment-icon-spacing: 10px;
@import "payment-icon/*.png";
@include all-payment-icon-sprites;