head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')

  link(rel='shortcut icon', href='favicon/favicon.ico')
  link(rel="icon", type="image/png", href="favicon/favicon-32x32.png", sizes="32x32")
  link(rel="icon", type="image/png", href="favicon/favicon-16x16.png", sizes="16x16")

  block head
  title= pageTitle
  meta(name='description' content=pageDescription)
  meta(name='keywords' content=pageKeywords)
  meta(name='copyright' content=pageCopyright)

  // build:css css/vendor.css
  // bower:css
  link(rel='stylesheet', href='bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css')
  link(rel='stylesheet', href='bower_components/owl.carousel/dist/assets/owl.carousel.css')
  link(rel='stylesheet', href='bower_components/lightbox2/dist/css/lightbox.css')
  // endbower
  link(rel='stylesheet', href='css/bootstrap.css')
  link(rel='stylesheet', href='bower_components/social-likes/dist/social-likes_flat.css')
  // endbuild
  //- 
  block css
  //- 
  // build:css css/main.css
  link(rel='stylesheet', href='css/style.css')
  // endbuild


  // build:js scripts/vendor.js
  // bower:js
  script(src='bower_components/jquery/dist/jquery.js')
  script(src='bower_components/bootstrap-sass/assets/javascripts/bootstrap.js')
  script(src='bower_components/modernizr/modernizr.js')
  script(src='bower_components/jquery-mousewheel/jquery.mousewheel.js')
  script(src='bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js')
  script(src='bower_components/owl.carousel/dist/owl.carousel.js')
  script(src='bower_components/lightbox2/dist/js/lightbox.js')
  // endbower
  script(src='bower_components/social-likes/dist/social-likes.min.js')

  //- 
  block vendor-js
  //- 
  // endbuild
  script(src='https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.8/validator.min.js')
  //-

  //- 
  block js
  //- 
  // build:js scripts/main.js
  script(src='js/main.js')
  // endbuild

