extends templates/layouts/_default

block head
  - pageTitle = "Envy Her.";

block content

  .section-with-sidebar
    .sidebar-left
      include templates/blocks/_products-manu
      .asside-banner-wr
        a(href="")
          img(src="imgBackEnd/asside-banner.jpg", alt="").img-responsive

    .section-with-sidebar-content
      .clearfix
        section.info-section
          .info-section__inner
            header.info-section__header
              h1.info-section__header-title About
            .info-section__body
              p
                span Welcome to Envy Her 
                span
                  | . EH was created by a group of passionate designers with one goal: help people capture and carry their special moments and memories.
                br
                span
                  | With a vast experience in the craftsmanship jeweler industry, our designers are driven to provide everyone with the perfect piece of jewelry.
              br
              p
                img(src="imgBackEnd/about_pic.jpg", alt="")
              br

              p
                span
                  | We, at EH, know that life is full of meaningful moments we all would like to keep close.
                br

                span
                  | So, we made it our mission to be the best at custom made jewelry giving you the opportunity to design each piece with a high standard of quality and creativity. A concept now brought to perfection by our amazing team.  Our team is built from experts at every stage of the production process, from design to the development and manufacturing.

                span
                  | Each of our journeys is unique and inspired by the world and people around us. we make it possible to shear it with others or just with ourselves.
                br

                span We promise to continue to try to redefine timeless designs while maintaining a
              br

              p
                a(href='')
                  strong For further questions, don't hesitate to contact us here 
                  | &#62;
              p
                a(href='')
                  strong Take part of your own design now 
                  | &#62;
              p
                a(href='')
                  strong For any question please contact us here 
                  | &#62;




  include templates/blocks/_site-info-blocks



