extends templates/layouts/_default

block head
  - pageTitle = "Envy Her.";

block content
  ol.breadcrumb
    li
      a(href='#') Home
    li.active Your shopping cart

  header.main-content__header.main-content__header_border
    h2.main-content__title Contact infomation
  .main-content__body
    .checkout-steps-list-wr
      .steps-list
        .steps-list-item.completed
          .section-block__steps-list-item-inner
            span.step__counter 01.
            span.step__label Summery
            i.eh-icon-check
        .steps-list-item.active
          .section-block__steps-list-item-inner
            span.step__counter 02.
            span.step__label Contact infomation
            i.eh-icon-check
        .steps-list-item
          .section-block__steps-list-item-inner
            span.step__counter 03.
            span.step__label Payment & Shipping
            i.eh-icon-check

    form.checkout-contact__form.clearfix
      .well.well_security
        .ssl-security__badge
          .ssl-security__badge-icon
            i.eh-icon-security
          .ssl-security__badge-text
            .ssl-security__badge-text_small This site is SSL
            .ssl-security__badge-text_big SECURED
        .form-group_mg-xlg
          .form-hint__wr
            p.form-hint.form-hint_strong
              | please fill out the form below. 
            p.form-hint.form-hint_danger *Required field

        .form-group.form-group_max-w.has-success.has-feedback
          label(for='fcFirstName').required First name
          input#fcFirstName.form-control(type='text', placeholder='First name', required,aria-describedby="inputSuccess2Status")
          span.eh-icon-check.form-control-feedback(aria-hidden='true')

        .form-group.form-group_max-w.has-error.has-feedback
          label(for='fcLastName').required Last name
          input#fcLastName.form-control(type='text', placeholder='Last name', required)
          span.eh-icon-error.form-control-feedback(aria-hidden='true')

        .form-group.form-group_max-w
            label(for='fcCountry').required Country
            select#fcCountry.form-control.custom-select
              option(selected disabled)
              option 2
              option 3
              option 4
              option 5

        .form-group.form-group_max-w.has-feedback
          label(for='fcEmailAddress').required Email address
          .form-group_help-block-right
            input#fcEmailAddress.form-control(type='email', placeholder='', required)
            p.help-block.help-block_right
              | (Invoice and other notifications
              br
              | will be sent to this email address)

        .form-group
          .custom-checkbox
            input#ch1(type='checkbox', value='', checked)
            label(for="ch1")
              | Add me to the VIP list to receive exclusive promotions.
              br
              a(href="") Mailing Conditions

      .main-content__footer
        a(href="").btn.btn-lg.btn-primary-2.btn-bl.pull-left.continue-shopping-btn
          i.eh-icon-arrow-left-bl.icon-l
          | Back
        a(href="").btn.btn-lg.btn-primary-2.btn-bl.pull-right-sm
          | Proceed to checkout
          i.eh-icon-arrow-right-bl.icon-r
