extends templates/layouts/_default

block head
  - pageTitle = "Envy Her.";

block content
  ol.breadcrumb
    li
      a(href='#') Home
    li.active Your shopping cart

  header.main-content__header.main-content__header_border
    h2.main-content__title Payment information
  .main-content__body
    .checkout-steps-list-wr
      .steps-list
        .steps-list-item.completed
          .section-block__steps-list-item-inner
            span.step__counter 01.
            span.step__label Summery
            i.eh-icon-check
        .steps-list-item.completed
          .section-block__steps-list-item-inner
            span.step__counter 02.
            span.step__label Contact infomation
            i.eh-icon-check
        .steps-list-item.active
          .section-block__steps-list-item-inner
            span.step__counter 03.
            span.step__label Payment & Shipping
            i.eh-icon-check

    form.payment-information__form.clearfix
      .well.well_security
        .ssl-security__badge
          .ssl-security__badge-icon
            i.eh-icon-security
          .ssl-security__badge-text
            .ssl-security__badge-text_small This site is SSL
            .ssl-security__badge-text_big SECURED

        .form-group.form-group_mg-lg.form-group_max-w
            label(for='fcCountry').required Country
            select#fcCountry.form-control.custom-select
              option(selected disabled)
              option 2
              option 3
              option 4
              option 5

        .form-group.form-group_max-w.form-group_mg-lg
          .form-group.form-group_mg-sm
            label Payment type
          .custom-radio
            input#radioVisa(type='radio', name='PaymentTypeRadioOptions', value='option1', checked)
            label(for="radioVisa")
              i.label-icon.payment-icon-visa
              |  Visa
          .custom-radio
            input#radioMasterCard(type='radio', name='PaymentTypeRadioOptions', value='option2')
            label(for="radioMasterCard")
              i.label-icon.payment-icon-master-card
              |  MasterCard
          .custom-radio
            input#radioAmericanExpress(type='radio', name='PaymentTypeRadioOptions', value='option3')
            label(for="radioAmericanExpress")
              i.label-icon.payment-icon-american-express
              |  American Express
          .custom-radio
            input#radioDinres(type='radio', name='PaymentTypeRadioOptions', value='option4')
            label(for="radioDinres")
              i.label-icon.payment-icon-dinres
              |  Dinres
          .custom-radio
            input#radioDiscovery(type='radio', name='PaymentTypeRadioOptions', value='option5')
            label(for="radioDiscovery")
              i.label-icon.payment-icon-discovery
              |  Discovery

        .form-group.form-group_max-w.form-group_mg-lg
          label(for='fcCreditCardNumber') Credit card number
          input#fcCreditCardNumber.form-control(type='number', placeholder='')

        .form-group.form-group_max-w.form-group_mg-lg
          label(for='fcExpirationDate') Expiration Date
          .row.row-sm
            .col-xs-5
              select#fcExpirationDate.form-control.custom-select
                option(selected disabled) Month
                option 2
                option 3
                option 4
                option 5
            .col-xs-5
              select.form-control.custom-select
                option(selected disabled) Year
                option 2
                option 3
                option 4
                option 5

        .form-group.form-group_max-w
          label(for='fcSecurityCadeCCV') Security cade (CCV)
          .row.row-sm
            .col-xs-5
              .form-group_help-block-right
                input#fcSecurityCadeCCV.form-control(type='number', placeholder='')
                p.help-block.help-block_right
                  | CVV 3 digit verification number

      .main-content__title_wr.clearfix
        h2.main-content__title Billing information

      .well
        .form-group.form-group_max-w.form-group_mg-lg
          label(for='fcName') Name
          input#fcName.form-control(type='text', placeholder='')

        .form-group.form-group_max-w.form-group_mg-lg
          label(for='fcEmail') Email
          input#fcEmail.form-control(type='email', placeholder='')

        .form-group.form-group_max-w.form-group_mg-lg
          label(for='fcPhoneNumber') Phone number
            |  
            i.eh-icon-question( data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.")
          .form-group_help-block-right
            input#fcPhoneNumber.form-control(type='number', placeholder='Phone number')
            p.help-block.help-block_right (Optional)


        .form-group.form-group_max-w.form-group_mg-lg
          label(for='fcBillingStreetAddress') Billing street address
          input#fcBillingStreetAddress.form-control(type='text', placeholder='')

        .form-group.form-group_max-w.form-group_mg-lg
          label(for='fcCity') City
          input#fcCity.form-control(type='text', placeholder='')

        .form-group.form-group_max-w.form-group_mg-lg
          label(for='fcState') State
          .form-group_help-block-right
            input#fcState.form-control(type='text', placeholder='')
            p.help-block.help-block_right (Optional)

        .form-group.form-group_max-w.form-group_mg-xlg
          label(for='fcZipCode') Zip code
          input#fcZipCode.form-control(type='text', placeholder='')

      .main-content__title_wr.clearfix
        h2.main-content__title Shipping information

      .well
        .form-group.form-group_max-w.form-group_mg-xlg
          .custom-radio
            input#radioS1(type='radio', name='radioSOptions', value='options1', checked)
            label(for="radioS1")
              |  Send to my billing address
          .custom-radio
            input#radioS2(type='radio', name='radioSOptions', value='options2')
            label(for="radioS2")
              |  Enter a different shipping address

        .billing-address__list
          label Choose a shipping option
          .billing-address__list-item.js-input-btn
            .billing-address__list-item-tc.billing-address__list-item-ch-wr
              .custom-radio
                input#radioBA1(type='radio', name='radioBAOptions', value='options1', checked)
                label(for="radioBA1")
            .billing-address__list-item-tc.billing-address__list-item-icon-wr
              i.eh-icon-airplane
            .billing-address__list-item-tc.billing-address__list-item-title-wr Store Pick up in-store
            .billing-address__list-item-tc.billing-address__list-item-type-wr Free

          .billing-address__list-item.js-input-btn
            .billing-address__list-item-tc.billing-address__list-item-ch-wr
              .custom-radio
                input#radioBA2(type='radio', name='radioBAOptions', value='options2')
                label(for="radioBA2")
            .billing-address__list-item-tc.billing-address__list-item-icon-wr
              i.eh-icon-shipping-delivery
            .billing-address__list-item-tc.billing-address__list-item-title-wr Store Pick up in-store
            .billing-address__list-item-tc.billing-address__list-item-type-wr 20 $


          .billing-address__list-item.js-input-btn
            .billing-address__list-item-tc.billing-address__list-item-ch-wr
              .custom-radio
                input#radioBAD1(type='radio', name='radioBAD1ptions', value='options1', checked, disabled)
                label(for="radioBA1")
            .billing-address__list-item-tc.billing-address__list-item-icon-wr
              i.eh-icon-airplane
            .billing-address__list-item-tc.billing-address__list-item-title-wr Store Pick up in-store
            .billing-address__list-item-tc.billing-address__list-item-type-wr Free


        .form-group.form-group_mg-lg
          label Terms of service
          .custom-checkbox.form-group_light-label
            input#ch1(type='checkbox', value='', checked)
            label(for="ch1")
              | I agree to the terms of service and will adhere to them unconditionally.
              |  
              a(href="") (Read the Terms of Service)

      .form-group.form-group_mg-xlg.text-center The payment will be authorized online. This process will take approximately 30 seconds.

      .main-content__footer.main-content__payment-information
        a(href="").btn.btn-lg.btn-primary-2.btn-bl.pull-left.continue-shopping-btn
          i.eh-icon-arrow-left-bl.icon-l
          | Back
        .pay-btn-wr
          button(type="button" data-toggle="modal" data-target="#myModal").btn.btn-lg.btn-primary-2 Pay

      .form-group.form-group_mg-xlg.text-center
        p If you were unable to complete your payment, please leave us
          br
          | your
          |  
          a(href="").primary-2-link contact details
          |  
          | and our customer support will be happy to assist you.


block modals
  #myModal.modal.fade
    .modal-dialog.modal-lg.modal-dialog-pay
      .modal-content
        .modal-body
          .close-button
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .embed-responsive
            iframe.embed-responsive-item(src='iframes/iframe.html', width='468', height='60', align='left', name='targetFrame', frameborder='0')
      // /.modal-content
    // /.modal-dialog
  // /.modal