extends templates/layouts/_default

block head
  - pageTitle = "Envy Her.";

block content
  script.
    $( document ).ready(function() {
      $('.js-mobile-dropdown').on('click', function(){
        $(this).toggleClass('active');
      })
    });
  ol.breadcrumb
    li
      a(href='#') Home
    li.active Your shopping cart

  header.main-content__header.main-content__header_border
    h2.main-content__title Shopping-cart summary
    .shopping-cart__contains Your shopping cart contains:
      |  
      span.shopping-cart__contains-counter 1 products
  .main-content__body
    .checkout-steps-list-wr
      .steps-list
        .steps-list-item.active
          .section-block__steps-list-item-inner
            span.step__counter 01.
            span.step__label Summary
        .steps-list-item
          .section-block__steps-list-item-inner
            span.step__counter 02.
            span.step__label Contact infomation
        .steps-list-item
          .section-block__steps-list-item-inner
            span.step__counter 03.
            span.step__label Payment & Shipping

    form.summary-checkout__form.clearfix
      table.table.table-bordered.responsive-table.checkout-table
        thead.js-mobile-dropdown(data-dropdown-title="SORT MENU")
          tr.active
            th.th-product Product
            th.th-description Description
            th Avail.
            th Unit price
            th Quantity
            th Total
            th.th-delete
        tbody
          tr
            td.td-xs-label.col.product(data-th="Product")
              .table-product-thumbnail
                img(src="imgBackEnd/product-1.jpg", alt="")
            td.td-xs-label.col.td-description(data-th="Description")
              span.td-description-text Silver Necklace
            td.td-xs-label.col.td-v-m-sm.td-avail(data-th="Avail.")
              span.label.label-outline In Stock
            td.td-xs-label.col.td-v-m-sm.td-unit-price(data-th="Unit price")
              .unit-price-inner
                .unit-price-new $30.54
                .unit-price-sale 5%
                .unit-price-old $30.54
            td.td-xs-label.col.td-v-m-sm.td-qty(data-th="qty")
              .qty-form-group_wr
                .input-qty
                  input.form-control.input-sm(type='number', value='01', name='quantity', max='99', min='0')
                .input-group-btn
                  button.btn.btn-sm.btn-default.js-qtyminus(type='button', field='quantity')
                    i.eh-icon-minus
                  button.btn.btn-sm.btn-default.js-qtyplus(type='button', field='quantity')
                    i.eh-icon-plus

            td.td-xs-label.col.td-v-m-sm.td-total(data-th="Total") $30.54
            td.col.td-v-m-sm.td-delete(data-th="Delete")
              a(href="").delete-product-btn
                i.eh-icon-trash
                span.sr-only Delete
          tr.active.checkout-tr-price
            td(colspan="2").hidden-td
            td(colspan="3").text-right-sm Total products (tax excl.)
            td(colspan="2") $30.54
          tr.active.checkout-tr-price.checkout-tr-price_important
            td(colspan="2").hidden-td
            td(colspan="3").text-right-sm Total
            td(colspan="2") $30.54

      .main-content__footer
        a(href="").btn.btn-lg.btn-primary-2.btn-bl.pull-left.continue-shopping-btn
          i.eh-icon-arrow-left-bl.icon-l
          | Back
        a(href="").btn.btn-lg.btn-primary-2.btn-bl.pull-right-sm
          | Proceed to checkout
          i.eh-icon-arrow-right-bl.icon-r
