extends templates/layouts/_default

block head
  - pageTitle = "Envy Her.";

block content
  ol.breadcrumb
    li
      a(href='#') Home
    li.active Contact us

  header.main-content__header
    h2.main-content__title Customer service
  .main-content__body
    .well.well__contact-form-wr
      form.main-content__contact-form(data-toggle="validator" role="form")
        .form-group.form-group_mg-xlg
          .main-content__contact-form-title send a message
          p.form-hint.form-hint_strong
            | Please send us your questions/comments in the form below, and we will
            br
            | contact you as soon as possible.
        .form-group.form-group_max-w
          label(for='fcSubjectHandling').required Subject handling
          input#fcSubjectHandling.form-control(type='text', placeholder='', required)
          .help-block.with-errors
        .form-group.form-group_max-w
          label(for='fcEmailAddress').required Email address
          input#fcEmailAddress.form-control(type='email', placeholder='', required)
          .help-block.with-errors
        .form-group.form-group_max-w
          label(for='fcOrderReference').required Order reference
          select#fcOrderReference.form-control.custom-select
            option
            option 2
            option 3
            option 4
            option 5
        .form-group.form-group_max-w
          label(for='fcFile') Choose File
          .custom-file.custom-file-wr
            input.custom-file-input(type='file')
            span.custom-file-control Choose file...
            span.custom-file-btn Choose File

        .form-group.form-group.form-group_mg-xlg.form-group_max-w
          label(for='fcMessage') Message
          textarea#fcMessage.form-control(name="", cols="30", rows="3").contact-us__message

        button.btn.btn-lg.btn-default.send-message-contact-btn.btn-bl(type='submit')
          | Send  
          i.eh-icon-arrow-right-bl
