extends templates/layouts/_default

block head
  - pageTitle = "Envy Her.";

block content
  ol.breadcrumb
    li
      a(href='#') Home
    li.active FAQ

  .section-with-sidebar
    .sidebar-left
      include templates/blocks/_products-manu

    .section-with-sidebar-content
      .clearfix
        section.section-faq
          header.main-content__header
            h2.main-content__title.main-content__title_up FAQ
          .section-faq__body
            #accordionFAQ(role='tablist', aria-multiselectable='true')
              .panel.panel-light
                .panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#tabFAQ-1', aria-expanded='false', aria-controls='tabFAQ-1')
                      | Do you ship worldwide?
                #tabFAQ-1.panel-collapse.collapse(role='tabpanel')
                  .panel-body
                    | A: Unfortunately, we are currently shipping in the USA.
              .panel.panel-light
                .panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#tabFAQ-2', aria-expanded='false', aria-controls='tabFAQ-2')
                      | Do you have any gifting options available (gift receipt and gift message options)?
                #tabFAQ-2.panel-collapse.collapse(role='tabpanel')
                  .panel-body
                    | A: SURE! We currently offer gift receipts or gift wrapping.
              .panel.panel-light
                .panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#tabFAQ-3', aria-expanded='false', aria-controls='tabFAQ-3')
                      | Do you have any physical stores?
                #tabFAQ-3.panel-collapse.collapse(role='tabpanel')
                  .panel-body
                    | A: We are a web-based retailer only, we do not have any physical locations.
              .panel.panel-light
                .panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#tabFAQ-4', aria-expanded='false', aria-controls='tabFAQ-4')
                      | How can I request more information regarding a specific piece (Carat weight, metal weight, stone clarity, whether or not a gemstone is natural or created, measurements etc)?
                #tabFAQ-4.panel-collapse.collapse(role='tabpanel')
                  .panel-body
                    | A: If the information that you are looking for about an item is not included in the description on our website, you can submit a request through email or on the phone. We will do our best to accommodate your request as soon as possible, usually within the same day.
              .panel.panel-light
                .panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#tabFAQ-4', aria-expanded='false', aria-controls='tabFAQ-4')
                      | Do you offer ring sizing or engraving?
                #tabFAQ-4.panel-collapse.collapse(role='tabpanel')
                  .panel-body
                    | A: The standard size for rings on our site is a 7, but we do have other sizes available on select pieces which will then appear in a drop-down selector. If you do not find the size you need and would like the ring sized to fit, we recommend you consult your local jeweler for resizing options. You can also have a ring guard placed inside of the band to secure it in place.
              .panel.panel-light
                .panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#tabFAQ-5', aria-expanded='false', aria-controls='tabFAQ-5')
                      | Once I register on your site will I be able to view my order history?
                #tabFAQ-5.panel-collapse.collapse(role='tabpanel')
                  .panel-body
                    | A: Once you are registered on our site you will be able to view current orders as well as previous ones.
              .panel.panel-light
                .panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#tabFAQ-6', aria-expanded='false', aria-controls='tabFAQ-6')
                      | Why was my order declined?
                #tabFAQ-6.panel-collapse.collapse(role='tabpanel')
                  .panel-body
                    | A: Orders can be declined for multiple reasons. Orders will not be authorized by the system if the card is expired or the charge is above the credit limit. Failure to authenticate billing information will also result in a declined order, please check to make sure all details have been entered completely and correctly and correspond to the card being used.
              .panel.panel-light
                .panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#tabFAQ-7', aria-expanded='false', aria-controls='tabFAQ-7')
                      | I did not receive my order confirmation email. Can you resend it to me?
                #tabFAQ-7.panel-collapse.collapse(role='tabpanel')
                  .panel-body
                    | A: An order confirmation email is system generated and automatically sent out once your order is approved. If you did not receive your email, please contact customer service and they will forward a copy to your confirmed email address. 
                    br
                    | You can find out your Order Status here: Order and Shipment Status Information >>>
              .panel.panel-light
                .panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#tabFAQ-8', aria-expanded='false', aria-controls='tabFAQ-8')
                      | If I am not able to correctly enter in my discount code when placing my order, can you apply it for me?
                #tabFAQ-8.panel-collapse.collapse(role='tabpanel')
                  .panel-body
                    | A: If for some reason you were unsuccessful in applying your discount code, we will be happy to help you. Your account will be credited within 3-5 days, with the price difference included.
              .panel.panel-light
                .panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#tabFAQ-9', aria-expanded='false', aria-controls='tabFAQ-9')
                      | I was unsuccessful placing an order on your site. Why has my credit card been charged?
                #tabFAQ-9.panel-collapse.collapse(role='tabpanel')
                  .panel-body
                    | A: If your orders were not successful your credit card will not be charged. Any transactions reflected on your account are authorizations only and will automatically disappear withing a few days depending on your bank’s procedures.

              .panel.panel-light
                .panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#tabFAQ-10', aria-expanded='false', aria-controls='tabFAQ-10')
                      | How can I request a return authorization (Return Policy & Instructions)?
                #tabFAQ-10.panel-collapse.collapse(role='tabpanel')
                  .panel-body
                    | A: You may request a return authorization through our Customers servers are able to return new, website. You can also make your request by emailing -------.com or calling us at 1-800--------

            .text-primary-2 STILL NEED HELP?
            p If your question is not listed here, please feel free to 
              a(href="").primary-2-link contact us.