extends templates/layouts/_default

block head
  - pageTitle = "Envy Her.";

block content
  ol.breadcrumb
    li
      a(href='#') Home
    li.active Forgot password

  hr.hr_after-breadcrumb

  .main-content__body
    .row
      .col-md-6.col-md-offset-3
        .well.well_authentication
          form.main-content__contact-form(data-toggle="validator" role="form")
            .authentication-form-title Forgot your password?
            .form-group
              p.help-block Don't worry just fill in your email and we'll help your reset your password.
            .form-group.form-group_mg-xlg.form-group_max-w
              label(for='fcEmailAddress').required Email address
              input#fcEmailAddress.form-control(type='email', placeholder='Enter your email address', required)
              .help-block.with-errors

            button.btn.btn-lg.btn-default.send-message-contact-btn.btn-bl(type='submit')
              | Send email
              i.eh-icon-arrow-right-bl.icon-r


