extends templates/layouts/_default

block head
  - pageTitle = "Envy Her.";

block content
  .hp-banners-wr
    .hp-banner__slider-wr
      .hp-banner__slider.owl-carousel.owl-theme.js-owl-full-width
        a(href="")
          img(src="imgBackEnd/hp-banner-1.jpg", alt="")
        a(href="")
          img(src="imgBackEnd/hp-banner-2.jpg", alt="")

    //- .hp-banner-sm__wr
      a(href="")
        img(src="imgBackEnd/hp-banner-sm.jpg", alt="").img-responsive


  .section-with-sidebar
    .sidebar-left
      include templates/blocks/_products-manu

    .section-with-sidebar-content
      include templates/blocks/_products-list


  include templates/blocks/_site-info-blocks



