extends templates/layouts/_default

block head
  - pageTitle = "Envy Her.";

block content
  ol.breadcrumb
    li
      a(href='#') Home
    li.active My Account

  header.main-content__header.main-content__header_border
    h2.main-content__title My account
  .main-content__body
    .form-group_mg-lg
      .help-block Welcome to your account. Here you can manage all of your personal information and orders.
    .row.my-account-page-wr
      .col-sm-4
        .my-account__menu-wr
          .my-account__menu-list
            .my-account__menu-list-item
              a(href="order-history.html").my-account__menu-list-link
                span.my-account__menu-link-icon
                  i.eh-icon-order-history
                span.my-account__menu-link-text Order history and details
            .my-account__menu-list-item
              a(href="").my-account__menu-list-link
                span.my-account__menu-link-icon
                  i.eh-icon-returns
                span.my-account__menu-link-text My merchandise returns
            .my-account__menu-list-item
              a(href="").my-account__menu-list-link
                span.my-account__menu-link-icon
                  i.eh-icon-credit-slips
                span.my-account__menu-link-text My credit slips
            .my-account__menu-list-item
              a(href="").my-account__menu-list-link
                span.my-account__menu-link-icon
                  i.eh-icon-address
                span.my-account__menu-link-text My addresses
            .my-account__menu-list-item
              a(href="user-profile.html").my-account__menu-list-link
                span.my-account__menu-link-icon
                  i.eh-icon-personal-info
                span.my-account__menu-link-text My personal information



      .col-sm-8
        

