extends templates/layouts/_default

block head
  - pageTitle = "Envy Her.";

block content
  script.
    $( document ).ready(function() {
      $('.js-mobile-dropdown').on('click', function(){
        $(this).toggleClass('active');
      })
    });
  ol.breadcrumb
    li
      a(href='#') Home
    li.active Order history

  header.main-content__header.main-content__header_border
    h2.main-content__title Order history
  .main-content__body

    table.table.table-bordered.responsive-table.order-table
      thead.js-mobile-dropdown(data-dropdown-title="SORT MENU")
        tr(role='row').active
          th Order reference
          th.sorting Date
          th.sorting Total price
          th Payment
          th.sorting Status
          th Invocie
          th.sorting_disabled
      tbody
        tr
          td.td-xs-label.col.order(data-th="Order")
            a(href="").order-link MVPKSGFOI
          td.td-xs-label.col.date(data-th="Date")
            a(href="").order-link 01/04/2017
          td.td-xs-label.col.total-price(data-th="Total price") $30.54
          td.td-xs-label.col.payment(data-th="Payment") Bank wire
          td.td-xs-label.col.status(data-th="Status")
            span.label.label-info.label-info-md Awaiting bank wire payment 
          td.td-xs-label.col.invocie(data-th="Invocie") -
          td.col.actions
            a(href="").btn.btn-default.btn-bl
              |  Details
              i.eh-icon-arrow-right.icon-r
            span.reloader__wr
              span.reloader-icon
                i.eh-icon-reload
              span.reloader-label Reorder


        tr
          td.td-xs-label.col.order(data-th="Order")
            a(href="").order-link BQDBPNIRQ
          td.td-xs-label.col.date(data-th="Date")
            a(href="").order-link 01/04/2017
          td.td-xs-label.col.total-price(data-th="Total price") $30.54
          td.td-xs-label.col.payment(data-th="Payment")
          td.td-xs-label.col.status(data-th="Status")
            span.label.label-info.label-info-md Awaiting bank wire payment 
          td.td-xs-label.col.invocie(data-th="Invocie") -
          td.col.actions
            a(href="").btn.btn-default.btn-bl
              |  Details
              i.eh-icon-arrow-right.icon-r
            span.reloader__wr
              span.reloader-icon
                i.eh-icon-reload
              span.reloader-label Reorder

        tr
          td.td-xs-label.col.order(data-th="Order")
            a(href="").order-link MVPKSGFOI
          td.td-xs-label.col.date(data-th="Date")
            a(href="").order-link 01/04/2017
          td.td-xs-label.col.total-price(data-th="Total price") $30.54
          td.td-xs-label.col.payment(data-th="Payment") Bank wire
          td.td-xs-label.col.status(data-th="Status")
            span.label.label-info.label-info-md Awaiting bank wire payment 
          td.td-xs-label.col.invocie(data-th="Invocie") -
          td.col.actions
            a(href="").btn.btn-default.btn-bl
              |  Details
              i.eh-icon-arrow-right.icon-r
            span.reloader__wr
              span.reloader-icon
                i.eh-icon-reload
              span.reloader-label Reorder

    hr


  footer.main-content__footer
    a(href="").btn.btn-default.btn-bl
      i.eh-icon-arrow-left-bl.icon-l
      | Continue shopping
    a(href="").btn.btn-default.btn-bl
      i.eh-icon-arrow-left-bl.icon-l
      | Home
