extends templates/layouts/_default

block head
  - pageTitle = "Envy Her.";

block content
  ol.breadcrumb
    li
      a(href='#') Home
    li
      a(href='#') Necklaces
    li.active Triple Heart Necklace

  hr.hr_after-breadcrumb

  .section-product-details__wr
    .clearfix
      .product-details-img-wr
          .carusel-big-wr
            .carusel-big-images-wr.owl-carousel.owl-theme.js-big-images
              .carusel-big-img-wr
                .product-new NEW
                .product-sale SALE!
                a(href="imgBackEnd/big-img-1.jpg", data-lightbox="product-img", data-title="Product image title")
                  img(src="imgBackEnd/big-img-1.jpg", alt="img")
              .carusel-big-img-wr
                .product-sale SALE!
                a(href="imgBackEnd/product-3.jpg", data-lightbox="product-img", data-title="Product image title")
                  img(src="imgBackEnd/product-3.jpg", alt="img")
              .carusel-big-img-wr
                .product-new NEW
                a(href="imgBackEnd/product-4.jpg", data-lightbox="product-img", data-title="Product image title")
                  img(src="imgBackEnd/product-4.jpg", alt="img")
              .carusel-big-img-wr
                a(href="imgBackEnd/product-1.jpg", data-lightbox="product-img", data-title="Product image title")
                  img(src="imgBackEnd/product-1.jpg", alt="img")
                .product-sale SALE!
              .carusel-big-img-wr
                a(href="imgBackEnd/big-img-1.jpg", data-lightbox="product-img", data-title="Product image title")
                  img(src="imgBackEnd/big-img-1.jpg", alt="img")
            .carusel-thumbs-wr.owl-carousel.owl-theme.js-thumbs
              .carusel-thumb-wr
                img(src="imgBackEnd/big-img-1.jpg", alt="img")
              .carusel-thumb-wr
                img(src="imgBackEnd/product-3.jpg", alt="img")
              .carusel-thumb-wr
                img(src="imgBackEnd/product-4.jpg", alt="img")
              .carusel-thumb-wr
                img(src="imgBackEnd/product-1.jpg", alt="img")
              .carusel-thumb-wr
                img(src="imgBackEnd/big-img-1.jpg", alt="img")

      .product-details-info-wr
        header.product-details-info__header
          .row.row-sm.product-details-info__header-top
            .col-md-7
              h3.product-details__title Triple Heart Necklace
            .col-md-5
              .product-details__price
                spna.product-details__price-old $119.95
                spna.product-details__price-new $69.95

          .product-details-info__tags
            ul.product-details-info__tags-list
              li Free Shippping
              li Save 40%

        .product-details-info__body
          form.form-horizontal.product-details__form
            h4.product-details__form-title Personalize your Necklace
            .form-group.row-sm
              .col-md-5
                label(for='fcSelectMaterial').control-label.control-label_l Select Material
              .col-md-7
                select#fcSelectMaterial.form-control.custom-select
                  option Silver ($69.95)
                  option 2
                  option 3
            .form-group.row-sm
              .col-md-5
                label(for='fc1stInscription').control-label.control-label_l 1st inscription 
                  span (up to 10 characters)
              .col-md-7
                input#fc1stInscription.form-control(type='text', placeholder='')
            .form-group.row-sm
              .col-md-5
                label(for='fc1stBirthstone').control-label.control-label_l 1st birthstone
              .col-md-7
                select#fc1stBirthstone.form-control.custom-select
                  option March - Aquamarine
                  option 2
                  option 3

            .form-group.row-sm
              .col-md-5
                label(for='fc2ndInscription').control-label.control-label_l 2nd inscription 
                  span (up to 10 characters)
              .col-md-7
                input#fc2ndInscription.form-control(type='text', placeholder='')

            .form-group.row-sm
              .col-md-5
                label(for='fc2ndBirthstone').control-label.control-label_l 2nd birthstone
              .col-md-7
                select#fc2ndBirthstone.form-control.custom-select
                  option August - Peridot
                  option 2
                  option 3

            .form-group.row-sm
              .col-md-5
                label(for='fc3rdInscription').control-label.control-label_l 3rd inscription 
                  span (up to 10 characters)
              .col-md-7
                input#fc3rdInscription.form-control(type='text', placeholder='')

            .form-group.row-sm
              .col-md-5
                label(for='fc3ndBirthstone').control-label.control-label_l 3nd birthstone
              .col-md-7
                select#fc3ndBirthstone.form-control.custom-select
                  option October - Rose Quartz
                  option 2
                  option 3

            .form-group.row-sm.form-group_mg-lg
              .col-md-5
                label(for='fcChainLength').control-label.control-label_l Chain Length
              .col-md-7
                select#fcChainLength.form-control.custom-select
                  option Chain Length
                  option 2
                  option 3

            .form-group.row-sm
              .col-md-7.col-md-offset-5
                button(type='submit').btn.btn-lg.btn-block.btn-bl.add-to-cart-btn
                  | ADD TO CART
                  i.eh-icon-plus.icon-r

        .social__likes-list-wr.clearfix
          .pull-right-sm


            // ----- options link 'http://social-likes.js.org/' ------
            //  <div class="social-likes social-likes_custom" data-url=" " data-title=" ">
                  <div class="facebook" title="Share link on Facebook"></div>
                  <div class="twitter" data-via="yanuha" title="Share link on Twitter"></div>
                  <div class="pinterest" title="Share image on Pinterest" data-media=" "></div>
                  <div class="plusone" title="Share link on Google+"></div>
                  </div>

            //- .social-likes.social-likes_custom.social-likes_visible
              .facebook(title='Share link on Facebook')
              .twitter(title='Share link on Twitter')
              .pinterest(title='Share image on Pinterest', data-media='')
              .plusone(title='Share link on Google+')

            .social-likes.social-likes_custom.social-likes_visible.social-likes_ready
              .social-likes__widget.social-likes__widget_facebook(title='Share link on Facebook')
                span.social-likes__button.social-likes__button_facebook
                  span.social-likes__icon.social-likes__icon_facebook
                span.social-likes__counter.social-likes__counter_facebook 26
              .social-likes__widget.social-likes__widget_twitter(title='Share link on Twitter')
                span.social-likes__button.social-likes__button_twitter
                  span.social-likes__icon.social-likes__icon_twitter
                span.social-likes__counter.social-likes__counter_pinterest 14
              .social-likes__widget.social-likes__widget_pinterest(title='Share image on Pinterest', data-media='')
                span.social-likes__button.social-likes__button_pinterest
                  span.social-likes__icon.social-likes__icon_pinterest
                span.social-likes__counter.social-likes__counter_pinterest 3
              .social-likes__widget.social-likes__widget_plusone(title='Share link on Google+')
                span.social-likes__button.social-likes__button_plusone
                  span.social-likes__icon.social-likes__icon_plusone
                span.social-likes__counter.social-likes__counter_plusone 69


    .product-details__tabs-wr
      ul.product-details__tabs-nav(role='tablist')
        li.active(role='presentation')
          a(href='#tabDescription', aria-controls='tabDescription', role='tab', data-toggle='tab') Description
        li(role='presentation')
          a(href='#tabInstructions', aria-controls='tabInstructions', role='tab', data-toggle='tab') Instructions
        li(role='presentation')
          a(href='#tabSize', aria-controls='tabSize', role='tab', data-toggle='tab') Size
        li(role='presentation')
          a(href='#tabShipping', aria-controls='tabShipping', role='tab', data-toggle='tab') shipping
      // Tab panes
      .tab-content
        #tabDescription.tab-pane.active.fade.in(role='tabpanel')
          .tab-pane-inner
            span(itemprop='description')
              | This personalized small “Carrie” style necklace is the perfect gift for fans of “Sex and the City”. This name necklace is made of 
              b 18k Gold over Sterling Silver (0.925)
              |   and comes with an 18k Gold plated Sterling Silver Box chain.
              br
              br
              | This 
              b Name Necklace
              |  is also available in Regular size 
              a(href='./Product.aspx?p=2006&') 18k Gold-Plated
              |  and small size 
              a(href='./Product.aspx?p=1427') 14k Gold
              |  and 
              a(href='./Product.aspx?p=1318') Sterling Silver
              | .

        #tabInstructions.tab-pane.fade(role='tabpanel')
          .tab-pane-inner
            table(cellspacing='0', cellpadding='0', style='border-collapse:collapse;')
              tbody
                tr
                  td.ProductDotsRemarks
                    img(src='http://cdn.mynamenecklace.com/images/site/bullet_red.gif?v=7')
                  td.ProductLineRemarks One name or word per pendant.
                tr
                  td.ProductDotsRemarks
                    img(src='http://cdn.mynamenecklace.com/images/site/bullet_red.gif?v=7')
                  td.ProductLineRemarks One capital letter per pendant.
                tr
                  td.ProductDotsRemarks
                    img(src='http://cdn.mynamenecklace.com/images/site/bullet_red.gif?v=7')
                  td.ProductLineRemarks
                    .ProductGlossary
                      | The 
                      a.ProductGlossary(data-articleid='72') chain length
                      |  mentioned at our website does not include the pendant.
                tr
                  td.ProductDotsRemarks
                    img(src='http://cdn.mynamenecklace.com/images/site/bullet_red.gif?v=7')
                  td.ProductLineRemarks The size of the pendant varies in accordance with the name and style.
                tr
                  td.ProductDotsRemarks
                    img(src='http://cdn.mynamenecklace.com/images/site/bullet_red.gif?v=7')
                  td.ProductLineRemarks
                    | The average pendant size is:
                    br
                    |  0.75 – 2 inch/ 2 – 5 cm.
                tr
                  td.ProductDotsRemarks
                    img(src='http://cdn.mynamenecklace.com/images/site/bullet_red.gif?v=7')
                  td.ProductLineRemarks
                    a.ProductGlossary(data-articleid='7') Click Here
                    |  to view this style's special font.
                tr
                  td.ProductDotsRemarks
                    img(src='http://cdn.mynamenecklace.com/images/site/bullet_red.gif?v=7')
                  td.ProductLineRemarks
                    | Read about our 
                    a.ProductGlossary(data-articleid='128') Kids Safety policy
                    | .
                tr
                  td.ProductDotsRemarks
                    img(src='http://cdn.mynamenecklace.com/images/site/bullet_red.gif?v=7')
                  td.ProductLineRemarks
                    | Please feel free to 
                    a(href='./CustomerSupport.aspx?p=0&m=123') Email us
                    |  with any special requests or questions.

        #tabSize.tab-pane.fade(role='tabpanel')
          .product-table
            .row
              .col-sm-6
                .product-table-row
                  .product-table__label ID:
                  .product-table__value 101-01-108-08
              .col-sm-6
                .product-table-row
                  .product-table__label Chain style:
                  .product-table__value Rollo Chain
            .row
              .col-sm-6
                .product-table-row
                  .product-table__label Material:
                  .product-table__value Sterling Silver 0.925
              .col-sm-6
                .product-table-row
                  .product-table__label Chain length:
                  .product-table__value 14",16",18",20",22"

            .row
              .col-sm-6
                .product-table-row
                  .product-table__label Style:
                  .product-table__value Engraved Collection

            .row
              .col-sm-6
                .product-table-row
                  .product-table__label Thickness:
                  .product-table__value 0.7mm / 0.03"

            .row
              .col-sm-6
                .product-table-row
                  .product-table__label Measurements:
                  .product-table__value 33mm x 36mm / 1.33" x 1.42"


        #tabShipping.tab-pane.fade(role='tabpanel')
          .tab-pane-inner
            div(style='display: block; padding:10px 0 5px 15px; min-height: 0;') You can choose the shipping method during checkout:
              table(cellpadding='3')
                tbody
                  tr
                    td(style='vertical-align:top;')
                      img(src='http://cdn.mynamenecklace.com/images/site/Green_Bullet.gif')
                    td
                      font(style='color: #f8b163;')
                        strong Standard Shipping
                      | : 
                      strong FREE
                      br
                      | Please allow up to 10 business days for Standard delivery.
                      br
                      span.xmas-delivery-guarantee(style='color:#f599a4;') VALENTINE'S DAY DELIVERY GUARANTEED
              table(cellpadding='3')
                tbody
                  tr
                    td(style='vertical-align:top;')
                      img(src='http://cdn.mynamenecklace.com/images/site/Green_Bullet.gif')
                    td
                      font(style='color: #f8b163;')
                        strong Express Shipping
                      | : 
                      strong $19.95
                      br
                      | Please allow up to 7 business days for Express delivery.
                      br
                      span.xmas-delivery-guarantee(style='color:#f599a4;') VALENTINE'S DAY DELIVERY GUARANTEED
              br
              div(style='display: block; padding:0 0 5px 15px; min-height: 0;') Please note that the time frame mentioned above includes production time.


  .section__popular-products-wr
    .popular-products__title You may like

    include templates/blocks/_popular-products-list

  .section__popular-products-wr
    .popular-products__title CUSTOMERS WHO VIEWED THIS ITEM ALSO VIEWED:

    include templates/blocks/_popular-products-list


  include templates/blocks/_site-info-blocks