extends templates/layouts/_default

block head
  - pageTitle = "Envy Her.";

block content
  ol.breadcrumb
    li
      a(href='#') Home
    li.active Necklaces

  hr.hr_after-breadcrumb


  .section-with-sidebar
    .sidebar-left
      include templates/blocks/_products-manu
      .asside-banner-wr
        a(href="")
          img(src="imgBackEnd/asside-banner.jpg", alt="").img-responsive

    .section-with-sidebar-content
      .clearfix
        header.main-content__header
          h2.main-content__title.main-content__title_up Search result

      .catalog-list-head
        .head-search
          |  Search result for 
          span.search-item "silver"
          |  (162 articles)

      .catalog-list-head
        .head-search.no-articles-found
          |  No articles found for 
          span.search-item.searchstring "asdfasfsadfasdfdsa"
          | . Please try again with a different keyword.

      .catalog-list-pagination
        .category-page__sort-wr
          form.form-inline
            .form-group
              label.sort-by__label Sort by:
            .form-group
              select.custom-select.custom-select-sm
                option Best Sellers
                option 2
                option 3
                option 4
                option 5
            .form-group
              select.custom-select.custom-select-sm
                option 12 Items per page
                option 2
                option 3
                option 4
                option 5
        .showing-products
          span Showing
          |  
          span 1 - 12 of 20 items

        nav(aria-label='Page navigation').products-pagination
          ul.pagination
            li
              a(href='#', aria-label='Previous')
                span(aria-hidden='true')
                  i.eh-icon-arrow-left
            li.active
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#', aria-label='Next')
                span(aria-hidden='true')
                  i.eh-icon-arrow-right

        a(href="").show-all-products Show All

      -var category = true;
      include templates/blocks/_products-list


      .catalog-list-pagination
        .category-page__sort-wr
          form.form-inline
            .form-group
              label.sort-by__label Sort by:
            .form-group
              select.custom-select.custom-select-sm
                option Best Sellers
                option 2
                option 3
                option 4
                option 5
            .form-group
              select.custom-select.custom-select-sm
                option 12 Items per page
                option 2
                option 3
                option 4
                option 5
        .showing-products
          span Showing
          |  
          span 1 - 12 of 20 items

        nav(aria-label='Page navigation').products-pagination
          ul.pagination
            li
              a(href='#', aria-label='Previous')
                span(aria-hidden='true')
                  i.eh-icon-arrow-left
            li.active
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#', aria-label='Next')
                span(aria-hidden='true')
                  i.eh-icon-arrow-right

        a(href="").show-all-products Show All



  include templates/blocks/_site-info-blocks



