extends templates/layouts/_default

block head
  - pageTitle = "Envy Her.";

block content

  .section-with-sidebar
    .sidebar-left
      include templates/blocks/_products-manu
      .asside-banner-wr
        a(href="")
          img(src="imgBackEnd/asside-banner.jpg", alt="").img-responsive

    .section-with-sidebar-content
      .clearfix
        section.info-section
          .info-section__inner
            header.info-section__header
              h1.info-section__header-title Shipping and order info
            .info-section__body
              
              .info-section_sm
                h4.ph-title Envy her offers you FREE SHIPPING 
                p
                  | Envy her offers you FREE SHIPPING We currently ship in the US. All customers must be able to provide a valid shipping address, a full breakdown of the shipping details and resident to where the goods are to be sent to. If your shipping address is different from your billing address, please specify this during checkout.
                  br
                  | Delivery methods 
                  br
                  | Standard shipping – 10-12 working days – FREE
                  br
                  | Express shipping – 5 working days – $19.90
                  br
                  | It is the customer’s responsibility to ensure that all of the order details are correct which include the correct sizes, colors and styles selected in the order are correct. This information cannot be amended or changed once confirmed. It is also the customer’s responsibility to ensure that the complete shipping address is correct which include the complete door number, street name and postcode. We do not hold liability for the goods delivered to addresses incorrectly stated on the order. A collection from the wrong address stated on the order has to be arranged by the customer as we are no longer in possession of the goods. We would have only followed the instruction initially requested on the goods.
                  br
                  | Dependent of your method of payment, you can have your goods shipped to an alternative address. You must ensure that the full address details are included, such as the company organization or name. 
                  br
                  | All orders ship with a tracking number that can be used to monitor the status of the package in transit.
                  br
                  | We Produce within 3-4 days, and the goods will be sent at the end of production,

              .info-section_sm
                h4.ph-title ESTIMATED DELIVERY
                p
                  | The estimated delivery date is based on the dates of delivery method. Shipping is selected based on business days and do not include weekends and holidays.
                p
                  | You will be able to track your order if it was sent by using a trackable service. You can follow its journey to you, you will receive a shipping confirmation email from us once you will place the order and it’ll be on it’s way.
                p
                  | If there is any questions or clarification, please feel free to contact customer support and we will be happy to help you with any questions
              .info-section_sm
                h4.ph-title RETURNS & REFUNDS
                p
                  | To us, no order is complete until you are totally satisfied! We are doing all we can, to make sure that you will get your personalized jewelry just the way you ordered it – beautiful and perfect.
                  br
                  | so, don’t worry if you change your mind, or for any reason you feel that the item you got is damaged or have a defect please let us know immediately. We will work to either offer you an exchange of to refund you. 
                  br
                  a(href="")
                    strong Email us here >

              .info-section_sm
                h4.ph-title RETURN POLICY 
                P
                  | we will receive unworn, new goods in its original packing can within 45 days of delivery. Because all of the personalized goods are unique, those returns will incur a 25% restocking fee
                  br
                  | Please note, if you chose any shipping method other than FREE SHIPPING during checkout, your shipping fee will not be refunded.
                  br
                  | We are not responsible for items that are damaged or lost during return shipping.

              .info-section_sm
                h4.ph-title CANCELLATION POLICY
                p
                  | we know you want your jewelry well… now  so we will start to work on it ASAP, but if you fell you need to cancel one of your purchase please do so within 24 hours. Cancellation made after 24 hours may be subjected to a 25% restocking fee
                p
                  | Envy Her reserves the right to make any amendments to this policy at any time. Notifications of any changes will be published on this page. If you have any inquiries regarding this or any of our other policies, please Contact our Customer Service Representatives.














  include templates/blocks/_site-info-blocks



