extends templates/layouts/_default

block head
  - pageTitle = "Envy Her.";

block content
  ol.breadcrumb
    li
      a(href='#') Home
    li.active Authentication

  header.main-content__header
    h2.main-content__title.main-content__title_border Authentication
  .main-content__body
    .row
      .col-sm-6
        .well.well_authentication
          form.main-content__contact-form(data-toggle="validator" role="form")
            .authentication-form-title Create an account
            .form-group
              p.help-block Please enter your email address to create an account
            .form-group.form-group_mg-xlg.form-group_max-w
              label(for='fcEmailAddress').required Email address
              input#fcEmailAddress.form-control(type='email', placeholder='example@envyher.com', required)
              .help-block.with-errors

            button.btn.btn-lg.btn-default.send-message-contact-btn.btn-bl(type='submit')
              i.eh-icon-user.icon-l
              |  Create an account

      .col-sm-6
        .well.well_authentication
          form.main-content__contact-form(data-toggle="validator" role="form")
            .authentication-form-title Already registered?
            .form-group.form-group_mg-lg.form-group_max-w
              label(for='fcEmailAddress').required Email address
              input#fcEmailAddress.form-control(type='email', placeholder='example@envyher.com', required)
              .help-block.with-errors
            .form-group.form-group_mg-lg.form-group_max-w
              label(for='fcPassword').required Password
              input#fcPassword.form-control(type='password', placeholder='', required)
              .help-block.with-errors

            .form-group.form-group_mg-md
              a(href="").forgot-your-password-link Forgot your password?

            button.btn.btn-lg.btn-default.send-message-contact-btn.btn-bl(type='submit')
              i.eh-icon-lock.icon-l
              |  Sign in

