extends templates/layouts/_default

block head
  - pageTitle = "Envy Her.";

block content

  .section-with-sidebar
    .sidebar-left
      include templates/blocks/_products-manu
      .asside-banner-wr
        a(href="")
          img(src="imgBackEnd/asside-banner.jpg", alt="").img-responsive

    .section-with-sidebar-content
      .clearfix
        section.info-section
          .info-section__inner
            header.info-section__header
              h1.info-section__header-title Size Guide
            .info-section__body
              .info-section_sm
                h4.ph-title RING SIZE
                p
                  | We at Envy Her, would like to make sure that your online shopping experience is as easy as possible. 
                p
                  | To help you find your ring size, we suggest you look at our size chart. Simple and easy to use, this will help you to shop with confidence, knowing that you are looking for the right size ring. All you have to do is to take a strip of paper and wrap it on the widest part of your finger – the one you would like to will wear your gorgeous ring, then compare it to the size chart below.
                br

                .table-responsive
                  table.table.table-condensed.table-striped.table-bordered.table-size
                    thead
                      tr
                        th(colspan="2") Inside Circumferences
                        th Sizes
                    tbody
                      tr.tr-gray
                        th mm
                        th Inches
                        th
                      tr
                        td 31.13
                        td 1.22
                        td -
                      tr
                        td 33.68
                        td 1.39
                        td -
                      tr
                        td 36.22
                        td 1.43
                        td -
                      tr
                        td 37.54
                        td 1.49
                        td -
                      tr
                        td 38.26
                        td 1.51
                        td -
                      tr
                        td 38.86
                        td 1.53
                        td 1
                      tr
                        td 39.58
                        td 1.56
                        td -
                      tr
                        td 40.15
                        td 1.58
                        td -
                      tr
                        td 40.84
                        td 1.61
                        td -
                      tr
                        td 41.50
                        td 1.63
                        td 2
                      tr
                        td 42.13
                        td 1.66
                        td -
                      tr
                        td 42.76
                        td 1.68
                        td 3
                      tr
                        td 43.45
                        td 1.71
                        td -
                      tr
                        td 44.14
                        td 1.74
                        td 4
                      tr
                        td 44.45
                        td 1.75
                        td -
                      tr
                        td 44.77
                        td 1.76
                        td -
                      tr
                        td 45.11
                        td 1.77
                        td 5
                      tr
                        td 45.40
                        td 1.79
                        td -
                      tr
                        td 45.74
                        td 1.80
                        td 6
                      tr
                        td 46.02
                        td 1.81
                        td -
                      tr
                        td 46.68
                        td 1.84
                        td 7
                      tr
                        td 47.25
                        td 1.86
                        td -
                      tr
                        td 47.97
                        td 1.89
                        td 8
                      tr
                        td 48.38
                        td 1.90
                        td -
                      tr
                        td 48.79
                        td 1.92
                        td -
                      tr
                        td 49.32
                        td 1.94
                        td 9
                      tr
                        td 49.64
                        td 1.95
                        td -
                      tr
                        td 49.95
                        td 1.97
                        td -
                      tr
                        td 50.27
                        td 1.98
                        td 10
                      tr
                        td 50.58
                        td 1.99
                        td -
                      tr
                        td 51.21
                        td 2.02
                        td -
                      tr
                        td 51.55
                        td 2.03
                        td -
                      tr
                        td 51.87
                        td 2.04
                        td 12
                      tr
                        td 52.50
                        td 2.07
                        td -
                      tr
                        td 53.16
                        td 2.09
                        td 13
                      tr
                        td 53.82
                        td 2.12
                        td -
                      tr
                        td 54.51
                        td 2.15
                        td 14
                      tr
                        td 54.82
                        td 2.16
                        td -
                      tr
                        td 55.76
                        td 2.20
                        td 15



  include templates/blocks/_site-info-blocks



