extends templates/layouts/_default

block head
  - pageTitle = "Envy Her.";

block content

  .section-with-sidebar
    .sidebar-left
      include templates/blocks/_products-manu
      .asside-banner-wr
        a(href="")
          img(src="imgBackEnd/asside-banner.jpg", alt="").img-responsive

    .section-with-sidebar-content
      .clearfix
        section.info-section
          .info-section__inner
            header.info-section__header
              h1.info-section__header-title Privacy Policy
            .info-section__body
              
              .info-section_sm
                h4.ph-title PRIVACY STATEMENT
                p
                  | We are committed to protecting your privacy. Authorized employees within EnvyHer.com on a need to know basis only use any information collected from individual customers. We constantly review our systems and data to ensure the best possible service to our customers. Parliament has created specific offences for unauthorized actions against computer systems and data. We will investigate any such actions with a view to prosecuting and/or taking civil proceedings to recover damages against those responsible.

              .info-section_sm
                h4.ph-title SHARING INFORMATION
                p
                  | EnvyHer.com will not sell, share, or rent your information to third parties in any manner that differs from what is disclosed in this statement. While EnvyHer.com uses third party credit card processing companies to bill users for goods and services, these companies do not retain, share, store or use your personal information for any secondary purposes.

                p
                  | EnvyHer.com partners with PayPal to allow for a safe, secure, and speedy checkout process. International customers should use PayPal as the faster way to get orders processed. Shipping and billing address must match the address on the PayPal account. Read PayPal’s privacy policy here.

              .info-section_sm
                h4.ph-title PROMOTIONAL MARKETING & CANADIAN ANTI-SPAM LAWS.
                p
                  | Subscribing to our newsletter means consenting to be contacted by Envy Her via email or social media. In other words—if you want to hear from us, we will definitely stay in touch! From time to time, you may find our promotions and special offers in the mail or through email. You are free to opt out of our mailing list at any time if you don’t want these communications. And for the record, EnvyHer.com will never sell, lease, or rent your email address without permission.

              .info-section_sm
                h4.ph-title CHANGING YOUR SUBSCRIPTION PREFERENCES
                p
                  | As a registered user, you can log in to change the preferences to (or to not) receive communications. If you don’t want to be contacted about our promotions and special offers, select the option and we will respect your wishes.
                  br
                  | If you really don’t want to hear from us, you can stop the newsletters and other info by following the ‘unsubscribe’ link in our emails. However, Envy Her may continue to use your personal information to contact you to service your account or as otherwise authorized by law. If you have communicated with us using more than one name or email address, you may still get our emails until these accounts are associated with an opt-out request.


              .info-section_sm
                h4.ph-title THIRD PARTY ADVERTISING
                p
                  | EnvyHer.com uses Remarketing with Google Analytics to advertise online.
                  br
                  | Third-party vendors, including Google, show our ads on sites across the Internet.
                  br
                  | EnvyHer.com and third-party vendors, including Google, use first-party cookies (such as the Google Analytics cookie) and third-party cookies (such as the DoubleClick cookie) together to inform, optimize, and serve ads based on someone’s past visits to EnvyHer.com.
                  br
                  | If you want to, you can opt-out of Google Analytics for Display Advertising and customize Google Display Network ads using the Ads Preferences Manager.
                  br
                  | EnvyHer.com may engage third party advertising companies to advertise products or services to you online. These companies may employ cookies and action tags (also known as single pixel) to measure advertising effectiveness. They may also use this technology to serve specialized or relevant advertising content and / or recommendations to you on our website or on a third party’s website. Any information that these third parties collect via cookies and action tags is completely anonymous and does not contain any personally identifiable information. If you would like more information about this practice and your choices, including how to opt-out click here.

              h3.info-section__title Terms and conditions

              .info-section_sm
                h4.ph-title ORDER PROCESSING
                p
                  | When you place an order, we ask for some pretty standard contact and billing details such as name, phone number, email address, shipping address, and credit card information. Though this information is required to process a purchase, we promise that it remains privately with us. When placing an order, your info is used for credit card verification, order processing, and anonymous traffic monitoring. It’s also crucial for us to have a way to get in touch regarding an order so that nothing surprising happens!
                  br

              .info-section_sm
                h4.ph-title IMAGES AND DESCRIPTIONS
                bp
                  | We make every effort to ensure that all descriptions of our products on the website are accurate. All products are offered for sale on this website subject to availability. In some instances, it may be necessary to substitute alternative materials in making your order (for example, a particular component may be temporarily unavailable). Please rest assured that any substituted items will be of the same high quality as the items shown in the images on this website.
                  br
                  | While we have endeavored to reproduce the actual colors of the materials used in the images on this website, please note that as a result of differing screen resolutions, the age and computer technologies of the equipment used for viewing the images, actual colors may differ slightly from their on-screen representation.
                  br
                  | Items on your screen are not shown at actual size. All dimensions given in the product descriptions are approximate. This is especially relevant as a result of the handcrafted nature of the jewelry, where no two pieces will be exactly the same.
                  br
                  br

              .info-section_sm
                h4.ph-title COPYRIGHT NOTICE
                p
                  br
                  | Copyright and other relevant intellectual property rights exists on all text relating to EnvyHer.com’s services and the full content of this website.
                  br
                  | This Company’s logo is a registered trademark of this Company in the United States and other countries. The brand names and specific services of this Company featured on this web site are trademarked.
                  br
                  | Force Majeure
                  br
                  | Neither party shall be liable to the other for any failure to perform any obligation under any Agreement which is due to an event beyond the control of such party including but not limited to any Act of God, terrorism, war, Political insurgence, insurrection, riot, civil unrest, act of civil or military authority, uprising, earthquake, flood or any other natural or man made eventuality outside of our control, which causes the termination of an agreement or contract entered into, nor which could have been reasonably foreseen. Any Party affected by such event shall forthwith inform the other Party of the same and shall use all reasonable endeavors to comply with the terms and conditions of any Agreement contained herein.
                  br
                  | Waiver
                  br
                  | If we fail to insist that you perform any of your obligations under these Terms, or if we do not enforce our rights against you, or if we delay in doing so, that will not mean that we have waived our rights against you and will not mean that you do not have to comply with those obligations. If we do waive a default by you, we will only do so in writing, and that will not mean that we will automatically waive any later default by you.
                  br
                  | General
                  br
                  | The laws of the United States and the State of Florida govern these terms and conditions. By accessing this website and using our services/buying our products you consent to these terms and conditions and to the exclusive jurisdiction of the Florida courts in all disputes arising out of such access. If any of these terms are deemed invalid or unenforceable for any reason (including, but not limited to the exclusions and limitations set out above), then the invalid or unenforceable provision will be severed from these terms and the remaining terms will continue to apply. Failure of EnvyHer.com to enforce any of the provisions set out in these Terms and Conditions and any Agreement, or failure to exercise any option to terminate, shall not be construed as waiver of such provisions and shall not affect the validity of these Terms and Conditions or of any Agreement or any part thereof, or the right thereafter to enforce each and every provision. These Terms and Conditions shall not be amended, modified, varied or supplemented except in writing and signed by duly authorized representatives of EnvyHer.com.



  include templates/blocks/_site-info-blocks



