extends templates/layouts/_default

block head
  - pageTitle = "Envy Her.";

block content
  ol.breadcrumb
    li
      a(href='#') Home
    li.active Your personal information

  header.main-content__header.main-content__header_border
    h2.main-content__title Your personal information 
  .main-content__body
    .user-profile
      .well
        form.user-profile__form
          .form-group_mg-xlg
            .form-hint__wr
              p.form-hint.form-hint_strong
                | Please be sure to update your personal information if it has changed.
              p.form-hint.form-hint_danger *Required field

          .form-group.form-group_max-w
            .form-group
              label Title
            .custom-radio.radio-inline
              input#radioMr(type='radio', name='inlineRadioOptions', value='option1', checked)
              label(for="radioMr")
                | Mr.
            .custom-radio.radio-inline
              input#radioMrs(type='radio', name='inlineRadioOptions', value='option2')
              label(for="radioMrs")
                | Mrs.

          .form-group.form-group_max-w
            label(for='fcFirstName').required First name
            input#fcFirstName.form-control(type='text', placeholder='First name', required)

          .form-group.form-group_max-w
            label(for='fcLastName').required Last name
            input#fcLastName.form-control(type='text', placeholder='Last name', required)

          .form-group.form-group_max-w
            label(for='fcEmailAddress').required Email address
            input#fcEmailAddress.form-control(type='email', placeholder='', required)


          .form-group.form-group_max-w
            label(for='fcBirthday').required Birthday
            .row.row-sm
              .col-xs-4
                select#fcBirthday.form-control.custom-select
                  option(selected disabled) Day
                  option 2
                  option 3
                  option 4
                  option 5
              .col-xs-4
                select.form-control.custom-select
                  option(selected disabled) Month
                  option 2
                  option 3
                  option 4
                  option 5
              .col-xs-4
                select.form-control.custom-select
                  option(selected disabled) Year
                  option 2
                  option 3
                  option 4
                  option 5

          .form-group.form-group_mg-lg.form-group_max-w
            label(for='fcCurrentPassword') Current Password
            input#fcCurrentPassword.form-control(type='password', placeholder='')

          .form-group.form-group_mg-lg.form-group_max-w
            label(for='fcNewPassword') New Password
            input#fcNewPassword.form-control(type='password', placeholder='')

          .form-group.form-group_mg-lg.form-group_max-w
            label(for='fcConfirmationPassword') Confirmation
            input#fcConfirmationPassword.form-control(type='password', placeholder='')


          .form-group.form-group_light-label
            .custom-checkbox
              input#ch1(type='checkbox', value='', checked)
              label(for="ch1")
                | Sign up for our newsletter!
            .custom-checkbox
              input#ch2(type='checkbox', value='')
              label(for="ch2")
                | Receive special offers from our partners! 

          button.btn.btn-lg.btn-default.btn-bl(type='submit')
            | Save  
            i.eh-icon-arrow-right-bl.icon-r
  footer.main-content__footer
    a(href="").btn.btn-default.btn-bl
      i.eh-icon-arrow-left-bl.icon-l
      | Continue shopping
    a(href="").btn.btn-default.btn-bl
      i.eh-icon-arrow-left-bl.icon-l
      | Home



