extends templates/layouts/_default

block head
  - pageTitle = "Envy Her.";

block content
  .message__wrapper
    header.message__header
      .message__header-top-panel
        .message__container
          .message__header-text
            p Text for order confirmation
            p.message-topic Topic – We got your order! #12334455
      .message__container
        .message__header-logo-wrapper
          a(href="").message__header-logo
            img(src="img/logo-new.jpg", alt="header logo", width="123", height="96").header__logo.img-responsive
            .sr-only
              h1 Envy Her.

    .message__body
      .message__container
        p Hi John Doe! Thanks for your order, we hope you had fun shopping with us!
        br
        p
          strong Your Order
        table.order-table.order-table_borderede
          tr
            th Order Number
            td 12334455
          tr
            th Item
            td
              | Lorem ipsum
              br
              small
                | dolor sit amet consectetur adipisicing elit,
                br
                | sed do eiusmod tempor
          tr
            th Total
            td
              strong $49.00
        br
        table.order-table
          tr
            th Payed with
            td PayPal
          tr
            th Shipping Address
            td
              | Washington Ave. 37
              br
              | 0978457, NY
        br
        a(href='')
          strong Have a Question? &gt;
        p
          small Zoey, Envy Her Care team


      img(src="img/order_banner.jpg" alt="" width="600" height="249").img-responsive

    footer.message-footer
      .message__container
        ul.message-footer__social-menu
          li.message-footer__social-menu-item
            a(href="")
              i.eh-icon-facebook
          li.message-footer__social-menu-item
            a(href="")
              i.eh-icon-instagram
          li.message-footer__social-menu-item
            a(href="")
              i.eh-icon-twitter
          li.message-footer__social-menu-item
            a(href="")
              i.eh-icon-pinterest