.asside-banner-wr {
  // padding-top: 150px;
  margin-bottom: 30px;
  img {
    margin: 0 auto;
  }
}

.category-page__sort-wr {
  margin-bottom: 30px;
  .form-group {
    @include breakpoint($screen-sm) {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
  .custom-select {
    width: 100%;
    @include breakpoint($screen-sm) {
      width: 180px;
    }
    color: #153648;
  }
  label {
    color: #153648;
    min-width: 60px;
  }
}

.products-list__header,
.products-list__footer,
.catalog-list-pagination {
  @extend .clearfix;
}

.showing-products {
  color: #606d74;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}

.eh-icon-arrow-left,
.eh-icon-arrow-right {
  position: relative;
  bottom: -2px;
  font-size: 16px;
}

.show-all-products {
  color: #153648;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 20px;
}

.showing-products {
  text-align: center;
  @include breakpoint($screen-sm) {
    text-align: left;
    float: left;
    padding-top: 6px;
  }
}

.products-pagination {
  float: left;
  @include breakpoint($screen-sm) {
    .products-list__header &,
    .catalog-list-pagination & {
      float: right;
      margin-left: 20px;
    }
    .products-list__footer & {
      float: none;
      text-align: center;
      padding-left: 150px;
      padding-right: 150px;
    }
  }
}

.show-all-products {
  margin-top: 5px;
  float: right;
  @include breakpoint($screen-sm) {
    
  }
}