.table-product-thumbnail {
  max-width: 100px;
  background-color: white;
  border: 1px solid #efefef;
  display: inline-block;
  vertical-align: middle;
  @include breakpoint($screen-sm) {
    display: block;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.checkout-table {
  margin-bottom: 40px;
  thead {
    @media only screen and (max-width: $screen-xs-max) {
      display: none !important;
    }
  }
  > tbody,
  > thead {
    > tr > {
      th {
        @include breakpoint($screen-sm) {
          padding: 10px 20px;
        }
      }
      td {
        @include breakpoint($screen-sm) {
          padding: 20px;
        }
      }
    }
  }
  .checkout-tr-price {
    > td {
      text-shadow: 0.7px 0.7px 0 white;
      font-size: 13px;
      font-weight: 900;
      &:before {
        display: none;
      }
    }
  }
  .checkout-tr-price_important {
    font-size: 19px;
    text-transform: uppercase;
  }
}

.th-product {
  width: 140px;
}

.th-description {
  width: 470px;
}

.th-delete {
  width: 50px;
}

.td-unit-price {
  font-size: 15px;
  font-weight: 900;
  margin-bottom: 5px;
}

.unit-price-sale {
  color: $brand-danger;
}

.unit-price-old {
  color: #b2b2b2;
  text-decoration: line-through;
}

.td-description {
  color: #616161;
  font-size: 20px;
  font-weight: 900;
}

.td-description-text {
  @media only screen and (max-width: $screen-xs-max) {
    display: inline-block;
  }
}

.td-total {
  font-size: 15px;
  font-weight: 900;
}

.unit-price-inner {
  display: inline-block;
  vertical-align: top;
}

.td-delete {
  @media only screen and (max-width: $screen-xs-max) {
    background-color: $brand-primary;
    .delete-product-btn {
      color: #fff;
    }
  }
  .checkout-table & {
    text-align: center;
  }
}

.delete-product-btn {
    font-size: 24px;
    line-height: 1;
    vertical-align: middle;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $brand-danger;
  }
}

.qty-form-group_wr {
  display: inline-block;
  text-align: center;
  @include breakpoint($screen-sm) {
    width: 66px;
  }
  .input-group-btn {
      display: inline-block;
      margin-left: 10px;
    @include breakpoint($screen-sm) {
      display: block;
      margin-left: 0;
    }
  }
}

.input-qty {
  display: inline-block;
  @include breakpoint($screen-sm) {
    display: block;
  }
  .form-control {
    border-color: transparent;
    outline: none;
    text-align: center;
    margin-bottom: 5px;
    &:focus {
      border-color: $brand-primary;
    }
  }
}

.well_security {
  position: relative;
  @media only screen and (max-width: $screen-xs-max) {
    padding-top: 70px;
  }
}

.ssl-security__badge {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: #e7e7e7;
  padding: 8px 10px 8px 20px;
  @include breakpoint($screen-sm) {
    top: 30px;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    border-width: 28px 10px;
    border-style: solid;
    border-color: #e7e7e7 transparent transparent;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -10px;
    border-width: 28px 10px;
    border-style: solid;
    border-color: transparent transparent #e7e7e7;
  }
}

.ssl-security__badge-icon {
  float: left;
  margin-right: 10px;
  font-size: 38px;
  line-height: 1;
}

.ssl-security__badge-text {
  float: left;
  text-shadow: 0.7px 0.7px 0 rgba(255, 255, 255, 0.48);
  font-weight: 900;
  font-size: 11px;
}

.ssl-security__badge-text_big {
  font-size: 16px;
}

.main-content__title_wr {
  padding-top: 20px;
}

.pay-btn-wr {
  text-align: center;
  @include breakpoint($screen-sm) {
    padding: 0 240px;
  }
  .btn {
    min-width: 250px;
    text-transform: uppercase;
  }
}

// .main-content__payment-information {
//   .continue-shopping-btn {
//     border: none;
//     &:hover {
//       color: $brand-primary-2;
//     }
//   }
// }

.billing-address__list-item {
  display: table;
  width: 100%;
  border: 1px solid #c9cbcd;
  margin-bottom: 15px;
  cursor: pointer;
}

.billing-address__list-item-tc {
  display: table-cell;
  vertical-align: middle;
  padding: 15px;
  color: #7a7b7e;
  + .billing-address__list-item-tc {
    border-left: 1px solid #c9cbcd;
  }
}

.billing-address__list-item-ch-wr {
  text-align: center;
  width: 50px;
  label {
    margin: 0;
    padding-left: 16px !important;
  }
}
.billing-address__list-item-icon-wr {
  width: 100px;
  font-size: 30px;
  line-height: 1;
  text-align: center;
}
.billing-address__list-item-title-wr {

}
.billing-address__list-item-type-wr {
  width: 160px;
}

.js-billing-address__list,
.js-enter-shipping-form {
  display: none;
}

.js-send-to-my-billing-address {
  &.active {
    ~ .js-billing-address__list {
      display: block;
    }
  }
}

.js-enter-a-different-shipping-address {
  &.active {
    ~ .js-enter-shipping-form {
      display: block;
    }
  }
}