.main-content__contact-form-title {
  text-shadow: 0.7px 0.7px 0 white;
  color: #0c0c0c;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.well__contact-form-wr {
  // background-color: #fff;
  // @include box-shadow(0 5px 9px rgba(0, 0, 0, 0.14));
  padding: 30px 20px;
  margin-bottom: 70px;
  @include breakpoint($screen-sm) {
    background-image: url(../img/contact-form-bg.png);
    background-position: center right;
    background-repeat: no-repeat;
  }
}

.send-message-contact-btn {
  min-width: 120px;
  .eh-icon-arrow-right-bl {
    display: inline-block;
    margin-left: 15px;
  }
}

.contact-us__message {
  @include breakpoint($screen-sm) {
    min-height: 254px;
  }
}
