.section-faq__body {
  font-size: 15px;
  line-height: 24px;
}

.section-faq__list-item {
  background-color: $gray-lighter;
  border: 1px solid $gray-light;
  padding: 15px 20px;
  @include breakpoint($screen-sm) {
    padding: 20px 30px;
  }
  @extend .clearfix;
  &:not(:last-child) {
    margin-bottom: 20px;
    @include breakpoint($screen-sm) {
      margin-bottom: 30px;
    }
  }
}

.section-faq__list-item-icon-wr {
  float: left;
  width: 60px;
  font-size: 60px;
  line-height: 60px;
  color: #d3d3d3;
  margin: 0 20px 10px 0;
  &.faq__list-item-icon_sm {
    font-size: 50px;
  }
}

.section-faq__list-item-content {
  @include breakpoint($screen-sm) {
    overflow: hidden;
  }
}

.section-faq__list-item-title {
  text-shadow: 0.7px 0.7px 0 white;
  color: #0c0c0c;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 20px 0 20px;
  @include breakpoint($screen-sm) {
    margin-top: 10px;
  }
}

.section-faq__questions-list {
  list-style: none;
  padding: 0;
  margin: 0;
  clear: both;
  @include breakpoint($screen-sm) {
    font-size: 15px;
  }
}

.section-faq__questions-list-item {
  color: #606d74;
  line-height: 1.5em;
  position: relative;
  padding-left: 15px;
  &:not(:last-child) {
    margin-bottom: 5px;
    @include breakpoint($screen-sm) {
      margin-bottom: 15px;
    }
  }
  &:after {
    content: '\2022';
    font-size: inherit;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 3.5px;
  }
  a {
    color: inherit;
  }
}