.hp-banners-wr {
  margin-bottom: 20px;
  // @include breakpoint($screen-sm) {
  //   margin-bottom: 80px;
  // }
}

.hp-banner-sm__wr {
  margin-bottom: 20px;
  @include breakpoint($screen-sm) {
    margin-bottom: 40px;
  }
}

.hp-banner__slider {
  margin-bottom: 20px;
  @include breakpoint($screen-sm) {
    margin-bottom: 40px;
  }
}
