.info-section__header {
  margin-top: -13px;
  margin-bottom: 20px;
}

.info-section__header-title {
  font-weight: 400;
  font-size: 32px;
  margin: 0 0 20px;
  color: #0c0c0c;
}

.info-section {
  color: #606d74;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  h1, h2, h3, h4, h5, h6 {
    color: #0c0c0c;
  }
  // p {
  //   margin-bottom: 10px;
  // }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  a {
    color: #606d74;
    &:hover {
      color: darken(#606d74, 5%);
    }
  }
}

.info-section__inner {
  max-width: 755px;
}

.info-section_sm {
  margin-bottom: 30px;
}

.info-section__title {
  font-size: 24px;
  margin: 30px 0;
}