.message__wrapper {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #efefef;
  small {
    font-size: 13px;
    color: #a0a0a0;
  }
}

.message__container {
  max-width: 500px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.message__header-top-panel {
  background-color: #352d2b;
  padding: 10px 0;
  color: #fefefe;
  font-size: 18px;
  font-weight: 300;
  p {
    margin: 0;
  }
}

.message-topic {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.message__header-logo-wrapper {
  padding: 25px 0;
}

table.order-table {
  table-layout: fixed;
  width: 100%;
  th {
    font-weight: 700;
    color: $black;
    width: 130px;
    padding: 12px 12px 12px 0;
  }
  td {
    padding: 12px;
  }
}

table.order-table_borderede {
  td,th {
    border: 1px solid #e9e9e9;
    padding: 12px;
  }
}

.message-footer {
  padding: 25px 0;
}

.message-footer__social-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.message-footer__social-menu-item {
  display: inline-block;
  padding: 5px 10px;
  a {
    text-decoration: none;
    font-size: 27px;
  }
}