.my-account-page-wr {
  @include breakpoint($screen-sm) {
    margin-bottom: 50px;
  }
}

.my-account__menu-list-item {
  padding: 10px 15px;
  margin-bottom: 5px;
  background-color: $gray-lighter;
  border: 1px solid  $gray-light;
  @include breakpoint($screen-sm) {
    margin-bottom: 20px;
    padding: 15px 20px;
  }
}

.my-account__menu-list-link {
  display: table;
  table-layout: fixed;
  width: 100%;
  &:hover,
  &:focus {
    text-decoration: none;
    .my-account__menu-link-icon {
      color: #000;
    }
    .my-account__menu-link-text {
      color: $brand-warning;
    }
  }
}

.my-account__menu-link-icon {
  @extend %transition;
  width: 20px;
  display: table-cell;
  vertical-align: middle;
  font-size: 20px;
  line-height: 1;
  color: #afafaf;
  text-align: center;
  @include breakpoint($screen-sm) {
    font-size: 30px;
    width: 30px;
  }
}

.my-account__menu-link-text {
  @extend %transition;
  display: table-cell;
  vertical-align: middle;
  text-shadow: 0.7px 0.7px 0 white;
  color: #0c0c0c;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  padding-left: 20px;
  @include breakpoint($screen-sm) {
    font-size: 15px;
  }
}

.main-content__footer {
  @extend .clearfix;
  .btn {
    // border-color: $input-border;
    margin-bottom: 5px;
    &:not(:last-child) {
      margin-right: 20px;
    }
    .eh-icon-arrow-right-bl,
    .eh-icon-arrow-left-bl {
      position: relative;
      bottom: -2px;
    }
  }
  @include breakpoint($screen-sm) {
    margin-bottom: 50px;
  }
}
