.order-table {
  color: #616161;
  th {
    text-shadow: 0.7px 0.7px 0 white;
    font-family: Lato;
    font-size: 13px;
    font-weight: 900;
  }
  > tbody,
  > thead {
    > tr > {
      td,
      th {
        vertical-align: middle;
      }
    }
  } 
  .actions {
    .btn {
      margin-right: 10px;
    }
  }
  .order-link {
    text-decoration: underline;
    color: #616161;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
  .total-price {
    font-size: 15px;
    font-weight: 900;
  }
  .label {
    display: inline-block;
  }
}

.reloader__wr {
  color: #8e8e8e;
  padding: 5px 0;
  display: inline-block;
  .reloader-icon {
    vertical-align: middle;
    line-height: 1;
    margin-right: 5px;
  }
}