.carusel-big-wr {
  margin-bottom: 20px;
}

.section-product-details__wr {
  @extend .clearfix;
}

.product-details-img-wr {
  @include breakpoint(500px) {
    @include column(10/12, $offset: 1/12);
  }
  @include breakpoint(600px) {
      @include column(1/2);
  }
  @include breakpoint($screen-md) {
      @include column(5/12);
  }
}

.product-details-info-wr {
  clear: both;
  @include breakpoint(600px) {
    @include column(1/2);
      clear: none;
  }
  @include breakpoint($screen-md) {
    @include column(7/12);
  }
}

.product-details-info__body {
  margin-bottom: 20px;
  @include breakpoint($screen-md) {
    margin-bottom: 30px;
  }
}

.product-details-info__header {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid $gray-light;
}

.product-details-info__header-top {
  @include breakpoint($screen-md) {
    margin-bottom: 15px;
  }
}

.product-details__title {
  color: #0c0c0c;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 0;
}

.product-details__price {
  margin-bottom: 15px;
  @include breakpoint($screen-md) {
    text-align: right;
    margin-bottom: 0;
  }
}

.product-details__price-new {
  color: #0c0c0c;
  font-size: 28px;
  line-height: 28px;
  font-weight: 400;
}

.product-details__price-old {
  color: #afb0b5;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 20px;
}

.product-details__form-title {
  color: #0c0c0c;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 0;
}

.product-details-info__tags-list {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    border: 1px solid $gray-light;
    padding: 3px 12px;
    background-color: $gray-light;
    font-size: 12px;
    line-height: 16px;
  }
}

.add-to-cart-btn {
  padding-right: 50px;
  position: relative;
  background-color: #c0c0c0;
  &:hover,
  &:focus {
    background-color: darken(#c0c0c0, 5%)
  }
  .icon-r {
    position: absolute;
    right: 15px;
    top: 50%;
    font-size: 20px;
    line-height: 1;
    margin-top: -11px;
  }
}

.social__likes-list-wr {
  margin-bottom: 30px;
}

.product-details__tabs-wr {
  border: 1px solid $gray-light;
  margin-bottom: 30px;
  @include breakpoint($screen-md) {
    margin-bottom: 40px;
  }
}

.product-details__tabs-nav {
  list-style: none;
  padding: 0;
  @include breakpoint(500px) {
    padding: 20px;
  }
  margin: 0;
  border-bottom: 1px solid $gray-light;
  li {
    display: block;
    @include breakpoint(500px) {
      margin-right: 15px;
      display: inline-block;
    }
    @include breakpoint($screen-lg) {
      margin-right: 50px;
    }
    a {
      color: #fff;
      background-color: $brand-primary;
      font-size: 16px;
      font-weight: 300;
      text-transform: uppercase;
      font-weight: 700;
      display: block;
      padding: 5px 20px;
      border-bottom: 1px solid lighten($brand-primary, 5%);
      @include breakpoint(500px) {
        color: #afb0b5;
        background-color: transparent;
        padding: 0;
        border: none;
      }
    }
    &:hover,
    &:focus,
    &.active {
      a {
        background-color: lighten($brand-primary, 5%);
        text-decoration: none;
        @include breakpoint(500px) {
          background-color: transparent;
          color: $brand-primary;
        }
      }
    }
  }
}

.section__popular-products-wr {
  margin-bottom: 30px;
  @include breakpoint($screen-md) {
    margin-bottom: 50px;
  }
}

.popular-products__title {
  color: #444655;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.popular-products__list {
  @extend .clearfix;
}

.popular-product__list-item {
  background-color: white;
  border: 1px solid #efefef;
  @include column(1/2, $cycle: 2);
  margin-bottom: 15px;
  position: relative;
  @extend %transition;
  @include breakpoint(500px) {
    @include column(1/3, $cycle: 3);
  }
  @include breakpoint($screen-sm) {
    @include column(1/4, $cycle: 4);
  }
  @include breakpoint($screen-md) {
    @include column(1/6, $cycle: 6, $gutter: 2.5);
  }
  @include breakpoint($screen-md) {
    margin-bottom: 20px;
    &:hover {
      border-color: $brand-primary;
      @include box-shadow(0 5px 9px rgba(0, 0, 0, 0.14));
    }
  }
}

.popular-product__list-item-info {
  padding: 10px;
  @include breakpoint($screen-md) {
    padding: 15px;
  }
}

.popular-product__list-item-thumbnail {
  overflow: hidden;
  min-height: 120px;
  img {
    margin: 0 auto;
  }
}

.popular-product__list-item-title {
  color: #444655;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  font-weight: normal;
  margin-bottom: 5px;
  height: 36px;
  overflow: hidden;
}

.popular-product__list-item-price_new {
  color: #444655;
  font-size: 18px;
  font-weight: 900;
  display: block;
  @include breakpoint($screen-sm) {
    font-size: 16px;
    display: inline-block;
    min-width: 70px;
    padding-right: 5px;
  }
}

.popular-product__list-item-price_old {
  color: #444655;
  font-size: 12px;
  font-weight: 400;
  text-decoration: line-through;
}

.product-table {
    color: #0c0c0c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
  .row {
    margin: 0;
    &:not(:last-child) {
      > [class*="col-"] {
        border-bottom: 1px solid $gray-light;
        @include breakpoint($screen-sm-max) {
          border-bottom: none;
        }
      }
      @include breakpoint($screen-sm) {
        border-bottom: 1px solid $gray-light;
      }
    }
    > [class*="col-"] {
      padding: 15px 20px;
      @include breakpoint($screen-sm) {
        &:first-child {
          border-right: 1px solid $gray-light;
        }
      }
    }
  }
}

.product-table-row {
  @extend .clearfix;
}

.product-table__label {
  float: left;
  width: 150px;
}

.product-table__value {
  overflow: hidden;
}

.tab-pane-inner {
  padding: 20px;
}
