.catalog-list-head {
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.search-item {
  .no-articles-found & {
    color: $state-danger-text;
  }
  color: $brand-success;
}

.no-articles-found {
  padding: 15px;
  border: 1px solid $state-danger-border;
  background-color: $state-danger-bg;
  margin-bottom: 30px;
}
