.authentication-form-title {
  text-shadow: 0.7px 0.7px 0 white;
  color: #222;
  font-size: 19px;
  font-weight: 900;
  text-transform: uppercase;
  border-bottom: 1px solid $gray-light;
  padding-bottom: 15px;
  padding-top: 10px;
  margin-bottom: 15px;
}

.well_authentication {
  margin-bottom: 20px;
  @include breakpoint($screen-sm) {
    min-height: 365px;
    margin-bottom: 70px;
  }
}

.forgot-your-password-link {
  color: #7a7b7e;
  text-decoration: underline;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}