// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
}

.container.header {
  background: #f3f3f3;
}

.container-inner {
  max-width: 512px;
  margin: 0 auto;
  Margin: 0 auto;
}

.header .container-inner {
  max-width: 480px;
  .columns {
    padding: 0 !important;
  }
}

.header {
  background: #352d2b;
}

.top-panel {
  font-size: 18px;
  font-weight: 300;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 0 16px;
}

.header .container {
  background: transparent;
}

// Social Media
// table.button.facebook table td {
//   background: #3B5998 !important;
//   border-color: #3B5998;
// }

// table.button.twitter table td {
//   background: #1daced !important;
//   border-color: #1daced;
// }

// table.button.google table td {
//   background: #DB4A39 !important;
//   border-color: #DB4A39;
// }

// .wrapper.secondary {
//   background: #f3f3f3;
// }

table.order-table {
  table-layout: fixed;
  th {
    font-weight: 700;
    color: $black;
    width: 118px;
    padding: 12px 12px 12px 0;
  }
  td {
    padding: 12px;
  }
}

table.order-table_borderede {
  td,th {
    border: 1px solid #e9e9e9;
    padding: 12px;
  }
  th {
    width: 106px;
  }
}