@charset utf-8;
/*--
	Theme Name: theme1776
	Theme URI: http://template-help.com/
	Description: A theme for Wordpress 3.2+ from Template-Help.com Collection
	Author: Template_Help.com 
	Author URL: http://www.Template-Help.com/ 
--*/

/* General
---------------------------------------- */
html,
body {
	min-width:320px;
	}
body{
	background-color: #e3e3e3;
	font:12px/24px Arial, Helvetica, sans-serif;
	color:#000000;
	position:relative;
	-webkit-text-size-adjust: auto;
}

::selection {background: rgb(255,255,158);}
::-moz-selection {background: rgb(255,255,158);}
img::selection {background: transparent;}
img::-moz-selection {background: transparent;}
body {-webkit-tap-highlight-color: rgb(255,255,158);}

#main {
	background:#f7f9f9 50% 0 no-repeat;
	line-height:24px !important;

}
.bg{ 
	width: 100%;
	min-height:300px;
	background: 0 0 repeat-x #FFFFFF; 
	padding:52px 0 31px 0;
background-repeat:repeat-y;
background-position: top right; 
direction:rtl;
text-align:right;
}
img {
	max-width: 100%;
	height: auto;
	}
.ie8 img {
	max-width: none !important;
	}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	font-weight:bold;
	margin:0 0 1em 0;
	}	
h1{
	letter-spacing: -2px;
	margin-bottom: 18px;
}
h2{
	margin-bottom: 35px;
}
h5 {
	line-height: 1.7em !important;
	margin-bottom: 25px;
	}
	h3 a, h5 a{
		text-decoration: none;
		color: #1d1d1d;
	}
	h5 a:hover{
		text-decoration: underline;
	}
	h3 a:hover{
		color: #1EC7EB;
	}
/* List styling */
dl dt {
	background:url(/yaadpay/images/left.gif) no-repeat 0 3px;
	padding:0 0 3px 32px;
	margin-bottom:.2em;
	font-size:18px;
	line-height:1.2em;
	color:#191919;
	}
dl dd {
	padding:0 0 0 32px;
	margin:0 0 1.5em 0;
	}


/* Header
---------------------------------------- */
#header {
	position:relative;
	z-index:99;
	background: #272d32;
	}

/* Logo */
.logo {
	float: left;
	min-width: 400px;
	position:relative;
	margin:27px 0 0 0;
	}
	.logo h1,
	.logo h2 {
		font-size:4em;
		line-height:1.2em;
		margin-bottom:0;
		float: left;
		}
		.logo h1 a,
		.logo h2 a {
			color:#222;
			text-decoration:none;
			}
.logo .tagline {
	color:#999; 
	display:inline-block; 
	padding:32px 0 0 29px;
	overflow: hidden;
	margin-bottom: 0;
	}

#logo{
	float: left;
}
/* Header widget */
#widget-header {
}
	.widget-header {
		
		}
.log-in-out{
	padding:10px 0 0 0; 
	text-align:right;
}
	.log-in-out a{ 
		font:12px/15px Arial, Helvetica, sans-serif; 
		color:#999; 
		text-decoration:underline; 
		display:inline-block;
	}
	.log-in-out a:first-child{ 
		padding-right:8px; 
		margin-right:8px;
	}
	.log-in-out a:hover{ 
		text-decoration:none;
		color:#1ec7eb;
	}
/* Social Networks */
#widget-header .social-networks {
	list-style-type:none;
	padding:0;
	margin:0;
	border:none;
	}
	#widget-header .social-networks li {
		display:inline;
		list-style-type:none;
		padding:0;
		margin:0;
		}
		#widget-header .social-networks li a {
			text-decoration:none;
			margin-right:2px;
			}
		#widget-header .social-networks li a:hover {
			text-decoration:none;
			}

/* EasyTooltip */
.tooltip {
	background: none repeat scroll 0 0 #252525;
	border: 1px solid #000000;
	color: #EEEEEE;
	display: none;
	font-size: 11px;
	line-height:1.2em;
	margin:0;
	padding: 5px;
	z-index:99;
}




/* Request a quote */
#widget_my_requestquotewidget {
	
	}
	.top-box h1{
	}
	.top-box {
		font-size: 14px;
		line-height: 24px;
		color: #999999;
		}
	.box-button {
		padding-top: 28px;
		}
		.box-button .button {
			}
	.box-text {
		}



/* Slider
---------------------------------------- */
#slider-wrapper {
	
	}
.flexslider-holder {
	height:451px;
	}


/* Navigations
---------------------------------------- */

/* Primary navigation */
nav.primary {

margin-left:auto;
margin-right:auto;

	position:relative;
	z-index:2;
	padding: 36px 0 0 0;
}

/* Essential styles for dropdown menu */
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;

}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			right;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:		relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	right:			0;
	top:			68px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	right:			136px; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	right:			10em; /* match ul width */
	top:			0;
}


/* Our skin for dropdown menu */
.sf-menu li {
	font:15px/18px 'Oswald', sans-serif; 
	text-transform:uppercase; 
	width:134px; 
	border-left:1px solid #3a3a3a;
		text-transform:none;
}
.sf-menu li:first-child{ 
	/*border:none;
	width:140px; */
}
.sf-menu li li:first-child{ 
	width:100%; 
}
	.sf-menu li a {
		display:block; 
		/*background:url(images/nav-tail.jpg) 0 0 repeat-x #ebebeb;*/
		background: 0 0 repeat-x #ebebeb;
		color:#272d32; 
		padding:24px 0 26px; 
		text-align:center;
		text-decoration: none;
			text-transform:none;
	}
	.sf-menu li:first-child a{ 
		border-radius:0 7px 7px 0;
	}
	.sf-menu li.last a{ 
		border-radius:7px 0 0 7px;
	}
	.sub-menu li.last a{ 
		border-radius:0px 0 0 0px;
	}
		.sf-menu li.current-menu-item a,
		.sf-menu li.sfHover a,
		.sf-menu li a:hover{ 
			text-decoration:none; 
			background:#1ec7eb;
			color:#fff; 
		}
.sf-menu ul {
	width:	135px; 
}
.sf-menu li li{
	width:100%;
	padding:0; 
	font:13px/15px Arial, Helvetica, sans-serif; 
	border:none; 
	text-transform:none;}
	.sf-menu li li:first-child a{ 
		border-radius:0;
	}
	.sf-menu li li a,
	.sf-menu li.sfHover li a,
	.sf-menu li.current-menu-item li a{ 
		background:#1e1e1e; 
		color:#fff; 
		padding:9px 0;
	}
		.sf-menu li li a:hover,
		.sf-menu li li.sfHover a,
		.sf-menu li li.current-menu-item a{ 
			background:#dcdcdc; 
			color:#242424;
		}
.sf-menu ul ul {
	width:			135px; 
}
	.sf-menu li li li{}
	.sf-menu li li li a,
	.sf-menu li li.sfHover li a,
	.sf-menu li li.current-menu-item li a{ 
		background:#1e1e1e; 
		color:#fff;
	}
		.sf-menu li li li a:hover,
		.sf-menu li li li.current-menu-item a{
			background:#dcdcdc; 
			color:#242424;
		}

/*** arrows **/
.sf-menu a.sf-with-ul {
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	bottom:			40%; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	/*background:		url(images/arrows-ffffff.png) no-repeat -10px -100px; 8-bit indexed alpha png. IE6 gets solid image only */
	background:url(/yaadpay/3.0/images/marker.png) 0 1px no-repeat; 
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	bottom:			43%;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; bottom:37%;}
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url(/yaadpay/3.0/images/shadow.png) no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}

/* Navigation select styling */
.select-menu {
	border:1px solid #E3E3E3;
	background-color:#EFF0F0;
	width:100%;
	height:30px;
	padding:5px;
	cursor:pointer;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.select-menu:focus {border-color:#999;}

.select-menu option {
	padding:5px;
	cursor:pointer;
}

.select-menu option.main_item {font-weight:bold;}


/* Top search */
#top-search {
	padding:23px 0 0 0; 
	position:relative; 
	overflow:hidden;
}
	#top-search .input-search {
		font-family: Arial, Helvetica, sans-serif;
		color:#999;
		font-size:1em;
		vertical-align:middle;
		font-weight:normal;
		padding:11px 12px 12px;
		margin:0;
		background:#eff0f0;
		outline:none;
		border:none;
		width:241px; 
		border-radius:5px 0 0 5px; 
		min-height:15px\9;
		float: left;
		}
	#top-search #submit {
		height: 38px;
		cursor:pointer;
		display:block; 
		float:left; 
		font:12px/15px 'Oswald', sans-serif; text-transform:uppercase; 
		color:#fff; 
		background:#1ec7eb; 
		padding:11px 15px 11px; 
		margin: 0;
		border-radius:0 5px 5px 0;
	-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;
		}
		#top-search #submit:hover{ 
			text-decoration:none; 
			background:#ebebeb;
			color:#272d32;
		}

/* Content
---------------------------------------- */
.primary_content_wrap {
	position:relative;
	z-index:1;
	padding:41px 0 52px !important;
	}
	
#content {
	padding:0;
}
#content.left {
	float:right !important;
	}


/* Page */
.page {
	
	}
	#page-content {
		
	}
	#page-meta {
		
	}


.splist ul{
	position:relative; 
	overflow:hidden;
	margin-right: 10px;
}
.splist ul li{
	font:18px/22px 'Oswald', sans-serif; 
	margin:0 0 1px 0;
	padding: 0;
	background: none;
}
.splist ul li a{
	color:#1d1d1d; 
	display:block; 
	background:#dcdcdc; 
	padding:8px 0 9px 34px;
	-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;
}
.splist ul li a:hover{
	text-decoration:none; 
	color:#fff; 
	background:#1ec7eb;
}

/* Comments
---------------------------------------- */
h3#comments {
 padding-top:10px;
 margin-bottom:0;
 }
.commentlist {
 list-style-type:none;
 padding:0 0 20px 0;
 margin:0;
 }
 li.comment {
  list-style-type:none;
  overflow:hidden;
  padding: 0;
  margin: 0;
  background:none;
  text-transform:none;
 }
  .odd {

  }
  .even {

  }
   li.comment .comment-body {
    padding:23px 30px 20px 102px;
    position:relative;
    zoom:1;
    background:#fff;
    margin-top:10px;
    font: 12px/1.5em Arial,Helvetica,sans-serif;
	border-radius:5px;
    }
    li.comment .comment-body p {
     min-height: 65px;
    }
  .author-comment {

  }
  .comment-author {
   position:absolute;
   left:20px;
   top:25px;
   }
   .comment-author .author {
    text-transform:capitalize;
    width:65px;
    text-align:center;
    display: block;
    font-size:15px;
    padding-top: 5px;
    font-family: 'Oswald', sans-serif;
    color: #1D1D1D;
   }
  .comment-text {

  }
	
	/* Comment meta */
  .comment-meta {
   float: right;
  } 
  .comment-meta a {
   
		}
	
	 /* Avatar */
   li.comment .avatar {
    float:none;
    margin:0;
    vertical-align:top;
    overflow:hidden;
		border:1px solid #eee;
    }
    li.comment .avatar {
     display:block;
     vertical-align:top;
     overflow:hidden;
     }

    .commentlist ul.children {
     margin:0 0 0 20px;
     overflow:hidden;
     }
     .commentlist ul.children li.comment {
     	font: 12px/1.5em Arial,Helvetica,sans-serif;
      }

		/* Reply */
    .reply {
     float: right;
     margin-left: 28px;
     }
     .reply a {
      display:inline-block;
      text-decoration:none !important;
      color: #1D1D1D;
      }
     .reply a:hover {
      color: #1EC7EB;
      }


  .waiting-for-approval {

  }
 #trackbacks {

 }
  li.trackback {

  }
 p#no-comments {

 }
 #comments-form {

 }

 .allowed_tags {
  background:#eee;
  padding:15px;
  font-size:11px;
  font-family:"Courier New", Courier, monospace;
  color:#666;
  }
  .allowed_tags strong {
   font-family:Tahoma, Geneva, sans-serif;
   }
  #respond {
   padding-top:28px;
   margin-top:20px;
  }
  .cancel-comment-reply a {
   color:#000 !important;
   text-decoration:underline;
  }
  .cancel-comment-reply a:hover {
   text-decoration:none;
  }





/* Post
---------------------------------------- */
.post {
	
}
	.postContent {
		
	}
	.post-excerpt {
		
	}


.post-holder {
	margin-bottom:35px;
	position:relative;
	overflow:hidden;
	}

/* Post header */
.post-holder .entry-title {
	margin-bottom:.2em;
	}
.post-holder.single-post {
	margin-bottom:30px;
	overflow:hidden;
	width:100%;
	}

/* Featured thumbnail */
.featured-thumbnail {
	position:relative;
	float:left;
	margin:5px 14px 10px 0;
	}
	.featured-thumbnail img {
		float:left;
		}
	
	/* Small thumbnail */
	.featured-thumbnail.small img {
		}
	
	/* Large thumbnail */
	.featured-thumbnail.large {
		margin-right:0;
		overflow:hidden;
		margin-bottom:1.5em;
		float: none;
		}
	.featured-thumbnail.large img {
		max-width:100%;
		height:auto;
		float: none;
		}
	

/* Post content */
.post-content {
	
}
	.post-content .excerpt {
		margin-bottom:1.5em;
		}
	.pagination {
		
	}
		.pagination a {
			display:inline-block;
			padding:0 5px;
			background:#eee;
			}

/* Post footer */
.post-holder .post-footer {
	clear:both;
	padding:15px 0 0 0;
	}
.post-holder.single-post .post-footer {
	margin-top:20px;
	}
		

/* Meta information for post */
.post-meta {
	width:100%;
	font-size:.92em;
	overflow:hidden;
	margin-bottom:1em;
	}
	
	.post-navigation {
		
	}
.post-meta a{
	color: #242424;
}	
p.gravatar {
	float:left;
	margin-right:20px;
	}


/* Post edit link */
.post-edit-link {
	
	}
.post-edit-link:hover {
	
	}


/* Image styling */
.alignleft {
	float:left;
	margin:2px 18px 10px 0;
	}
.alignright {
	float:right;
	margin:0 0 10px 20px;
	}
.aligncenter {
	text-align:center;
	margin:0 auto;
	}
.alignnone {
	margin:0 0 10px 0;
	}
article .post-content img {
	max-width:710px;
	}

.frame {
	padding:7px;
	background:#fff;
	border:1px solid #dbdbdb;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	text-align:center;
	}
.frame img.alignleft,
.frame img.alignright{
	margin:0;
	padding:0;
	border:none;
	}
	
	
/* Related Posts */
.related-posts {
	overflow:hidden;
	padding:0 0 40px 0;
	margin:0;
	}
	.related-posts li {
		list-style-type:none;
		padding:0;
		margin:0 0 0 3%;
		float:left;
		background:none;
		width:22.5%;
		overflow:hidden;
		}
	.related-posts li:first-child {
		margin-left:0;
		}
		.related-posts li .featured-thumbnail {
			float:none;
			margin:0 0 10px 0;
			overflow:hidden;
			}



/* Page Navigaton */	
.pagenavi {
	overflow: hidden;
	padding:0 0 20px 0;
	position:relative;
	font-size:11px;
	line-height:13px;
}
 
.pagenavi span, .pagenavi a {
	display:block;
	float:left;
	margin: 2px 2px 2px 0;
	width:auto;
	background:#1ec7eb; 
	color:#fff; 
	font:12px/15px 'Oswald', sans-serif; 
	text-transform:uppercase; 
	padding:5px 10px; 
	border-radius:3px;
	text-decoration: none;
-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;
	}
 
.pagenavi a:hover, .pagenavi .current{
		text-decoration:none; 
		background:#1c1c1c;
		color:#fff; 
	}

/* Older and newer navigation */
nav.oldernewer {
	width:100%;
	overflow:hidden;
	margin-bottom:1.5em;
}
	.older {
		float:left;
	}
	.newer {
		float:right;
	}
	
	
	
	
/* Post Formats
---------------------------------------- */

/* Images Format Type */
.recent-posts .format-image {
	float:left;
	margin:0 20px 20px 0;
	}	
	
.image-post-format {
	float:left;
	margin:0 0 10px 0;
	padding:7px;
	background:#f6f6f6;
	position:relative;
	}

/* Quote Format Type */
.recent-posts .format-quote {
	
	}

/* Link Format Type */
.recent-posts .format-link {
	
	}

/* Link Format Type */
.recent-posts .format-link {
	
	}	

/* Audio Format Type */
.recent-posts .format-audio {
	margin-bottom:2em;
	}
	.recent-posts .format-audio .audio-wrapper {
		margin-bottom:.5em;
		}

/* Video Format Type */
.recent-posts .format-video {
	
	}

.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	margin:0 0 2% 0;
}
.video iframe,  
.video object,  
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}


/* Gallery Post Format */
.slides_container_gallery {
	width:600px;
	margin-bottom:10px;
	height:300px;
	}
	.slides_container_gallery .g_item {
		width:600px;
		display:block;
		}
		.slides_container_gallery .g_item img {
			width:100%;
			height:auto;
			}

				
				

/* Author
---------------------------------------- */
#post-author {
	overflow:hidden;
	border:1px solid #dbdbdb;
	padding:20px;
	margin-bottom:2em;
	}
#author-link {
	margin-top:1.5em;
	}
	#post-author .gravatar {
		margin:0 20px 0 0;
		}
	#post-author .gravatar img {
		background:#fff;
		border:1px solid #dbdbdb;
		padding:5px;
		}
#author-description {
	
	}

/* Recent author posts */
#recent-author-posts {
	margin-bottom:3em;
}

/* Recent author comments */
#recent-author-comments {
	
}

.author-info {
	width:100%;
	overflow:hidden;
	margin-bottom:3em;
}
	.author-info .avatar {
		margin:0 20px 0 0;
		}
		.author-info .avatar img {
			float:left;
			}

.author-meta {
	margin-bottom:20px;
	overflow:hidden;
	width:100%;
	}
	.author-meta p.gravatar {
		margin:0;
		}




/* 404
---------------------------------------- */
#error404 {
	padding:30px 0 100px 0;
}
	.error404-num {
		font-size:300px;
		line-height:1.2em;
		color:#1EC7EB;
		font-family: 'Merienda One', cursive;
		}
	#error404 hgroup {
		margin:0 0 2em 0;
		padding-top:50px;
		}
		#error404 hgroup h1 {
			font-size:3em;
			margin-bottom:.2em;
			}





/* Portfolio
---------------------------------------- */
.latestwork {
	width:100%;
	overflow:hidden;
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.latestwork li {
		float:left;
		margin-right:20px;
		}


/* Gallery */
.header-title {
	margin-bottom:2.5em;
	}
	.header-title h2 {
		margin-bottom:.1em;
		}
	.header-title .page-desc {
		font-size:1;
		color:#999;
		}



/* Default layout 3 columns */
#gallery {
	
	}
	#gallery .portfolio {
		width:100%;
		overflow:hidden;
		list-style-type:none;
		padding:0;
		margin:0;
		}
		#gallery .portfolio li {
			list-style-type:none;
			display:-moz-inline-box;
			display:inline-block;
			zoom:1;
			vertical-align:top; 
			width:300px;
			margin:0 21px 30px 0;
			position:relative;
			background:none;
			padding:0;
			font: 12px/2em Arial,Helvetica,sans-serif;
			}
		* + html #gallery .portfolio li {
			display:inline;
			}
		#gallery .portfolio li.nomargin {
			margin-right:0 !important;
			}
			#gallery .portfolio li a.image-wrap {
				display:block;
				overflow:hidden;
				width:300px;
				height:150px;
				position:relative;
				/*background:#f5f5f5 url(images/loading-folio.gif) 50% 50% no-repeat;*/
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
				}
			#gallery .portfolio li a.image-wrap:hover {
				
				}
				#gallery .portfolio li a.image-wrap img {
					float:left;
					}
			#gallery .portfolio li h5{
				margin-bottom: 0;
			}
			#gallery .portfolio li .button:hover{
				color: #fff;
			}
			#gallery .portfolio .folio-desc {
				margin-bottom:0;
				padding:1.5em 0 0 0;
				}
			#gallery .portfolio p.excerpt {
				padding:0;
				}
			
			.zoom-icon {
				display:block;
				position:absolute;
				left:0;
				top:0;
				right:0;
				bottom:0;
				cursor:pointer;
				background:rgba(0, 0, 0, .4);
				-webkit-transition: all .2s ease-in-out;
				-moz-transition: all .2s ease-in-out;
				-o-transition: all .2s ease-in-out;
				opacity:0;
				}
			.no-rgba .zoom-icon {
				/*background:url(images/black-opacity-60.png);*/
				visibility:hidden;
				}
			.zoom-icon:before {
				content:"";
				display:block;
				position:absolute;
				left:50%;
				top:50%;
				width:25px;
				height:26px;
				margin:-13px 0 0 -13px;
				/*background:url(images/magnify-alt.png) 50% 50% no-repeat;*/
				}
			.image-wrap:hover .zoom-icon {
				opacity:1;
				}
			.no-rgba .image-wrap:hover .zoom-icon {
				visibility:visible;
				}


/* 1 column portfolio*/
#gallery.one_column .portfolio li {
	width:100%;
	margin-right:0;
	margin-left:0;
	}
	#gallery.one_column .portfolio li a.image-wrap {
		width:600px;
		height:300px;
		float:left;
		}
		#gallery.one_column .folio-desc {
			float:left;
			margin:0 0 0 20px;
			overflow:hidden;
			padding:0 0 0 0;
			width:290px;
			}
/* 2 columns portfolio*/
#gallery.two_columns .portfolio li {
	width:450px;
	margin-right:45px;
	}
	#gallery.two_columns .portfolio li a.image-wrap {
		width:450px;
		height:250px;
		}

/* 4 columns portfolio*/
#gallery.four_columns .portfolio li {
	width:200px;
	margin-right:43px;
	}
	#gallery.four_columns .portfolio li a.image-wrap {
		width:200px;
		height:120px;
		}







/* Sidebar
---------------------------------------- */
#sidebar {
	padding:0;
}
	#widget-sidebar {
		
	}
		.widget {
			margin-bottom:30px;
		}
	

/* Calendar */
#calendar_wrap {
	padding:0;
	}
	#wp-calendar {
		width:100%;
		}
		#wp-calendar caption {
			text-align:center;
			}
		#wp-calendar td {
			text-align:center;
			padding:6px 0;
			border:none;
			}
		#wp-calendar caption {
			font-size:16px;
			color:#000;
			font-weight:bold;
			padding:4px 0;
			margin-bottom:5px;
			}
		#wp-calendar thead th {
			padding:7px 0;
			font-size:14px;
			background:#fff;
			color:#000;
			text-align:center;
			}
		#wp-calendar #prev {
			text-align:left;
			}
		#wp-calendar #next {
			text-align:right;
			}



/* FAQs
---------------------------------------- */
.faq_list {
	
	}
	.faq_list dt {
		position:relative;
		padding:0 0 5px 28px;
		font-size:15px;
		font-weight:normal;
		margin:0;
		background:none;
		}
	.faq_list span.marker {
		display:block;
		position:absolute;
		left:0;
		top:0;
		font-size:15px;
		color:#1EC7EB;
		font-weight:bold;
		}
	.faq_list dd {
		padding:0 0 0 28px;
		position:relative;
		margin:0 0 2em 0;
		}
		.faq_list dd .marker {
			top:3px;
			}



/* Custom widgets
---------------------------------------- */


/* Recent Comments */
ul.recentcomments {
	padding:0;
	margin:0;
	}
	ul.recentcomments li {
		padding:0 0 40px 0;
		margin:0;
		border-bottom:none;
		background:none;
		overflow:hidden;
		list-style-type:none;
		font: 12px/1.5em Arial,Helvetica,sans-serif;
		}
		ul.recentcomments li img {
			float:left;
			margin:0 12px 0 0;
			}
		ul.recentcomments .comment-body {
			padding:15px 0 0 0;
			}
			ul.recentcomments .comment-body a {
				text-decoration:none;
				color:#96999d;
				}
			ul.recentcomments .comment-body a:hover {
				color:#000;
				text-decoration:underline;
				}
		ul.recentcomments li h4 {
			margin-bottom:.1em;
			}
			ul.recentcomments li h4 a {
				text-decoration:none;
				}
			ul.recentcomments li h4 a:hover {
				color:#000;
				}
		ul.recentcomments li small {
			font-size:11px;
			color:#1EC7EB;
			}

/* Posts Type widget */
.post_list {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.post_list li {
		list-style-type:none;
		overflow:hidden;
		margin:0 0 2em 0;
		background: none;
		padding: 0;
		font: 12px/24px Arial,Helvetica,sans-serif;
		}
	.post_list li:first-child {
		border:none;
		padding-top:0;
		}
		.post_list li .featured-thumbnail img {
			max-width:120px;
			height:auto;
			}
		.ie8 .post_list li .featured-thumbnail img {
			max-width:none;
			}
.post_list li h5{
	margin-bottom: 0;
}
/* Popular posts */
.popular-posts {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.popular-posts li {
		overflow:hidden;
		margin:0 0 2em 0;
		background: none;
		padding: 0;
		font: 12px/24px Arial,Helvetica,sans-serif;
		background: none;
		}
		.popular-posts li .post-thumb {
			float:left;
			margin-right:15px;
			width:100px;
			height:100px;
			overflow:hidden;
			}
			.popular-posts li .post-thumb .thumbnail {
				width:100%;
				height:auto;
				}
		.popular-posts li .post-thumb.empty-thumb {
			/*background:url(images/empty_thumb.gif) no-repeat 50% 50% #ececec;*/
			}
		.popular-posts li h5 {
			margin-bottom:.2em;
			}
		.popular-posts li .excerpt {
			margin-bottom:.8em;
			}


/* Post Cycle */
.post_cycle {
	padding:0;
	margin:0;
	}
.post_cycle .cycle_item {
	display:none;
	}
.post_cycle .cycle_item:first {
	display:block;
	}

	
/*
	Load CSS before JavaScript
*/

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/
.slides_container {
	width:270px;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/
.slides_container .item {
	width:270px;
	height:170px;
	display:block;
}

/*
	Optional:
	Reset list default style
*/
.pagination {
	list-style:none;
	margin:0;
	padding:0;
}

/*
	Optional:
	Show the current slide in the pagination
*/
.pagination {
	text-align:center;
	}
.pagination li {
	list-style-type:none;
	margin:0;
	padding:0;
	display:inline;
	background: none;
	padding:0 3px;
	}
.pagination .current a {
	color:#1EC7EB;
}

/* Carousel widget */
.es-carousel-wrapper{
	background: #101010;
	padding:10px 37px;
	margin:0 0 20px 0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position:relative;
}
.es-carousel{
	overflow:hidden;
	background:#000;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
	list-style-type:none;
	padding:0;
	margin:0;
	color:#fff;
}
.es-carousel ul li .thumbnail{
	display:block;
	border-style:solid;
	border-color:#222;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:12px;
	/*background:transparent url(images/nav.png) no-repeat top left;*/
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-carousel ul li h4 {
	margin-bottom:.5em;
	}
.es-carousel ul li .excerpt {
	margin-bottom:10px;
	}
.es-nav span.es-nav-next{
	right:12px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}			

	

/* Folio Cycle */
.folio_cycle {
	list-style-type:none;
	padding:0;
	margin:0;
	width:100%;
	overflow:hidden;
	}
	.folio_cycle .folio_item {
		overflow:hidden;
		display:none;
		}
	.folio_cycle .folio_item:first {
		display:block;
		}
		.folio_cycle .folio_item .featured-thumbnail {
			float:none;
			margin:0 0 15px 0;
			}
			.folio_cycle .folio_item .featured-thumbnail img {
				float:none;
				}
#folio-controls {
	text-align:center;
	overflow:hidden;
	}
	#folio-controls ul {
		list-style-type:none;
		margin:0;
		padding:0;
		}
		#folio-controls ul li {
			padding:0 5px 0 0;
			margin:0;
			display:inline;
			}
			#folio-controls ul li a {
				display:inline-block;
				text-decoration:none;
				width:9px;
				height:9px;
				background:#000;
				font-size:0;
				line-height:0;
				border-radius:5px;
				}
			#folio-controls ul li a:hover {
				background:#999;
				}


/* Testimonials */
.testimonials {
  padding: 0;
  margin: 0;
}
.testimonials div.testi_item {
  padding: 0;
  margin: 0 40px 23px 0;
  background: none;
}
.testimonials div.testi_item blockquote {
  display: block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  /*background: url(images/quotes-1-tail.jpg) 0 0 repeat-x #dcdddd; */
  padding:18px 10px 16px 33px; 
  margin:0 0 0px 0; 
  position:relative; 
  border:1px solid #dcdddd;
	}
.testimonials div.testi_item blockquote:before {
  content: "";
  display: block;
  position: absolute;
  /*background:url(images/quotes-1-marker.jpg) 0 0 no-repeat; */
  width:35px; 
  height:21px; 
  bottom:-22px; 
  left: 63px;
}
.testimonials div.testi_item blockquote:after {
  content: "";
  display: block;
  position: absolute;
  left: 17px;
  top: 13px;
  width: 44px;
  height: 34px;
  /*background:url(images/quotes-1-bg.png) 0 0 no-repeat; */
}
.testimonials div.testi_item blockquote a {
  text-decoration: none;
  color: #999;
  display: block;
  font-style: normal;
  position: relative;
}
.testimonials div.testi_item blockquote a:hover {
  color: #1EC7EB;
}

.testimonials div.testi_item blockquote a:hover {
  color: #1EC7EB;
}
.testimonials div.testi_item .featured-thumbnail {
	position:relative;
	z-index:2;
	margin:0 20px 0 10px;
	}
.name-testi {
  padding: 13px 0 0 0;
  text-align: right;
  display: block;
}
.name-testi h5{
	margin-bottom: 0;
}
.name-testi a {
  font-weight: normal;
}
.testimonials .thumb {
  float: left;
  margin-right: 20px;
}

/* Misc for Cycle widgets */
#testi-cycle .testi_item {
	display:none;
	}
#testi-cycle .testi_item:first {
	display:block;
	}
#testi-controls {
	text-align:center;
	overflow:hidden;
	}
	#testi-controls ul {
		list-style-type:none;
		margin:0;
		padding:0;
		}
		#testi-controls ul li {
			padding:0;
			margin:0 2px 0 0;
			display:inline-block;
			}
		* + html #testi-controls ul li {
			display:inline;
			zoom:1;
			}


/* Recent Posts */
.latestpost {
	list-style-type:none;
	margin:0;
	padding:0;
	}
	.latestpost li {
		margin:0 0 18px 0;
		list-style-type:none;
		background: none;
		padding: 0;
		font:12px/24px Arial, Helvetica, sans-serif;
		}
		.latestpost li time{
			font-size: 14px;
			color: #1d1d1d;
		}

/* Twitter widget */
.twitter {
	position:relative;
}
.twitter_update_list {
	overflow:hidden;
	}
.twitter ul li {
	list-style-type:none;
	margin:0 0 15px 0;
	padding:0 0 0 37px;

	}
	.twitter ul li .twitt-body {
		padding:0 0 5px 0;
		}
	.twitter ul li .twitt-body a {
		font-weight:bold;
		}
	.twitter ul li a.timesince {
		font-size:11px;
		}
.twitter .profileLink {
	
	}
.twitter  .preloader {
	position:absolute;
	top:40px;
	left:0;
	height: 25px;
	line-height:25px;
	padding-left: 40px;
	color: #000;
	background-position:0 50%;
	background-repeat:no-repeat;

}



/* Flickr widget */
.flickrImages {
	overflow:hidden;
	position:relative;
}
.flickrImages a {
	float:left;
	display:block;
	width:75px;
	height:75px;
	background:#000;
	margin:0 1px 1px 0;
	}
.flickrImages a img {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}
.flickrImages a:hover img {
	opacity:.5;
}
.flickrImages a.link {
	display:inline;
	float:none;
	width:auto;
	height:auto;
	margin:0;
	background:none;
	}

/* Banner widget */
.banners-holder {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.banners-holder li {
		list-style-type:none;
		float:left;
		margin:0 3px 3px 0;
		padding:0;
		background: none;
		}
		.banners-holder li img {
			vertical-align:top;
			float:left;
			}
			
/* vCard widget */			
.vcard {
	
	}


/* Testimonials
---------------------------------------- */

/* Testimonials list */
article.testimonial {
	padding:10px 30px 30px 195px;
	width:auto;

	font-weight:normal;
	margin-bottom:35px;
	}
	article.testimonial .featured-thumbnail {
		position:absolute;
		left:10px;
		top:0;
		}
	article.testimonial .name-testi {
		display:block;
		text-align:right;
		font-style:normal;
		color:#222c36;
		font-size:14px;
		font-family:Arial, Helvetica, sans-serif;
		line-height:1.2em;
		}
		article.testimonial .name-testi a {
			text-decoration:none;
			}
		article.testimonial .name-testi a:hover {
			text-decoration:underline;
			}





/* Shortcodes
---------------------------------------- */

/* Recent Posts */
.recent-posts {
	margin:0;
	padding:0;
	width:100%;
	overflow:hidden;
	border:none;
	}
	.recent-posts li {
		list-style-type:none;
		margin:0 0 20px 0;
		padding:0;
		border:none;
		background:none;
		}
		.recent-posts li img.thumb {
			float:left;
			margin:0 20px 0 0;
			}
		.recent-posts li h5 {
			font-size:1em;
			margin-bottom:0;
			}
		.recent-posts li .excerpt {
			margin-bottom:1.5em;
			}
		.recent-posts li span.meta {
			display:block;
			margin-bottom:.5em;
			font-size:10px;
			color:#888;
			text-transform:uppercase;
			overflow:hidden;
			}
			.recent-posts li .post-date {
				float:left;
				}
			.recent-posts li .post-comments {
				float:right;
				}
	

/* Our team */
.recent-posts.team {
  margin: 0;
  padding: 0;
}
	.recent-posts.team li {
		padding:15px; 
		float:left; 
		background:#dcdcdc; 
		width:166px; 
		margin:0 21px 21px 0;
	}
	.recent-posts.team li:nth-child(3n) {
		margin-right: 0;
	}
	.recent-posts.team li.nomargin {
		margin-right: 0;
	}
		.recent-posts.team li .featured-thumbnail {
			overflow: hidden;
			float: none;
			margin: 0 0 10px 0;
			background:none;
			padding:0;
			border:none;
		}
	.recent-posts.team li .excerpt {
		margin-bottom: 0;
	}
.teaminfo, .teampos{
	font-size: 12px;
	color: #999999;
}
/* Clients */
.recent-posts.clients {
	list-style-type:none;
	overflow:hidden;
	}
	.recent-posts.clients li {
		float:left;
		width:185px;
		margin:0 37px 45px 0;
		background:none;
		padding:0;
		}
	.recent-posts.clients li:nth-child(3n) {
		margin-right:0;
		}
	.recent-posts.clients li.nomargin{
		margin-right:0;
		}
		.recent-posts.clients li .featured-thumbnail {
			border: 1px solid #e9e6e5;
			margin: 0;
			float: none;
			}
			.recent-posts.clients li .featured-thumbnail img{
				float: none;
			}
		.recent-posts.clients li h5 {
			padding-top:12px;
			}
		.recent-posts.clients li .excerpt {
			margin-bottom:0;
			}

/* Popular Posts */
.popular_posts {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.popular_posts li {
		list-style-type:none;
		padding:0 0 20px 0;
		margin:0;
		overflow:hidden;
		background: none;
		padding: 0;
		}



/* Tags */
.tags-cloud a,
.tagcloud a,
.post-footer a {
	display:inline-block;
	background:#fff;
	padding:2px 7px;
	border-radius:3px;
	text-decoration:none;
	color:#242424;
	margin:0 1px 4px 0;
	font-size:11px !important;
	line-height:1.5em;
	vertical-align:top;
	}
.tags-cloud a:hover,
.tagcloud a:hover,
.post-footer a:hover {
	background:#1EC7EB;
	color:#fff;
	}


/* Recent Comments */
.recent-comments {
	list-style-type:none;
	padding:0;
	margin:0;
	}
	.recent-comments li {
		padding:0;
		margin:0;
		border:none;
		padding-bottom:.5em;
		}


/* Footer
---------------------------------------- */
#footer {
	padding:22px 0;
	color: #1d1d1d;
	font-size: 14px;
}
#footer a{
	color: #1d1d1d;
}

	/* Footer widget */
	#widget-footer {
		float: right;
		
	}
	
	.f-widget{
		overflow: hidden;
	}
	.f-widget h6{
		float: left;
		padding-top: 12px;
		padding-right: 10px;
		letter-spacing: -1px;
	}
	.f-widget .social-networks{
		float: left;
		overflow: hidden;
		padding: 2px 0 0 0;
		margin-bottom: 0;
	}

	#widget-footer .social-networks li {
		list-style-type:none;
		padding:0;
		margin:0;
		background: none;
		float: left;
		margin-left:4px;
		vertical-align: middle;
		}
		#widget-footer .social-networks li.label{
			float: none;
			margin-bottom:4px;
		}
		#widget-footer .social-networks li.label span{
			display: inline-block;
			padding-top: 6px;
		}
	/* Copyright */
	#copyright {
		}
	
	/* Footer text */
	#footer-text {
		float: left;
		
		}
	.footer-text{
		display: inline-block;
		padding: 8px 0 0 5px;
	}


/* Misc
---------------------------------------- */
.button{
	display:inline-block; 
	background:#1ec7eb; 
	color:#fff; 
	font:12px/15px 'Oswald', sans-serif; 
	text-transform:uppercase; 
	padding:12px 22px 11px; 
	border-radius:5px;
	text-decoration: none;
-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
	.button:hover{ 
		text-decoration:none; 
		background:#1c1c1c;
		color:#fff; 
	}
.no-results {
	
}

.link{
	display: inline-block;
	color: #000;
	font-size: 14px;
	text-decoration: underline;
}
	.link:hover{
		color: #1EC7EB;
	}
/* Lightbox */
.lightbox {
	display:block;
	position:relative;
	}

/* Back to Top */
#back-top-wrapper {
  width:100%;
  position:absolute;
  overflow:hidden;
  height:100px;
}
#back-top {
	position: fixed;
	bottom: 30px;
	left:50%;
	margin-left:500px;
	display:none;
}

#back-top a {
	width: 108px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}

/* arrow icon (span tag) */
#back-top span {
	width: 108px;
	height: 108px;
	display: block;
	margin-bottom: 7px;


	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #777;
}

/* Tabs */
.tabs {
    margin: 1px 0 20px 0;
}

.tabs .tab-wrapper {
    border: 1px solid #dddddd;
    border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
    margin: -1px 0 0 0;
}

.tabs .tab-menu ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

.tabs .tab-menu li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
}

.tabs .tab-menu a {
    background-color: #fafafa;
    border: 1px solid #dddddd;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #aaaaaa;
    display: block;
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0 2px 0 0;
    padding: 8px 20px;
}

.tabs .tab-menu a:hover {
    background-color: #f2f2f2;
    color: #666666;
}

.tabs .tab-menu a.active {
    background-color: #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#fafafa');
    background: -moz-linear-gradient(bottom , #fafafa 0px, #f6f6f6 90%) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear,left bottom,left top, color-stop(0, #fafafa),color-stop(90%, #f6f6f6));
    border-bottom: none;
    color: #666666;
    padding: 8px 20px 9px 20px;
}

.tabs .tab {
	background-color: #fafafa;
	border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
    padding: 20px;
}





/* Toggle */
.toggle {
    padding: 0 0 2px 0;
}
.toggle .trigger {
	background-color: #f5f5f5;
	background: -moz-linear-gradient(bottom, #F2F2F2 0px, #ffffff 100%);
	background: -webkit-gradient(linear,left bottom,left top, color-stop(0, #f2f2f2),color-stop(1, #ffffff));
	border: 1px solid #dddddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #666666;
	display: block;
	padding: 10px 12px 10px 40px;
	position: relative;
	text-decoration:none;
	height:1%;
	}

.toggle .trigger span {

	display: block;
	position: absolute;
	top: 9px;
	left: 10px;
	text-indent: -9999px;
	width: 22px;
	height: 20px;
	}

.toggle .trigger:hover,
.toggle .active {
	background:#191919;
	color:#fff;
	}
.toggle .active span {
	background-position: 0 -20px;
	}

.toggle .box {
	background-color: #fafafa;
	border: 1px solid #dddddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 20px;
	}



/* Dropcap */
.dropcap {

	width:51px; 
	height:65px; 
	margin:5px 20px 0 0; 
	padding-top:2px; 
	font:bold 36px/46px Arial, Helvetica, sans-serif; 
	color:#fff; 
	text-align:center;
	display: block;
	float: left;
	text-transform: uppercase;
}
.dropcapbox h5{
	margin-bottom: 0;
}
.dropcapbox p{
	margin-bottom: 0;
}
.dropcapbox {
	padding-right: 40px;
}
.widget-area {
	
}

.hr {
	height:1px;
	background:#cfdbdd;
	overflow:hidden;
	font-size:0;
	line-height:0;
	margin:30px 5px;
	}
.grid_1 .hr, .grid_2 .hr, .grid_3 .hr, .grid_4 .hr, .grid_5 .hr, .grid_6 .hr, .grid_7 .hr, .grid_8 .hr, .grid_9 .hr, .grid_10 .hr, .grid_11 .hr, .grid_12 .hr, .grid_13 .hr, .grid_14 .hr, .grid_15 .hr, .grid_16 .hr, .grid_17 .hr, .grid_18 .hr, .grid_19 .hr, .grid_20 .hr, .grid_21 .hr, .grid_22 .hr, .grid_23 .hr, .grid_24 .hr {
	margin-left:0;
	margin-right:0;
	}
.sm_hr {
  height: 1px;
  background: #cfdbdd;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  margin: 16px 10px;
}
.grid_1 .sm_hr,
.grid_2 .sm_hr,
.grid_3 .sm_hr,
.grid_4 .sm_hr,
.grid_5 .sm_hr,
.grid_6 .sm_hr,
.grid_7 .sm_hr,
.grid_8 .sm_hr,
.grid_9 .sm_hr,
.grid_10 .sm_hr,
.grid_11 .sm_hr,
.grid_12 .sm_hr {
  margin-left: 0;
  margin-right: 0;
}
.spacer {
	height:50px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	}
.sm_spacer {
	height:28px;
	overflow:hidden;
	font-size:0;
	line-height:0;
	}
/* Address */
.address {
	overflow:hidden;
	width:100%;
	margin:0;
	padding:0;
	}
.address dt {
	float:left;
	width:165px;
	margin-right:20px;
	padding:0 0 0 55px;
	background:none;
	font-size:1em;
	line-height:18px;
	/*background:url(images/address-icon1.png) no-repeat 0 3px;*/
	}
.address dd {
	float:left;
	width:217px;
	padding:0 0 0 53px;
	/*background:url(images/address-icon2.png) no-repeat 0 3px;*/
	}
	.address dd ul {
		list-style-type:none;
		padding:0;
		margin:0;
		}
		.address dd ul li {
			background:none;
			padding:0;
			font: 12px/1.5em Arial,Helvetica,sans-serif;
			}
	.address dd span {
		float:left;
		width:100px;
		}
		.address dd a {
			font-style:italic;
			color:#191919;
			text-decoration:underline;
			}
		.address dd a:hover {
			text-decoration:none;
			}

/* Google Map */
.google-map {
	margin-bottom:20px;
	}




/* VIDEO */
.video-wrap {
	margin-bottom: 10px;
	position:relative;
	zoom:1;
	}
	.video-wrap object {
		position:relative;
		z-index:2;
		}
	.video-bg {
		background-color:black;
		position:absolute;
		left:0;
		top:0;
		z-index:1;
		}

/* AUDIO */
.audio-wrapper {
   margin-bottom:1.5em;
}
.audio-desc {
	font-size:.91em;
	color:#999;
	padding:.5em 0 0 0;
	}
.audiojs audio { position: absolute; left: -1px; }
.audiojs { width: 460px; height: 36px; background: #404040; overflow: hidden; font-family: monospace; font-size: 12px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #444), color-stop(0.5, #555), color-stop(0.51, #444), color-stop(1, #444));
	background-image: -moz-linear-gradient(center top, #444 0%, #555 50%, #444 51%, #444 100%);
	-webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
	-o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); }
.audiojs .play-pause { width: 25px; height: 40px; padding: 4px 6px; margin: 0px; float: left; overflow: hidden; border-right: 1px solid #000; }
.audiojs p { display: none; width: 25px; height: 40px; margin: 0px; cursor: pointer; }
.audiojs .play { display: block; }
.audiojs .scrubber { position: relative; float: left; width: 280px; background: #5a5a5a; height: 14px; margin: 10px; border-top: 1px solid #3f3f3f; border-left: 0px; border-bottom: 0px; overflow: hidden; }
.audiojs .progress { position: absolute; top: 0px; left: 0px; height: 14px; width: 0px; background: #ccc; z-index: 1;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ccc), color-stop(0.5, #ddd), color-stop(0.51, #ccc), color-stop(1, #ccc));
	background-image: -moz-linear-gradient(center top, #ccc 0%, #ddd 50%, #ccc 51%, #ccc 100%); }
.audiojs .loaded { position: absolute; top: 0px; left: 0px; height: 14px; width: 0px; background: #000;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #222), color-stop(0.5, #333), color-stop(0.51, #222), color-stop(1, #222));
	background-image: -moz-linear-gradient(center top, #222 0%, #333 50%, #222 51%, #222 100%); }
.audiojs .time { float: left; height: 36px; line-height: 36px; margin: 0px 0px 0px 6px; padding: 0px 6px 0px 12px; border-left: 1px solid #000; color: #ddd; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5); } 
.audiojs .time em { padding: 0px 2px 0px 0px; color: #f9f9f9; font-style: normal; }
.audiojs .time strong { padding: 0px 0px 0px 2px; font-weight: normal; }
.audiojs .error-message { float: left; display: none; margin: 0px 10px; height: 36px; width: 400px; overflow: hidden; line-height: 36px; white-space: nowrap; color: #fff;
	text-overflow: ellipsis; -o-text-overflow: ellipsis; -icab-text-overflow: ellipsis; -khtml-text-overflow: ellipsis; -moz-text-overflow: ellipsis; -webkit-text-overflow: ellipsis; }
.audiojs .error-message a { color: #eee; text-decoration: none; padding-bottom: 1px; border-bottom: 1px solid #999; white-space: wrap; }

.audiojs .play { background: url(js/audiojs/player-graphics.gif) -2px -1px no-repeat; }
.audiojs .loading { background: url(js/audiojs/player-graphics.gif) -2px -31px no-repeat; }
.audiojs .error { background: url(js/audiojs/player-graphics.gif) -2px -61px no-repeat; }
.audiojs .pause { background: url(js/audiojs/player-graphics.gif) -2px -91px no-repeat; }

.playing .play, .playing .loading, .playing .error { display: none; }
.playing .pause { display: block; }

.loading .play, .loading .pause, .loading .error { display: none; }
.loading .loading { display: block; }

.error .time, .error .play, .error .pause, .error .scrubber, .error .loading { display: none; }
.error .error { display: block; }
.error .play-pause p { cursor: auto; }
.error .error-message { display: block; }



/* Alert boxes
---------------------------------------- */
.alert-box, .wpcf7-response-output {
	padding:20px 20px 20px 90px !important;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	font-size:.91em;
	line-height:1.4em;
	border:1px solid #dbdbdb;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:15px;
	}
	.error-box, .wpcf7-mail-sent-ng {
		border-color:#ff9999;
		color:#c31b00;
		background:url(/yaadpay/3.0/images/icons/alert/icon-error.png) no-repeat 20px 50% #ffcccc;
		}
	.attention-box, .wpcf7-validation-errors, .wpcf7-spam-blocked {
		border-color:#e6c555;
		color:#9e660d;
		background:url(/yaadpay/3.0/images/icons/alert/icon-note.png) no-repeat 20px 50% #fdebae;
		}
	.notice-box {
		border-color:#68a2cf;
		color:#2e6093;
		background:url(/yaadpay/3.0/images/icons/alert/icon-info.png) no-repeat 20px 50% #bfe4f9;
		}
	.approved-box, .wpcf7-mail-sent-ok {
		border-color:#a3c159;
		color:#5e6f33;
		background:url(/yaadpay/3.0/images/icons/alert/icon-download.png) no-repeat 20px 50% #ccff99;
		}
	


/* Forms
---------------------------------------- */

/* Form defaults 
input, select, textarea { 
	font-family:Arial, Helvetica, sans-serif;
	font-size:1em;
	vertical-align:middle;
	font-weight:normal;
	border:none;
	outline:none;
}
input[type="text"], textarea {
	background:#fff;
	border:none;
	padding:8px;
	width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	border-radius:5px;
	resize:none;
	}
.ie9 input[type="text"],.ie9 textarea {
	padding-bottom:9px;}
	*/
input[type="submit"], input[type="reset"] {
	position:relative;
	display:inline-block;
	font-size:12px;
	border:none;
	height:31px;
	cursor:pointer;
	margin-right:4px;
	display:inline-block; 
	background:#1ec7eb; 
	color:#fff; 
	font:12px/15px 'Oswald', sans-serif; 
	text-transform:uppercase; 
	padding:7px 15px; 
	border-radius:5px;
	text-decoration: none;
-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;
	}
	
input[type="submit"]:hover, input[type="reset"]:hover {
	background:#1c1c1c;
	color:#fff; 
}

/* Comment form */
#commentform {
	
	}
	#commentform p.field {
		margin-bottom:5px;
		}
		#commentform p a{
			color: #1D1D1D;
    		text-decoration: none;
		}
		#commentform p a:hover{
			color: #1EC7EB;
		}
		#commentform small {
			color:#8b8b8b;
			}
	#commentform label {
		display:block;
		}
	#commentform input[type="text"] {
		width:35%;
		}
	#commentform textarea {
		width:70%;
		height:150px;
		overflow:auto;
		}




/* Contact form */
.wpcf7-form p.field {
	margin-bottom:9px;
	overflow:hidden;
	vertical-align:top;
	position:relative;
	}
.wpcf7-form p.field input {
	
	}
	.wpcf7-form p.field small {
		color:red;
		}
.wpcf7-form .input-file {
	width: 79px;
	height: 22px;
	/*background: url(images/btn-choose-file.gif) 0 0 no-repeat;*/
	display: block;
	overflow: hidden;
	cursor: pointer;
	position:relative;
	}
.wpcf7-form input[type="file"] {
	position: relative;
	height: 100%;
	width: auto;
	opacity: 0;
	cursor: pointer;
	-moz-opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	}
.wpcf7-form textarea {
	max-width:100%;
	min-width:100%;
	height:255px;
	overflow:auto;
	margin-bottom:17px;
	}
.wpcf7-form .submit-wrap {
	padding:0;
	margin:0;
	}
	span.wpcf7-form-control-wrap {
		display:block;
		}
	.wpcf7-not-valid-tip {
		width:100% !important;
		position:absolute;
		left:0 !important;
		top:0 !important;
		padding:3px 0 4px 10px !important;
		background:#f3b7b7 !important;
		color:red !important;
		border:none !important;
		border-radius:5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		}
	div.wpcf7-response-output {
		margin-left:0 !important;
		margin-right:0 !important;
		}





/* Sidebar search form */
#searchform {
	
	}
#searchform .searching {
		width:160px;
		margin-right:10px;
		}
	#searchform .submit {
		width:60px;
		cursor:pointer;
		padding-left:0;
		padding-right:0;
		}



/* Fluid Columns */
.one_half{ width:48%; }
.one_third{ width:30.66%; }
.two_third{ width:65.33%; }
.one_fourth{ width:22%; }
.three_fourth{ width:74%; }
.one_fifth{ width:16.8%; }
.two_fifth{ width:37.6%; }
.three_fifth{ width:58.4%; }
.four_fifth{ width:79.2%; }
.one_sixth{ width:13.33%; }
.five_sixth{ width:82.67%; }
.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth{ position:relative; margin-right:4%; float:left; }
.last { margin-left:0 !important; clear:left; }


.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.wrapper { 
	width:100%;
	overflow:hidden;
}
.extra-wrap {
	overflow:hidden;
	}


/* Clear Floated Elements */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* Always remember to compress your live stylesheet and keep an uncompressed backup */