.breadcrumb {
  li {
    &:before {
      display: none;
    }
    border: 1px solid $gray-light;
    padding: 3px 12px;
    background-color: $gray-light;
    font-size: 12px;
    line-height: 16px;
    a {
    }
    &.active {
      background-color: #fff;
    }
  }
}

.hr_after-breadcrumb {
  margin-bottom: 40px;
  @include breakpoint($screen-sm) {
    margin-top: -25px;
  }
}

.pagination {
  margin: 0 0 10px;
  > li {
    > a {
      padding: 4px 5px;
    }
  }
}

.breadcrumb {
  @include breakpoint($screen-sm) {
    margin-bottom: 45px;
  }
}

.form-group_mg-sm {
  margin-bottom: 10px;
}

.form-group_mg-md {
  margin-bottom: 20px;
}

.form-group_mg-lg {
  margin-bottom: 25px;
}

.form-group_mg-xlg {
  margin-bottom: 35px;
}

.help-block {
  font-size: 12px;
  color: #7a7b7e;
}

.well {
    @include box-shadow(none);
}

.row-sm {
  &,
  .form-horizontal & {
    margin-left: -10px;
    margin-right: -10px;
    > [class*="col-"] {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.label {
  @include border-radius(0);
}

.label-info-md {
  line-height: 16px;
  font-size: 13px;
  font-weight: 900;
  padding: 8px 10px;
}

.control-label.control-label_l {
  text-align: left;
}

.pull-right-sm {
  @include breakpoint($screen-sm) {
    float: right;
  }
}

.table-bordered > thead > tr > th {
  border-bottom: none;
}

.text-right-sm {
  @include breakpoint($screen-sm) {
    text-align: right;
  }
}

.label-outline {
  border: 1px solid $brand-primary;
  color: $brand-primary;
}
