//##################
// footer
//##################
.main-footer {
  background-color: #efeeef;
  padding: 30px 0;
  color: #052b3e;
}

.footer-menu__title {
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 16px;
  @include breakpoint($screen-sm) {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.footer-menu__nav {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
  @include breakpoint($screen-sm) {
    font-size: 16px;
  }
}

.footer-menu__nav-item {
  line-height: 1.5em;
  margin-bottom: 6px;
  position: relative;
  padding-left: 20px;
  &:after {
    content: '\2022';
    font-size: inherit;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 3.5px;
  }
}

.footer__navs-wr {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  @include breakpoint($screen-sm) {
    border-bottom: none;
    margin-bottom: 0;
  }
}

.footer__logo-wr {
  margin-bottom: 20px;
  padding-top: 10px;
  width: 140px;
  @include breakpoint($screen-lg) {
    width: auto;
  }
}

.footer__contacts {
  margin-bottom: 20px;
  @include breakpoint($screen-sm) {
    margin-bottom: 40px;
  }
}

.footer__social-menu {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
  font-size: 27px;
  line-height: 1;
  @extend .clearfix;
  @include breakpoint($screen-sm) {
    margin-bottom: 50px;
  }
}

.footer__social-menu-item {
  float: left;
  + .footer__social-menu-item {
    margin-left: 25px;
  }
  a {
    display: block;
    color: #2f303f;
    &:hover {
      @extend %transition;
      color: #000;
      text-decoration: none;
    }
  }
}

.footer__copyright {
  font-size: 12px;
}

.footer__contact-row {
  margin-bottom: 5px;
  a {
    color: #052b3e;
    &:hover {
      color: #000;
    }
  }
}

//##################
// end footer
//##################
