//##################
// header
//##################
.main-header {
  margin-bottom: 15px;
  border-bottom: 3px solid $brand-primary;
  @include breakpoint($screen-sm) {
    border-bottom: none;
    margin-bottom: 0;
    padding-top: 10px;
    .container {
      position: relative;
    }
  }
  @include breakpoint($screen-lg) {
    padding-top: 35px;
  }
}

.header__logo-wr {
  margin: 0 auto;
  width: 135px;
  padding: 5px 30px 15px;
  @include breakpoint($screen-sm) {
    width: 100px;
    padding: 5px 0 0;
    margin: 10px 0 0;
  }
  @include breakpoint($screen-lg) {
    margin: 0;
    width: 190px;
  }
}

.header__logo {
  display: block;
  img {
    display: block;
    max-width: 100%;
    height: auto;
    border: none;
  }
}

.toggle-menu {
  position: absolute;
  top: 20px;
  left: 10px;
  height: 40px;
  width: 40px;
  padding: 10px 10px;
  text-align: center;
}

.toggle-menu_right {
  left: auto;
  right: 10px;
  padding: 5px;
  font-size: 20px;
}

.menu-line {
  height: 2px;
  display: block;
  background-color: $brand-primary;
  margin-bottom: 5px;
}

.mobile-header-nav {
  @include breakpoint($screen-sm) {
    position: absolute;
    left: floor(($grid-gutter-width / 2));
    top: -20px;
  }
}

.site-global-actions-header {
  float: right;
  @include breakpoint($screen-sm) {
    min-height: 80px;
  }
}

.site-global-action-menu {
  @include breakpoint($screen-sm) {
    float: right;
    margin-bottom: 10px;
  }
  @include breakpoint($screen-lg) {
    margin-bottom: 45px;
  }
}

.header__help-nav {
  float: left;
  margin-right: 25px;
}

.header__help-nav-item {
  line-height: 22px;
  display: inline-block;
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.header__help-nav-link {
  color: #696a7c;
  font-size: 11px;
  text-transform: uppercase;
  display: inline-block;
}

.header__profile-nav {
  float: left;
  margin-right: 20px;
  @media (max-width: $screen-xs-max) {
    margin-bottom: 10px;
    float: none;
    width: 100%;
    margin-right: 0;
    overflow: hidden;
  }
}

.header__profile-nav-link {
  float: left;
  display: block;
  font-size: 16px;
  line-height: 1;
  padding: 3px 5px;
  height: 22px;
  color: $brand-primary-2;
  &:hover {
    text-decoration: none;
    color: darken($brand-primary-2, 5%)
  }
  @media (max-width: $screen-xs-max) {
    width: 50%;
    text-align: center;
    // padding: 6px;
    height: auto;
    background-color: #ddd;
    border: 1px solid #fff;
  }
}

.header__dropdonwns-menu {
  float: left;
  // margin-right: 35px;
  .dropdown {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  .dropdown-menu {
    min-width: 100%;
    a {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 12px;
    }
  }
  @media (max-width: $screen-xs-max) {
    // margin-right: 0;
    margin-bottom: 10px;
    float: none;
    width: 100%;
    font-size: 0;
    .dropdown { 
      width: 50%;
      padding: 1px;
      &:not(:last-child) {
        margin-right: 0;
      }
    }
    .dropdown-btn {
      width: 100%;
    }
  }
}

.header__cart-menu {
  margin-bottom: 15px;
  margin-left: 0;
  @include breakpoint($screen-sm) {
    margin-left: 35px;
    float: left;
    margin-bottom: 0;
  }
}

.header__cart-btn {
  padding-top: 2px;
  &:hover {
    cursor: pointer;
  }
  .dropdown-btn {
    line-height: 0;
  }
}

.header__cart-btn-label {
  color: #0c0c0c;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  margin-right: 8px;
  .icon {
    font-size: 17px;
    margin-right: 8px;
    vertical-align: baseline;
  }
}

.header__cart-btn-counter {
  color: #352d2b;
  font-size: 11px;
}

.dropdown-menu-cart {
  border: none;
  min-width: 270px;
  margin-top: 5px;
  padding: 0;
  @include breakpoint($screen-sm) {
    &:before {
      content: '';
      width: 16px;
      height: 16px;
      border-width: 8px;
      border-style: solid;
      border-color: transparent transparent #fff;
      position: absolute;
      top: -16px;
      right: 15px;
      z-index: 2;
    }
    &:after {
      content: '';
      width: 16px;
      height: 16px;
      border-width: 8px;
      border-style: solid;
      border-color: transparent transparent rgba(0, 0, 0, 0.15);
      position: absolute;
      top: -17px;
      right: 15px;
      z-index: 1;
    }
  }
  @media (max-width: $screen-xs-max) {
    @include box-shadow(none);
    position: relative;
    float: none;
  }
}

.dropdown-menu-cart__body {
  padding: 3px 15px;
}

.cart__product-list__custom-scrollbar {
  padding-top: 12px;
  padding-bottom: 15px;
  margin-right: -15px;
  padding-right: 15px;
  @include breakpoint($screen-sm) {
    max-height: 320px;
  }
}

.dropdown-menu-cart__footer {
  padding: 5px 15px 15px;
  font-size: 13px;
  color: #fff;
  background-color: #000;
  .btn {
    text-transform: uppercase;
  }
}

.dropdown-menu-cart__total-row {
  @extend .clearfix;
  padding: 15px 0;
  &:not(:last-of-type) {
    border-bottom: 1px solid #fff;
  }
  &:last-of-type {
    margin-bottom: 10px;
  }
}

.dropdown-menu-cart__total-label {
  float: left;
  width: 40%;
}

.dropdown-menu-cart__total-value {
  text-align: right;
  overflow: hidden;
}

.dr-cart-value__strong {
  font-size: 15px;
  font-weight: 900;
}

.dropdown-menu-cart__product-item {
  @extend .clearfix;
  position: relative;
  padding-right: 20px;
  &:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #efefef;
  }
}

.menu-cart__product-thumbnail {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border: 1px solid #efefef;
  overflow: hidden;
  float: left;
  margin-right: 20px;
}

.menu-cart__product-title {
  font-size: 15px;
  font-weight: 900;
  color: #68697c;
}

.menu-cart__product-counter {
  color: #000;
}

.menu-cart__product-price {
  color: #000;
  font-size: 15px;
  font-weight: 900;
}

.menu-cart__product-remove {
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  color: #000;
  &:hover,
  &:focus {
    color: $brand-danger;
  }
  a {
    text-decoration: none;
  }
}

.header__search-form__wr {
  @include breakpoint($screen-sm) {
    width: 315px;
    float: right;
    margin-bottom: 10px;
  }
  @include breakpoint($screen-lg) {
    margin-bottom: 45px;
  }
}

.header__search-form {
  position: relative;
}

.header__search-form-input {
  box-sizing: border-box;
  height: 36px;
  padding: 10px 30px 10px 15px;
  border: 1px solid #f5f5f5;
  width: 100%;
  display: block;
  background-color: #f5f5f5;
  outline: none;
  font-size: 12px;
  @extend %transition;
  &:focus {
    border: 1px solid #ddd;
    ~ .header__search-form-button {
      background-color: $brand-primary;
      color: #fff;
    }
  }
  &::-webkit-input-placeholder {color: #171823;}
  &::-moz-placeholder          {color: #171823;}/* Firefox 19+ */
  &:-moz-placeholder           {color: #171823;}/* Firefox 18- */
  &:-ms-input-placeholder      {color: #171823;}
}

.header__search-form-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 36px;
  width: 35px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  border: none;
  background: none;
  outline: none;
  @extend %transition;
}

.site-nav-wr {
  position: relative;
  padding-right: floor(($grid-gutter-width / 2));
  padding-left: floor(($grid-gutter-width / 2));
  background-color: $brand-primary;
  @include breakpoint($screen-sm) {
    margin-right: floor(($grid-gutter-width / -2));
    margin-left: floor(($grid-gutter-width / -2));
  }
  @include breakpoint($screen-lg) {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.site-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  @extend .clearfix;
  @include breakpoint($screen-sm) {
    display: table;
    width: 100%;
  }
  // @include breakpoint($screen-lg) {
  //   padding: 20px 0;
  // }
}

.site-nav__list-item {
  @include breakpoint($screen-sm) {
    display: table-cell;
    &:not(:last-child) {
      &:before {
        content: '';
        height: 14px;
        width: 1px;
        background-color: rgba(#fff, 0.3);
        display: inline-block;
        vertical-align: middle;
        float: right;
        @include breakpoint($screen-sm) {
          margin-top: 15px;
        }
        @include breakpoint($screen-lg) {
          margin-top: 20px;
        }
      }
    }
  }
}

.site-nav__list-link {
  display: block;
  padding: 7px 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.2;
  @extend %transition;
  &:hover,
  .site-nav__list-item.active &,
  &:focus {
    text-decoration: none;
    color: $brand-warning;
  }
  @include breakpoint($screen-sm) {
    padding: 15px 9px;
    display: block;
    text-align: center;
  }
  @include breakpoint($screen-md) {
    font-size: 13px;
    padding: 15px 16px;
  }
  @include breakpoint($screen-lg) {
    padding: 20px 32px;
  }
  &.site-nav__list-link_sale {
    font-weight: bold;
    color: yellow;
    .site-nav__list-item.active & {
      color: yellow;
    }
  }
}

.mega-menu__thumbnail {
  margin-bottom: 10px;
}

.mega-menu__thumbnail-link-wr {
  a {
    text-transform: uppercase;
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .mobile-menu__site-nav {
    position: absolute;
    z-index: 150;
    top: 77px;
    left: 0;
    overflow: hidden;
    width: 100%;
    pointer-events: none;
    .mobile-menu__site-nav-active & {
      pointer-events: auto;
    }
  }

  .site-nav-wr {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 999;
    width: 100%;
    pointer-events: auto;
    @include flex-direction(column);
    @include transform(translateY(-103%));
    will-change: transform;
    @include transition(all 130ms ease-in);
    .mobile-menu__site-nav-active & {
      @include transition(all 330ms ease-out);
      @include transform(none);
    }
  }

  .mobile-menu__user {
    position: absolute;
    z-index: 150;
    top: 77px;
    right: 0;
    overflow: hidden;
    width: 100%;
    pointer-events: none;
    .mobile-menu__user-active & {
      pointer-events: auto;
    }
  }

  .site-global-actions-header {
    background-color: #fff;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    position: relative;
    z-index: 999;
    width: 100%;
    pointer-events: auto;
    @include flex-direction(column);
    @include transform(translateY(-103%));
    will-change: transform;
    @include transition(all 130ms ease-in);
    .mobile-menu__user-active & {
      @include transition(all 330ms ease-out);
      @include transform(none);
    }
  }
}

//##################
// end header
//##################
