html,
body {
  height: 100%;
}

#wrapper {
  @include display-flex;
  @include flex-direction(column);
  height: 100%;
  position: relative;
}

#page-content-wrapper {
  @include flex(1 0 auto);
}

.container-wrap__footer {
  @include flex(0 0 auto);
}

.main-content {
  padding-bottom: 20px;
  padding-top: 20px;
  @include breakpoint($screen-sm) {
    padding-top: 40px;
  }
}

.section-with-sidebar {
  @extend .clearfix;
  // margin-bottom: 30px;
  // @include breakpoint($screen-md) {
  //   margin-bottom: 60px;
  // }
}

.sidebar-left {
  display: none;
  @include breakpoint($screen-sm) {
    width: 180px;
    margin-right: 20px;
    float: left;
    display: block;
  }
  @include breakpoint($screen-md) {
    width: 270px;
    margin-right: 30px;
  }
}


.section-with-sidebar-content {
  @include breakpoint($screen-sm) {
    width: calc(100% - 200px);
    float: left;
  }
  @include breakpoint($screen-md) {
    width: calc(100% - 300px);
    float: left;
  }
}